<div class="col-md-12">
    <div class="panel panel-primary forum-list-panel">
        <div class="panel-heading">
            <h3 id="GChatPanelTitle" class="panel-title">
                <i class="fa fa-comments-o"></i> Guild Chat
                <span id="usrLoading" class="pull-right small-lighter"><i class="fa fa-spinner fa-spin"></i> Loading the list of users...</span>
            </h3>
        </div>

        <div class="panel-body chat-container no-padding-bottom">
            <div class="row">
                <div class="col-md-10 col-sm-12 chat-messages">
                    <div class="msg-container nano">
                        <ul class="list-unstyled chat-msg-list nano-content">

                            {% for message in chatMessages %}
                                <li>
                                    <small data-timestamp="{{ message.timestamp }}" class="small-lighter chat-timestamp">[ Loading ] </small> <strong>{{ message.sentBy }}:</strong> <span class="guild-chat-msg">{{ message.message | raw }}</span>
                                </li>
                            {% endfor %}

                        </ul>
                    </div>

                </div>

                <div class="col-md-2 hidden-sm hidden-xs chat-users">
                    <div class="chat-usr-container nano">
                        <ul class="list-unstyled chat-users-list nano-content">

                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                {{ form_start(chatForm, {"attr": {"class": "custom", "id": "chatForm", "autocomplete": "off"}, "action": path('rizzen_guild_chat_post', {'subdomain': guild.slug, }) }) }}
                    {{ form_errors(chatForm) }}

                    <div id="chatInput" class="form-group no-margin">
                        {{ form_widget(chatForm.message, { 'attr': {'class': 'guild-chat-input form-control', 'placeholder': 'chat_placeholder', "pattern": ".{2,250}"} }) }}
                    </div>

                    {{ form_rest(chatForm) }}

                {{ form_end(chatForm) }}
            </div>
        </div>

    </div>
</div>
