<div class="col-md-12">
    <div class="panel panel-info forum-list-panel">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-newspaper-o"></i> Latest blog post</h3>
        </div>

        <div class="panel-body{% if latestBlogPost %} blog-panel{% endif %}">
            {% if latestBlogPost %}
                <a class="blog-title" href="{{ path('rizzen_blog_post', {'subdomain': guild.slug, 'slug': latestBlogPost.slug}) }}"><h3 class="no-margin-top">{{ latestBlogPost.title }}</h3></a>
                <hr/>
                <p>
                    {{ latestBlogPost.content | raw }}
                </p>
                <hr class="blog-hr"/>
                <p class="text-right writen-by">
                    <small>Written by <strong><a href="{{ path('rizzen_profile_see', {'username': latestBlogPost.creator.username}) }}">{{ latestBlogPost.creator.username }}</a></strong>, {{ latestBlogPost.date | date() }} in the "<strong><a href="{{ path('rizzen_blog_category_see', {'subdomain': guild.slug, 'slug': latestBlogPost.category.slug}) }}">{{ latestBlogPost.category.title }}</a></strong>" category.{% if permissions.canEditBlogPost or permissions.canWriteBlogPost %} | <a class="btn btn-xs btn-primary" href="{{ path('rizzen_blog_admin_edit', {'subdomain': guild.slug, 'slug': latestBlogPost.slug}) }}"><i class="fa fa-pencil-square"></i> Edit</a>{% endif %}</small>
                </p>
            {% else %}
                <div class="text-center">
                    <strong>There's nothing here!</strong>
                    <br/>
                    <small class="small-lighter">We haven't posted anything in our blog yet</small>
                </div>

            {% endif %}
        </div>

    </div>
</div>
