<div class="col-md-12">
    <div class="panel panel-primary forum-list-panel">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-comments"></i> Threads recently active</h3>
        </div>

        {% if activeThreads | length >= 1 %}
            {% for thread in activeThreads %}
                <div class="forum-list-subcat {% if loop.index is even %}forum-list-alternate{% endif %}">
                    <div class="row">

                        <div class="col-xs-9">
                            <h4 class="forum-admin-subcat-title">
                                <a class="dashboardEventTitle"
                                   title="Go to the forum thread"
                                   href="{{ path('rizzen_forum_thread', {'subdomain': guild.slug, 'slug': thread.subcatSlug, 'threadSlug': thread.threadSlug}) }}">
                                    <i class="fa fa-external-link-square"></i> {{ thread.threadTitle }}
                                </a>
                            </h4>
                            <p>
                                <span class="hidden-xs">
                                    <i class="fa fa-info-circle"></i>
                                    <strong>{{ thread.categoryTitle }} </strong>
                                    <i class="fa fa-angle-double-right"></i>

                                    <strong> <a href="{{ path('rizzen_forum_subcat', {'subdomain': guild.slug, 'slug': thread.subcatSlug}) }}">{{ thread.subcatTitle }}</a></strong> |
                                </span>

                                <i class="fa fa-comment"></i> Last message by: <strong><a href="{{ path('rizzen_profile_see', {'username': thread.updatedBy}) }}">{{ thread.updatedBy }}</a></strong>

                            </p>
                        </div>


                        <div class="col-xs-3">
                            <div class="startInWrap">
                                <div class="threadTimestamp" data-timestamp="{{ thread.updateDate }}">
                                    <span class="small-lighter"><i class="fa fa-spinner fa-spin"></i> Loading...</span>
                                </div>
                                <small class="small-lighter hidden-xs"><i class="fa fa-clock-o"></i></small>
                                <small class="small-lighter threadTimestampAgo hidden-xs" data-timestamp="{{ thread.updateDate }}">
                                    <small class="small-lighter"><i class="fa fa-spinner fa-spin"></i> Loading...</small>
                                </small>
                            </div>
                        </div>

                    </div>
                </div>
                <hr class="no-margin"/>
            {% endfor %}
        {% else %}
            <div class="panel-body">
                <div class="text-center">
                    <p><strong>There's nothing here!</strong></p>
                    <small class="small-lighter">Nothing happened on the forum yet</small>
                </div>
            </div>
        {% endif %}

    </div>
</div>
