<div class="col-md-12">
    <div id="guildEvents" class="panel panel-primary forum-list-panel">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-calendar"></i> Upcoming events</h3>
        </div>

        {% if upcomingEvents | length >= 1 %}
            {% for event in upcomingEvents %}
                <div class="forum-list-subcat {% if loop.index is even %}forum-list-alternate{% endif %}">
                    <div class="row">

                        <div class="col-xs-9">
                            <h4 class="forum-admin-subcat-title">
                                <a class="dashboardEventTitle"
                                   title="Go to the event page"
                                   href="{{ path('rizzen_event_see', {'subdomain': guild.slug, 'dateId': event.dateId, 'eventSlug': event.slug}) }}">
                                    <i class="fa fa-external-link-square"></i> {{ event.title }}
                                </a>
                            </h4>
                            <p>
                                {% if event.open %}<i title="Registrations open" class="fa fa-unlock-alt"></i>{% else %}<i title="Registrations locked" class="fa fa-lock"></i>{% endif %} |
                                <strong><i class="fa fa-info-circle"></i></strong>
                                <span title="The status of your registration in the event">
                                    Status:
                                    {% set isInEvent = false %}
                                    {% if event.registrations | length > 0 and upcomingRegisteredEvents | length > 0 %}
                                        {% for registration in event.registrations if registration in upcomingRegisteredEvents %}

                                            {% set isInEvent = true %}

                                            {% if registration.state is constant('Rizzen\\CalendarBundle\\Constants\\RegistrationStates::PENDING') %}
                                            <span class="label label-info"><i class="fa fa-question-circle"></i> PENDING</span>
                                            {% elseif registration.state is constant('Rizzen\\CalendarBundle\\Constants\\RegistrationStates::ACCEPTED') %}
                                            <span class="label label-success"><i class="fa fa-check"></i> ACCEPTED</span>
                                            {% elseif registration.state is constant('Rizzen\\CalendarBundle\\Constants\\RegistrationStates::REFUSED') %}
                                            <span class="label label-danger"><i class="fa fa-close"></i> REFUSED</span>
                                            {% elseif registration.state is constant('Rizzen\\CalendarBundle\\Constants\\RegistrationStates::INVITED') %}
                                            <span class="label label-primary"><i class="fa fa-envelope"></i> INVITED</span>
                                            {% endif %}

                                        {% endfor %}

                                    {% endif %}

                                    {% if isInEvent == false %}
                                        <span class="label"><i class="fa fa-exclamation-circle"></i> NOT REGISTERED</span>
                                    {% endif %}

                                </span>
                            </p>
                        </div>


                        <div class="col-xs-3">
                            <div class="startInWrap">
                                    <span class="upcomingEventTime" data-timestamp="{{ event.date | date('U') }}">
                                        <small class="small-lighter">Loading...</small>
                                    </span>
                                <br/>
                                <small class="small-lighter hidden-xs"><i class="fa fa-clock-o"></i> </small>
                                <small class="small-lighter hidden-xs startInDashboard" data-timestamp="{{ event.date | date('U') }}"><i class="fa fa-spinner fa-spin"></i> Loading...</small>
                            </div>
                        </div>

                    </div>
                </div>
                <hr class="no-margin"/>
            {% endfor %}
        {% else %}
            <div class="panel-body">
                <div class="text-center">
                    <p><strong>There's nothing here!</strong></p>
                    <small class="small-lighter">No upcoming event were found</small>
                </div>
            </div>
        {% endif %}

    </div>
</div>
