{% extends '::base.html.twig' %}
{% block title %}Emails - Options - {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb-arrow">
                <li><a href="{{ path('rizzen_main_homepage') }}"><i class="fa fa-home"></i> Dashboard</a></li>
                <li class="active"><span><i class="fa fa-wrench"></i> Options</span></li>
            </ol>
        </div>
    </div>

    <div class="row">
        {% include 'RizzenUserBundle:Options:sidebar.html.twig' with {'currentPage': 'email'} %}

        <div class="col-md-9">
            {{ form_start(form, {"action": path('rizzen_options_email') }) }}

                <div class="row">

                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-envelope"></i> Emails</h3>
                            </div>

                            <div class="panel-body">
                                <h5 class="no-margin">Send me an email when:</h5>
                            </div>
                            <ul class="list-group list-options-form">
                                <li class="list-group-item">I get invited to an event <span class="pull-right">{{ form_widget(form.receiveEmailForEventInvite, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Yes', 'data-off': 'No', 'data-onstyle': 'success', 'data-offstyle': 'danger', 'data-size': 'mini'} }) }}</span></li>
                                <li class="list-group-item">An event is about to start <span class="pull-right">{{ form_widget(form.receiveEmailForEventReminder, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Yes', 'data-off': 'No', 'data-onstyle': 'success', 'data-offstyle': 'danger', 'data-size': 'mini'} }) }}</span></li>
                                <li class="list-group-item">A guild event happened (Ban, kick) <span class="pull-right">{{ form_widget(form.receiveEmailForGuildEvent, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Yes', 'data-off': 'No', 'data-onstyle': 'success', 'data-offstyle': 'danger', 'data-size': 'mini'} }) }}</span></li>
                                <li class="list-group-item">A new conversation has been created <span class="pull-right">{{ form_widget(form.receiveEmailForNewConversation, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Yes', 'data-off': 'No', 'data-onstyle': 'success', 'data-offstyle': 'danger', 'data-size': 'mini'} }) }}</span></li>
                                <li class="list-group-item">I don't want to receive any emails <span class="pull-right">{{ form_widget(form.receiveEmailDisabled, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Yes', 'data-off': 'No', 'data-onstyle': 'success', 'data-offstyle': 'danger', 'data-size': 'mini'} }) }}</span></li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div>
                    {{ form_widget(form._token) }}
                    <button type="submit" class="btn btn-block btn-primary"><i class="fa fa-check"></i> Submit and modify my preferences</button>
                </div>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script>
        $(function(){function o(){$(e).prop("checked")||$(t).prop("checked")||$(c).prop("checked")||$(i).prop("checked")||$(r).prop("checked")||$(r).bootstrapToggle("on")}var e=$("#grost_options_email_receiveEmailForEventInvite"),t=$("#grost_options_email_receiveEmailForEventReminder"),c=$("#grost_options_email_receiveEmailForGuildEvent"),i=$("#grost_options_email_receiveEmailForNewConversation"),r=$("#grost_options_email_receiveEmailDisabled");$(e).change(function(){$(this).prop("checked")&&$(r).bootstrapToggle("off"),o()}),$(t).change(function(){$(this).prop("checked")&&$(r).bootstrapToggle("off"),o()}),$(c).change(function(){$(this).prop("checked")&&$(r).bootstrapToggle("off"),o()}),$(i).change(function(){$(this).prop("checked")&&$(r).bootstrapToggle("off"),o()}),$(r).change(function(){$(this).prop("checked")&&($(e).bootstrapToggle("off"),$(t).bootstrapToggle("off"),$(c).bootstrapToggle("off"),$(i).bootstrapToggle("off")),o()})}),$(function(){function o(){$(e).prop("checked")||$(t).prop("checked")||$(c).prop("checked")||$(i).prop("checked")||$(i).bootstrapToggle("on")}var e=$("#grost_options_messenger_receiveNotificationForEventInvite"),t=$("#grost_options_messenger_receiveNotificationForEventReminder"),c=$("#grost_options_messenger_receiveNotificationForGuildEvent"),i=$("#grost_options_messenger_receiveNotificationDisabled");$(i).change(function(){$(this).prop("checked")&&($(e).bootstrapToggle("off"),$(t).bootstrapToggle("off"),$(c).bootstrapToggle("off")),o()}),$(e).change(function(){$(this).prop("checked")&&$(i).bootstrapToggle("off"),o()}),$(t).change(function(){$(this).prop("checked")&&$(i).bootstrapToggle("off"),o()}),$(c).change(function(){$(this).prop("checked")&&$(i).bootstrapToggle("off"),o()})});
    </script>
{% endblock %}
