{% extends '::base.html.twig' %}
{% block title %}Options - {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb-arrow">
                <li><a href="{{ path('rizzen_main_homepage') }}"><i class="fa fa-home"></i> Dashboard</a></li>
                <li class="active"><span><i class="fa fa-wrench"></i> Options</span></li>
            </ol>
        </div>
    </div>

    <div class="row">
        {% include 'RizzenUserBundle:Options:sidebar.html.twig' with {'currentPage': 'general'} %}

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-user-secret"></i> Modify your password</h3>
                        </div>

                        <div class="panel-body">
                            {% if hasChangePasswordError == true %}
                            <div class="alert alert-danger">
                                <strong><i class="fa fa-close"></i> Error!</strong><br/>Your current password is incorrect or the new password wasn't the same as the verification
                            </div>
                            {% endif %}
                            {{ render(controller('FOSUserBundle:ChangePassword:changePassword')) }}
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-clock-o"></i> Modify your timezone</h3>
                        </div>

                        <div class="panel-body">
                            <div id="timezoneFound" class="alert alert-success d-none">
                                <strong><i class="fa fa-check"></i> Timezone found!</strong><br/>Please verify that the timezone is correct.
                            </div>

                            <div id="timezoneNotFound" class="alert alert-danger d-none">
                                <strong><i class="fa fa-frown-o"></i> Timezone not found</strong><br/>Sorry, please select your timezone manually.
                            </div>

                            {% form_theme timezoneForm 'bootstrap_3_layout.html.twig' %}

                            {{ form_start(timezoneForm, {"action": path('rizzen_options_index') }) }}

                                {{ form_widget(timezoneForm) }}

                                <div>
                                    <button onclick="detectTimezone(); return false;" class="btn btn-success btn-block btn-xs"><i class="fa fa-search"></i> Try to guess the timezone</button>

                                    <button type="submit" class="btn btn-block btn-primary"><i class="fa fa-check"></i> Modify the timezone</button>
                                </div>

                            {{ form_end(timezoneForm) }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>
    <script src="{{ asset('bower_components/chosen_v1.4.1/chosen.jquery.min.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('bower_components/chosen_v1.4.1/chosen.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/chosen/bootstrap-theme.css') }}"/>

    <script>
        $('#grost_user_timezone_timezone').chosen();
    </script>

{% endblock %}
