{% extends '::base.html.twig' %}
{% block title %}Messenger - Options - {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb-arrow">
                <li><a href="{{ path('rizzen_main_homepage') }}"><i class="fa fa-home"></i> Dashboard</a></li>
                <li class="active"><span><i class="fa fa-wrench"></i> Options</span></li>
            </ol>
        </div>
    </div>

    <div class="row">
        {% include 'RizzenUserBundle:Options:sidebar.html.twig' with {'currentPage': 'messenger'} %}

        <div class="col-md-9">

            {{ form_start(form, {"action": path('rizzen_options_messenger') }) }}

                <div class="row">

                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-envelope"></i> Messenger</h3>
                            </div>

                            <div class="panel-body">
                                <h5 class="no-margin">I want to receive messages from:</h5>
                            </div>
                            <ul class="list-group list-options-form">
                                <li class="list-group-item">Anybody <span class="pull-right">{{ form_widget(form.receiveMessageFromAnybody, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Yes', 'data-off': 'No', 'data-onstyle': 'success', 'data-offstyle': 'danger', 'data-size': 'mini'} }) }}</span></li>
                                <li class="list-group-item">Friends only <span class="pull-right">{{ form_widget(form.receiveMessageFromFriendsOnly, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Yes', 'data-off': 'No', 'data-onstyle': 'success', 'data-offstyle': 'danger', 'data-size': 'mini'} }) }}</span></li>
                                <li class="list-group-item">Nobody <span class="pull-right">{{ form_widget(form.receiveMessageFromNobody, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Yes', 'data-off': 'No', 'data-onstyle': 'success', 'data-offstyle': 'danger', 'data-size': 'mini'} }) }}</span></li>
                                <li class="list-group-item"><small>If you set it to nobody, Grost admins will still be able to contact you</small></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bullhorn"></i> Notification</h3>
                            </div>

                            <div class="panel-body">
                                <h5 class="no-margin">Send me a notification when:</h5>
                            </div>
                            <ul class="list-group list-options-form">
                                <li class="list-group-item">I get invited to an event <span class="pull-right">{{ form_widget(form.receiveNotificationForEventInvite, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Yes', 'data-off': 'No', 'data-onstyle': 'success', 'data-offstyle': 'danger', 'data-size': 'mini'} }) }}</span></li>
                                <li class="list-group-item">An event is about to start <span class="pull-right">{{ form_widget(form.receiveNotificationForEventReminder, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Yes', 'data-off': 'No', 'data-onstyle': 'success', 'data-offstyle': 'danger', 'data-size': 'mini'} }) }}</span></li>
                                <li class="list-group-item">A guild event happened (Ban, kick) <span class="pull-right">{{ form_widget(form.receiveNotificationForGuildEvent, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Yes', 'data-off': 'No', 'data-onstyle': 'success', 'data-offstyle': 'danger', 'data-size': 'mini'} }) }}</span></li>
                                <li class="list-group-item">I don't want to be notified of anything <span class="pull-right">{{ form_widget(form.receiveNotificationDisabled, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Yes', 'data-off': 'No', 'data-onstyle': 'success', 'data-offstyle': 'danger', 'data-size': 'mini'} }) }}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div>
                    {{ form_widget(form._token) }}
                    <button type="submit" class="btn btn-block btn-primary"><i class="fa fa-check"></i> Submit and modify my preferences</button>
                </div>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script>
        $(function(){function o(){$(e).prop("checked")||$(t).prop("checked")||$(r).prop("checked")||$(r).bootstrapToggle("on")}var e=$("#grost_options_messenger_receiveMessageFromAnybody"),t=$("#grost_options_messenger_receiveMessageFromFriendsOnly"),r=$("#grost_options_messenger_receiveMessageFromNobody");$(e).change(function(){$(this).prop("checked")&&($(t).bootstrapToggle("off"),$(r).bootstrapToggle("off")),o()}),$(r).change(function(){$(this).prop("checked")&&($(t).bootstrapToggle("off"),$(e).bootstrapToggle("off")),o()}),$(t).change(function(){$(this).prop("checked")&&($(e).bootstrapToggle("off"),$(r).bootstrapToggle("off")),o()})}),$(function(){function o(){$(e).prop("checked")||$(t).prop("checked")||$(r).prop("checked")||$(c).prop("checked")||$(c).bootstrapToggle("on")}var e=$("#grost_options_messenger_receiveNotificationForEventInvite"),t=$("#grost_options_messenger_receiveNotificationForEventReminder"),r=$("#grost_options_messenger_receiveNotificationForGuildEvent"),c=$("#grost_options_messenger_receiveNotificationDisabled");$(c).change(function(){$(this).prop("checked")&&($(e).bootstrapToggle("off"),$(t).bootstrapToggle("off"),$(r).bootstrapToggle("off")),o()}),$(e).change(function(){$(this).prop("checked")&&$(c).bootstrapToggle("off"),o()}),$(t).change(function(){$(this).prop("checked")&&$(c).bootstrapToggle("off"),o()}),$(r).change(function(){$(this).prop("checked")&&$(c).bootstrapToggle("off"),o()})});
    </script>
{% endblock %}
