<div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
        <li {% if currentPage == 'general' %}class="active"{% endif %}><a href="{{ path('rizzen_options_index') }}"><i class="fa fa-wrench"></i> General Options</a></li>
        <li {% if currentPage == 'messenger' %}class="active"{% endif %}><a href="{{ path('rizzen_options_messenger') }}"><i class="fa fa-inbox"></i> Messenger Options</a></li>
        <li {% if currentPage == 'email' %}class="active"{% endif %}><a href="{{ path('rizzen_options_email') }}"><i class="fa fa-envelope"></i> Emails Options</a></li>
   </ul>
</div>
