{% extends '::base.html.twig' %}

{% block title %}Blog - {% endblock %}

{% block TopBarButtons %}
    {% if permissions.canSeeAdminPanel %}
        {% include '::administrationDropdown.html.twig' %}
    {% endif %}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb-arrow">
                <li><a href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}"><i class="fa fa-home"></i> {{ guild.title }}</a></li>
                <li><span><i class="fa fa-rss"></i> Blog</span></li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>{{ guild.title }} <small>Blog</small></h1>
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    {% if pagination.getTotalItemCount == 0 %}
                        <div class="well category-list-well text-center">
                            <h4 class="no-margin-top">Sorry, there is nothing here yet!</h4>
                            <small>No blog post has been posted yet.</small>
                        </div>
                    {% else %}
                        {% for post in pagination %}

                            <div class="panel panel-info forum-list-panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-newspaper-o"></i> {{ post.title }}</h3>
                                </div>

                                <div class="panel-body blog-panel">

                                    <a class="blog-title" href="{{ path('rizzen_blog_post', {'subdomain': guild.slug, 'slug': post.slug}) }}"><h3 class="no-margin-top">{{ post.title }}</h3></a>
                                    <hr/>
                                    <p>
                                        {{ post.content | raw }}
                                    </p>
                                    <hr class="blog-hr"/>
                                    <p class="text-right writen-by">
                                        <small>Written by <strong><a href="{{ path('rizzen_profile_see', {'username': post.creator.username}) }}">{{ post.creator.username }}</a></strong>, {{ post.date | date() }} in the "<strong><a href="{{ path('rizzen_blog_category_see', {'subdomain': guild.slug, 'slug': post.category.slug}) }}">{{ post.category.title }}</a></strong>" category.{% if permissions.canEditBlogPost or permissions.canWriteBlogPost %} | <a class="btn btn-xs btn-primary" href="{{ path('rizzen_blog_admin_edit', {'subdomain': guild.slug, 'slug': post.slug}) }}"><i class="fa fa-pencil-square"></i> Edit</a>{% endif %}</small>
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            {% if permissions.canWriteBlogPost %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-cogs"></i> Administration
                            </div>

                            <div class="list-group">
                                <a class="list-group-item" href="{{ path('rizzen_blog_admin_write', {'subdomain': subdomain}) }}"><i class="fa fa-pencil"></i> New blog post</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-bars"></i> Categories
                        </div>

                        <div class="list-group">
                            {% for category in guild.blog.categories %}
                                <a class="list-group-item" href="{{ path('rizzen_blog_category_see', {'subdomain': subdomain, 'slug': category.slug}) }}">{{ category.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block customCSS %}
    {% if guild.customCSSEnabled %}
        <link rel="stylesheet" href="{{ asset(guild.customCSSFile) }}"/>
    {% endif %}
{% endblock %}
