{% if comment.isResponse == false %}
<li style="display:none" id="comment-container-{{ comment.id }}" class="media">
    <a class="pull-left" href="{{ path('rizzen_profile_see', {'username': comment.sender.username}) }}">
        <img class="media-object comment-avatar" src="{{ comment.sender.avatar.webPath | imagine_filter('avatar_forum') }}" alt="{{ comment.sender.username }} Avatar">
    </a>
    <div id="{{ comment.id }}-comment" class="media-body">
        <div class="media-min-height">
            <h4 class="media-heading">{{ comment.sender.username }} <small>commented {{ time_diff(comment.date) }}</small><span style="display:none;" id="pop-{{ comment.id }}" data-container="body" data-toggle="popover" data-placement="left" data-content='<a id="button-del-com-{{ comment.id }}" class="btn btn-danger" onclick="ajaxDeleteComment({{ comment.id }});return false;" href="{{ path('rizzen_blog_comment_delete', {"subdomain": comment.target.blog.guild.slug, "slug": comment.target.slug, "commentId": comment.id}) }}">Delete the comment</a>' class="glyphicon glyphicon-remove pull-right resp-link cursor-pointer remove-comment"></span></h4>
            {{ comment.content|raw }}
            <br>
            <span class="pull-right"><a onclick="setResponseTarget({{ comment.id }}, '{{ comment.sender.username }}');return false;" class="resp-link" href="#">Reply</a></span>
        </div>
    </div>
</li>
{% endif %}
{% if comment.isResponse == true %}
<div style="display:none" class="media">
    <a class="pull-left" href="{{ path('rizzen_profile_see', {'username': comment.sender.username}) }}">
        <img class="media-object comment-avatar" src="{{ comment.sender.avatar.webPath | imagine_filter('avatar_forum') }}" alt="{{ comment.sender.username }} Avatar">
    </a>
    <div class="media-body">
        <h4 class="media-heading">{{ comment.sender.username }} <small>commented {{ time_diff(comment.date) }}</small><span style="display:none;" id="pop-{{ comment.id }}" data-container="body" data-toggle="popover" data-placement="left" data-content='<a id="button-del-com-{{ comment.id }}" class="btn btn-danger" onclick="ajaxDeleteComment({{ comment.id }});return false;" href="{{ path('rizzen_blog_comment_delete', {"subdomain": comment.target.blog.guild.slug, "slug": comment.target.slug, "commentId": comment.id}) }}">Delete the comment</a>' class="glyphicon glyphicon-remove pull-right resp-link cursor-pointer remove-comment"></span></h4>
        {{ comment.content|raw }}
    </div>
</div>
{% endif %}
