{% extends '::base.html.twig' %}

{% block title %}Blog - {% endblock %}

{% block TopBarButtons %}
    {% if permissions.canSeeAdminPanel %}
        {% include '::administrationDropdown.html.twig' %}
    {% endif %}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb-arrow">
                <li><a href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}"><i class="fa fa-home"></i> {{ guild.title }}</a></li>
                <li><a href="{{ path('rizzen_blog_see', {'subdomain': subdomain}) }}"><i class="fa fa-rss"></i> Blog</a></li>
                <li><span><i class="fa fa-newspaper-o"></i> {{ post.title }}</span></li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>{{ post.title }}</h1>
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            {% if post.visible == false %}
                <div class="alert alert-danger">
                    <strong><i class="fa fa-warning"></i> Warning:</strong> This post is currently invisible to anyone that doesn't have the permissions to create or edit posts in the blog.
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <div class="well category-list-well">
                        <p>
                            {{ post.content | raw }}
                        </p>
                        <br/>
                        <p class="text-right no-margin-bottom">
                            <small>Written by <strong><a href="{{ path('rizzen_profile_see', {'username': post.creator.username}) }}">{{ post.creator.username }}</a></strong>, {{ post.date | date() }} in the "<strong><a href="{{ path('rizzen_blog_category_see', {'subdomain': subdomain, 'slug': post.category.slug}) }}">{{ post.category.title }}</a></strong>" category.</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <script>
                    var moderationButtonsEnabled = {% if permissions.canCreateEvent == true %}true{% else %}false{% endif %};
                </script>
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><i class="fa fa-comments-o"></i> Comments</div>
                        <div class="panel-body">
                            <ul id="comments" class="media-list">
                                {% if comments|length > 0 %}

                                    {% for comment in comments %}
                                        {% if comment.isResponse == false %}
                                            <li id="comment-container-{{ comment.id }}" class="media">
                                                <a class="pull-left" href="{{ path('rizzen_profile_see', {'username': comment.sender.username}) }}">
                                                    <img class="media-object comment-avatar" src="{{ comment.sender.avatar.webPath | imagine_filter('avatar_forum') }}" alt="{{ comment.sender.username }} Avatar">
                                                </a>
                                                <div id="{{ comment.id }}-comment" class="media-body">
                                                    <div class="media-min-height">
                                                        <h4 class="media-heading">{{ comment.sender.username }} <small>commented {{ time_diff(comment.date) }}</small> {% if permissions.canCreateEvent %}<span id="pop-{{ comment.id }}" data-container="body" data-toggle="popover" data-placement="left" data-content='<a id="button-del-com-{{ comment.id }}" class="btn btn-danger" onclick="ajaxDeleteComment({{ comment.id }});return false;" href="{{ path('rizzen_blog_comment_delete', {"subdomain": subdomain, "slug": post.slug, "commentId": comment.id}) }}">Delete the comment</a>' class="glyphicon glyphicon-remove pull-right resp-link cursor-pointer remove-comment"></span>{% endif %}</h4>
                                                        {{ comment.content|raw }}
                                                        <br>
                                                        <span class="pull-right"><a onclick="setResponseTarget({{ comment.id }}, '{{ comment.sender.username }}');return false;" class="resp-link" href="#">Reply</a></span>
                                                    </div>
                                                    {% for response in comment.responses %}
                                                        {% if response.visible == true %}
                                                            <div id="comment-container-{{ response.id }}" class="media">
                                                                <a class="pull-left" href="{{ path('rizzen_profile_see', {'username': response.sender.username}) }}">
                                                                    <img class="media-object comment-avatar" src="{{ response.sender.avatar.webPath | imagine_filter('avatar_forum') }}" alt="{{ response.sender.username }} Avatar">
                                                                </a>
                                                                <div class="media-body">
                                                                    <h4 class="media-heading">{{ response.sender.username }} <small>commented {{ time_diff(response.date) }}</small>{% if permissions.canCreateEvent %}<span id="pop-{{ response.id }}" data-container="body" data-toggle="popover" data-placement="left" data-content='<a id="button-del-com-{{ response.id }}" class="btn btn-danger" onclick="ajaxDeleteComment({{ response.id }});return false;" href="{{ path('rizzen_blog_comment_delete', {"subdomain": subdomain, "slug": post.slug, "commentId": comment.id}) }}">Delete the comment</a>' class="glyphicon glyphicon-remove pull-right resp-link cursor-pointer remove-comment"></span>{% endif %}</h4>
                                                                    {{ response.content|raw }}
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <p id="noCommentText"><i>This post has not received any comment yet.</i></p>
                                {% endif %}
                            </ul>

                            <hr>

                            {{ form_start(form, {"attr":{"class": "comment-form", "autocomplete": "off"}, "action": path('rizzen_blog_comment_send', {"subdomain": subdomain, "slug": post.slug})}) }}

                                {{ form_widget(form.content, { 'attr': {'class': 'form-control', 'style': 'width:100%;height:80px;'} }) }}

                                {{ form_widget(form.responseTarget, { 'attr': {'class': 'comment-target-input'} }) }}

                                {{ form_widget(form._token) }}
                                <br/>
                                <span class="response-form-alert resp-link">Replying to: <span class="response-form-alert-name"></span> <i><a onclick="resetResponseTarget();return false;" href="#">(Cancel)</a></i></span>
                                <button id="commentSubmitButton" autocomplete="off" type="submit" class="btn btn-primary pull-right"><span class="fa fa-send"></span> Send</button>
                            {{ form_end(form) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            {% if permissions.canWriteBlogPost or permissions.canEditBlogPost %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-cogs"></i> Administration
                            </div>

                            <div class="list-group">
                                {% if permissions.canWriteBlogPost %}
                                    <a class="list-group-item" href="{{ path('rizzen_blog_admin_write', {'subdomain': subdomain}) }}"><i class="fa fa-pencil"></i> New blog post</a>
                                {% endif %}

                                {% if permissions.canEditBlogPost %}
                                    <a class="list-group-item" href="{{ path('rizzen_blog_admin_edit', {'subdomain': subdomain, 'slug': post.slug}) }}"><i class="fa fa-pencil-square"></i> Edit this post</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-bars"></i> Categories
                        </div>

                        <div class="list-group">
                            {% for category in guild.blog.categories %}
                                <a class="list-group-item" href="{{ path('rizzen_blog_category_see', {'subdomain': subdomain, 'slug': category.slug}) }}">{{ category.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('ckeditor/adapters/jquery.js') }}"></script>

    <script type="text/javascript">
        $('[data-toggle="popover"]').popover({html: 'true'});
    </script>

    <script type="text/javascript">
        var permissions = {{ permissionsJSON | raw }};

        var postChannel = pusher.subscribe('{{ post.socketTopic }}');

        postChannel.bind('message', function(data) {
            window[data.subtopic](data);
        });

        CKEDITOR.env.isCompatible = true;
        $('#grost_post_comment_content').ckeditor({
            toolbar: 'Comment'
        });

        $(".comment-form").on("submit", function() {
            $("#commentSubmitButton").attr("disabled", true).removeClass('btn-primary').html('<span class="fa fa-send"></span> Sending the comment');
            var serializedForm = $(".comment-form").serialize();
            $.ajax({
                url: '{{ path('rizzen_blog_comment_send', {"subdomain": subdomain, "slug": post.slug}) }}',
                type: 'POST',
                data: serializedForm,

                success: function (data) {
                    $('#commentSubmitButton').addClass('btn-success').html('<span class="fa fa-check"></span> Comment sent!');
                    $('#grost_post_comment_content').val('');
                    resetResponseTarget();
                    setTimeout(function () {
                        $("#commentSubmitButton").attr("disabled", false).removeClass('btn-success').addClass('btn-primary').html('<span class="fa fa-send"></span> Send')
                    }, 2000);
                },
                error: function() {
                    $('#commentSubmitButton').addClass('btn-danger').prop('disabled', false).html('An error occurred.');
                }
            });
            return false;
        });
    </script>
{% endblock %}

{% block customCSS %}
    {% if guild.customCSSEnabled %}
        <link rel="stylesheet" href="{{ asset(guild.customCSSFile) }}"/>
    {% endif %}
{% endblock %}
