<figure id="screenshot{{ screenshot.id }}" class="col-md-3 col-xs-6 col-sm-4 thumbnailContainer" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="{{ asset(screenshot.webPath) }}" itemprop="contentUrl" data-size="{{ screenshot.width }}x{{ screenshot.height }}">
        <img id="{{ screenshot.id }}" class="img-rounded img-responsive center-block bootflat-shadow screenshot-thumbnail img-list-hover" src="{{ screenshot.webPath | imagine_filter('screenshot_thumbnail') }}" itemprop="thumbnail" alt="Screenshot from {{ screenshot.creator.username }}" />
    </a>
</figure>
