<p><strong>{{ invitedBy }}</strong> invited <strong>{{ invited }}</strong> to the conversation.</p>
<br/>
<p><small><i class="lighter-text">This message was sent automatically by the messaging system.</i></small></p>
