{% extends '::base.html.twig' %}

{% block title %}Blog - {% endblock %}

{% block TopBarButtons %}
    {% if permissions.canSeeAdminPanel %}
        {% include '::administrationDropdown.html.twig' %}
    {% endif %}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb-arrow">
                <li><a href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}"><i class="fa fa-home"></i> {{ guild.title }}</a></li>
                <li><a href="#"><i class="fa fa-cogs"></i> Blog Dashboard</a></li>
                <li class="active"><span><i class="fa fa-bars"></i> Manage Categories</span></li>
            </ol>
        </div>
    </div>

    <div class="row">
        {# Side navigation #}
        {% include '::administrationSideMenu.html.twig' with {'currentPage': 'blogCategories'} %}

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-block btn-primary" href="{{ path('rizzen_blog_admin_categories_new', {'subdomain': subdomain}) }}"><i class="fa fa-pencil"></i> Create a new category</a>
                    <br/>
                </div>
                <div class="col-md-12">
                    <div class="row">
                    {% for category in guild.blog.categories %}
                        <div class="col-md-3">
                            <div class="well category-list-well text-center">
                                <h4 class="no-margin">{{ category.title }}</h4>
                                <hr/>
                                {% if category.editable %}
                                    <a class="btn btn-info btn-xs" href="{{ path('rizzen_blog_admin_categories_edit', {'subdomain': subdomain, 'slug': category.slug}) }}"><i class="fa fa-pencil"></i> Edit the category</a>
                                {% else %}
                                    <button class="btn btn-primary btn-xs disabled"><i class="fa fa-pencil"></i> Edit the category</button>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
