{% extends '::base.html.twig' %}
{% block title %}{{ guild.title }} - Blog Administration - {% endblock %}

{% block TopBarButtons %}

    {% include '::administrationDropdown.html.twig' %}

{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb-arrow">
                <li><a href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}"><i class="fa fa-home"></i> {{ guild.title }}</a></li>
                <li class="active"><span><i class="fa fa-cogs"></i> Administration Dashboard</span></li>
            </ol>
        </div>
    </div>

    <div class="row">

        {# Side navigation #}
        {% include '::administrationSideMenu.html.twig' with {'currentPage': 'blogDashboard'} %}

        <div class="col-md-9">

            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-primary forum-list-panel">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-newspaper-o"></i> Blog posts count</h3>
                        </div>

                        <div class="panel-body text-center">
                            <h2 class="no-margin-top">{{ guild.blog.posts | length }}</h2>
                            <hr/>
                            <strong>Blog posts</strong>
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="panel panel-primary forum-list-panel">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-newspaper-o"></i> Latest blog post</h3>
                        </div>

                        <div class="panel-body text-center">
                            <h3 class="no-margin-top">{{ latestBlogPost.title }}</h3>
                            <hr/>
                            <a class="btn btn-sm btn-primary btn-block" href="{{ path('rizzen_blog_post', { 'subdomain': subdomain, 'slug': latestBlogPost.slug }) }}"><i class="fa fa-eye"></i> View post</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


{% endblock %}
