{% extends '::base.html.twig' %}

{% block title %}{{ guild.title }} - New Post - Blog Administration - {% endblock %}

{% block TopBarButtons %}
    {% if permissions.canSeeAdminPanel %}
        {% include '::administrationDropdown.html.twig' %}
    {% endif %}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb-arrow">
                <li><a href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}"><i class="fa fa-home"></i> {{ guild.title }}</a></li>
                <li><a href="#"><i class="fa fa-cogs"></i> Blog Dashboard</a></li>
                <li><a href="{{ path('rizzen_blog_admin_posts', {'subdomain': subdomain}) }}"><i class="fa fa-newspaper-o"></i> Manage Posts</a></li>
                <li class="active"><span><i class="fa fa-pencil-square"></i> Editing</span></li>
            </ol>
        </div>
    </div>

    <div class="row">
        {# Side navigation #}
        {% include '::administrationSideMenu.html.twig' with {'currentPage': 'blogPosts'} %}

        <div class="col-md-9">
            {{ form_start(form, {"attr": {"class": "custom"}, "action": path('rizzen_blog_admin_edit', {"subdomain": subdomain, 'slug': post.slug}) }) }}

                {{ form_errors(form) }}

                <div class="row">
                    <div class="col-md-12">
                        {% if form_errors(form.title) %}
                            <div class="alert alert-danger">
                                <i class="fa fa-warning"></i> Your title must contain <strong>at least 5 characters and a maximum of 40</strong>
                            </div>
                            <div class="form-group has-error has-feedback">
                                {{ form_label(form.title, "Title:", { 'label_attr': {'class': 'control-label'} }) }}
                                {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder': "Title of the post"} }) }}
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                            </div>
                        {% else %}
                            {{ form_label(form.title, "Title:") }}<small class="pull-right small-lighter">Must contain between 5 and 40 characters</small>
                            {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder': "Title of the post"} }) }}
                        {% endif %}

                    </div>

                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12">

                        {% if form_errors(form.content) %}
                            <div class="alert alert-danger">
                                <i class="fa fa-warning"></i> The post must contain <strong>at least one character and a maximum of 20000</strong> (look at the counter on the left)
                            </div>
                        {% endif %}

                        {{ form_label(form.content, "Post:", { 'label_attr': {'class': 'control-label'} }) }}<small class="small-lighter pull-right">Characters used: <span data-toggle="tooltip"
                                                                                                                                                                            data-placement="bottom"
                                                                                                                                                                            title="This counter does include the HTML generated by the text editor"><span id="charCount">0</span>/20000*</span></small>
                        {{ form_widget(form.content, { 'attr': {'class': 'form-control'} }) }}
                        <br/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        {{ form_label(form.category, "Category:") }}
                        {{ form_widget(form.category) }}
                    </div>
                    <div class="col-md-6 col-xs-12">
                        {{ form_label(form.visible, "Visibility:") }}
                        {{ form_widget(form.visible, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Visible', 'data-off': 'Invisible', 'data-onstyle': 'success', 'data-offstyle': 'danger'} }) }}
                    </div>
                </div>

                {{ form_rest(form) }}
                <br/>
                <button type="submit" class="btn btn-block btn-info"><i class="fa fa-send"></i> Submit and edit this post</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('ckeditor/adapters/jquery.js') }}"></script>
    <script type="text/javascript">
        CKEDITOR.env.isCompatible = true;
        $('#grost_blog_new_post_content').ckeditor({
            toolbar: 'Forum'
        });

        $("select").selecter();

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        $(document).ready(function() {
            updateCharCount('#charCount', '#grost_blog_new_post_content');
        });

        for (var i in CKEDITOR.instances) {
            CKEDITOR.instances[i].on('change', function() {
                updateCharCount('#charCount', '#grost_blog_new_post_content');
            });
        }

    </script>
{% endblock %}


