{% extends '::base.html.twig' %}

{% block title %}Blog - {% endblock %}

{% block TopBarButtons %}
    {% if permissions.canSeeAdminPanel %}
        {% include '::administrationDropdown.html.twig' %}
    {% endif %}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb-arrow">
                <li><a href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}"><i class="fa fa-home"></i> {{ guild.title }}</a></li>
                <li><a href="#"><i class="fa fa-cogs"></i> Blog Dashboard</a></li>
                <li><a href="{{ path("rizzen_blog_admin_categories", {'subdomain': subdomain}) }}"><i class="fa fa-bars"></i> Manage Categories</a></li>
                <li class="active"><span><i class="fa fa-pencil"></i> New category</span></li>
            </ol>
        </div>
    </div>

    <div class="row">
        {# Side navigation #}
        {% include '::administrationSideMenu.html.twig' with {'currentPage': 'blogCategories'} %}

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    {{ form_start(form, {"attr": {"class": "custom"}, "action": path('rizzen_blog_admin_categories_new', {"subdomain": subdomain}) }) }}

                        {{ form_errors(form) }}

                        <div class="row">
                            {% if form_errors(form.title) %}
                                <div class="col-md-12">
                                    <div class="alert alert-danger">
                                        <strong><i class="fa fa-warning"></i></strong> The title must contain between 3 and 15 characters
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col-md-12">
                                {% if form_errors(form.title) %}
                                    <div class="form-group has-error has-feedback">
                                        {{ form_label(form.title, "Title:", { 'label_attr': {'class': 'control-label'} }) }}
                                        <small class="pull-right small-lighter">Must contain between 3 and 15 characters</small>
                                        {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder': "Title of the category"} }) }}
                                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    </div>
                                {% else %}
                                    {{ form_label(form.title, "Title:") }}<small class="pull-right small-lighter">Must contain between 3 and 15 characters</small>
                                    {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder': "Title of the category"} }) }}
                                {% endif %}
                            </div>
                        </div>


                        {{ form_rest(form) }}
                        <hr/>
                        <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-plus-square"></i> Submit and create the category</button>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
