{% extends '::base.html.twig' %}

{% block title %}{{ guild.title }} - Posts Management - Blog Administration - {% endblock %}

{% block TopBarButtons %}
    {% if permissions.canSeeAdminPanel %}
        {% include '::administrationDropdown.html.twig' %}
    {% endif %}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb-arrow">
                <li><a href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}"><i class="fa fa-home"></i> {{ guild.title }}</a></li>
                <li><a href="#"><i class="fa fa-cogs"></i> Blog Dashboard</a></li>
                <li class="active"><span><i class="fa fa-newspaper-o"></i> Manage Posts</span></li>
            </ol>
        </div>
    </div>

    <div class="row">
        {# Side navigation #}
        {% include '::administrationSideMenu.html.twig' with {'currentPage': 'blogPosts'} %}

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-block btn-primary" href="{{ path('rizzen_blog_admin_write', {'subdomain': subdomain}) }}"><i class="fa fa-pencil"></i> Write a new post</a>
                    <br/>
                </div>
            </div>
            <div class="well no-padding">
                {% for post in pagination %}
                    <div class="forum-list-subcat {% if loop.index is even %}forum-list-alternate{% endif %}">
                        <div class="row">
                            <a href="{{ path('rizzen_blog_post', {'subdomain': subdomain, 'slug': post.slug}) }}" class="text-color-reset">
                                <div class="col-md-10">
                                    <h4 class="no-margin">{{ post.title }}</h4>
                                    {% if post.visible %}
                                    <span class="label label-success"><i class="fa fa-eye"></i> Visible</span>
                                    {% else %}
                                    <span class="label label-danger"><i class="fa fa-eye-slash"></i> Invisible</span>
                                    {% endif %}
                                    <small>Post created by <strong>{{ post.creator.username }}</strong> {{ post.date | ago }} ({{ post.date | date() }})</small>
                                </div>
                            </a>

                            <div class="col-md-2">
                                <a class="btn btn-block forum-admin-subcat-btn btn-primary" href="{{ path('rizzen_blog_admin_edit', {'subdomain': subdomain, 'slug': post.slug}) }}"><i class="fa fa-pencil"></i> Edit</a>
                            </div>

                        </div>
                    </div>

                    <hr class="no-margin"/>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}


