{% extends '::base.html.twig' %}

{% block title %}Page not found - Error 404 - {% endblock %}

{% block topOfMainContainer %}

    <div id="nfBackground">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center hero-content">
                        <h2 class="no-margin">{{ random([
                            'Well, it seems like this page does not exits.',
                            'We looked everywhere, but we did not find this page.',
                            'Sorry, but this page does not exist.'
                            ]) }}</h2>
                        <br/>
                        <h3>The server returned this message:</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="well category-list-well text-center">
            <h1 class="no-margin">{{ status_code }}</h1>
            <h3 class="no-margin">{{ status_text }}</h3>
            <br/>
            <small>If this page does exist but you have trouble accessing it, please contact us at <a href="mailto:support@gro.st">support@gro.st</a></small>.
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <a class="btn btn-primary" href="{{ path('rizzen_main_homepage') }}"><i class="fa fa-check"></i> Return to the homepage</a>
    </div>
</div>
{% endblock %}
