{% extends '::base.html.twig' %}
{% block title %}Index - Grost Administration - {% endblock %}

{% block body %}

    <div class="row">

        {% include '::grostAdminSideMenu.html.twig' with {'currentPage': 'adminDashboard'} %}
        
        <div class="col-md-9">

            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-users"></i> Registered users</h3>
                        </div>

                        <div class="panel-body text-center">
                            <h2 class="no-margin">{{ userCount }}</h2>
                        </div>

                    </div>
                </div>
                <div class="col-md-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-user"></i> Latest user

                                <span class="pull-right">

                                    <a class="color-reset" href="{{ path('rizzen_profile_see', {'username': latestUser.username}) }}"><i class="fa fa-external-link-square"></i> User Profile</a>

                               </span>
                            </h3>
                        </div>

                        <div class="panel-body text-center">
                            <h2 class="no-margin">{{ latestUser.username }}</h2>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-shield"></i> Number or guilds</h3>
                        </div>

                        <div class="panel-body text-center">
                            <h2 class="no-margin">{{ guildCount }}</h2>
                        </div>

                    </div>
                </div>
                <div class="col-md-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-shield"></i> Latest guild
                                <span class="pull-right">

                                    <a class="color-reset" href="{{ path('rizzen_guild_see', {'subdomain': latestGuild.slug}) }}"><i class="fa fa-external-link-square"></i> Guild Homepage</a>

                               </span>
                            </h3>
                        </div>

                        <div class="panel-body text-center">
                            <h2 class="no-margin">{{ latestGuild.title }}</h2>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}
