{% extends '::base.html.twig' %}
{% block title %}Server - Grost Administration - {% endblock %}

{% block body %}

    <div class="row">

        {% include '::grostAdminSideMenu.html.twig' with {'currentPage': 'adminServer'} %}

        <div class="col-md-9">

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-dark">
                        <div class="panel-heading">
                            <h3 class="panel-title panel-smaller"><i class="fa fa-code"></i> Grost PHP Response time</h3>
                        </div>

                        <div class="panel-body text-center">
                            <div class="row">
                                <div class="col-md-12 embed-responsive embed-responsive-16by9">
                                    <iframe src="https://rpm.newrelic.com/public/charts/eqZlduVvYUW" class="embed-responsive-item" scrolling="no" frameborder="no"></iframe>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-dark">
                        <div class="panel-heading">
                            <h3 class="panel-title panel-smaller"><i class="fa fa-code"></i> Transactions</h3>
                        </div>

                        <div class="panel-body text-center">
                            <div class="row">
                                <div class="col-md-12 embed-responsive embed-responsive-16by9">
                                    <iframe src="https://rpm.newrelic.com/public/charts/8ZL1ich8M4o" class="embed-responsive-item" scrolling="no" frameborder="no"></iframe>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-dark">
                        <div class="panel-heading">
                            <h3 class="panel-title panel-smaller"><i class="fa fa-code"></i> Throughput</h3>
                        </div>

                        <div class="panel-body text-center">
                            <div class="row">
                                <div class="col-md-12 embed-responsive embed-responsive-16by9">
                                    <iframe src="https://rpm.newrelic.com/public/charts/dRXb5CrFUx5" class="embed-responsive-item" frameborder="no"></iframe>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2>Server</h2>
                    <hr/>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-dark">
                        <div class="panel-heading">
                            <h3 class="panel-title panel-smaller"><i class="fa fa-code"></i> Disk Usage</h3>
                        </div>

                        <div class="panel-body text-center">
                            <div class="row">
                                <div class="col-md-12 embed-responsive embed-responsive-16by9">
                                    <iframe src="https://rpm.newrelic.com/public/charts/h4j0C4AkWoj" class="embed-responsive-item" scrolling="no" frameborder="no"></iframe>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-dark">
                        <div class="panel-heading">
                            <h3 class="panel-title panel-smaller"><i class="fa fa-code"></i> I/O</h3>
                        </div>

                        <div class="panel-body text-center">
                            <div class="row">
                                <div class="col-md-12 embed-responsive embed-responsive-16by9">
                                    <iframe src="https://rpm.newrelic.com/public/charts/lkaDTtif9vI" class="embed-responsive-item" frameborder="no"></iframe>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-dark">
                        <div class="panel-heading">
                            <h3 class="panel-title panel-smaller"><i class="fa fa-code"></i> CPU Usage</h3>
                        </div>

                        <div class="panel-body text-center">
                            <div class="row">
                                <div class="col-md-12 embed-responsive embed-responsive-16by9">
                                    <iframe src="https://rpm.newrelic.com/public/charts/7G0cigMojDn" class="embed-responsive-item" scrolling="no" frameborder="no"></iframe>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-dark">
                        <div class="panel-heading">
                            <h3 class="panel-title panel-smaller"><i class="fa fa-code"></i> RAM Usage</h3>
                        </div>

                        <div class="panel-body text-center">
                            <div class="row">
                                <div class="col-md-12 embed-responsive embed-responsive-16by9">
                                    <iframe src="https://rpm.newrelic.com/public/charts/jX77qKQ9kJl" class="embed-responsive-item" scrolling="no" frameborder="no"></iframe>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2>Browser</h2>
                    <hr/>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-dark">
                        <div class="panel-heading">
                            <h3 class="panel-title panel-smaller"><i class="fa fa-code"></i> Response Time</h3>
                        </div>

                        <div class="panel-body text-center">
                            <div class="row">
                                <div class="col-md-12 embed-responsive embed-responsive-16by9">
                                    <iframe src="https://rpm.newrelic.com/public/charts/cZ3LZLESPrv" class="embed-responsive-item" scrolling="no" frameborder="no"></iframe>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock %}

