{% extends '::base.html.twig' %}

{% block title %}Personal Calendar - {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb-arrow">
                <li><a href="{{ path('rizzen_main_homepage') }}"><i class="fa fa-home"></i> Dashboard</a></li>
                <li class="active"><span><i class="fa fa-calendar"></i> Calendar</span></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            {% if "now"|date('m') != calendar.currentMonth or "now"|date('Y') != calendar.currentYear %}
                <a href="{{ path('rizzen_calendar_seewithdate_own', { "month": "now"|date('m'), "year": "now"|date('Y') }) }}" class="btn btn-primary left"><i class="fa fa-undo"></i> Go to the current month</a>
            {% endif %}

            <div class="right">
                <ul class="pagination no-margin">
                    <li><a href="{{ path('rizzen_calendar_seewithdate_own', { "month": calendar.nextAndPreviousMonth.previousMonth, "year": calendar.nextAndPreviousMonth.previousYear }) }}">« {{ calendar.nextAndPreviousMonth.previousMonthString }}</a></li>
                    <li class="active"><a href="#">{{ calendar.currentMonthString }}</a></li>
                    <li><a href="{{ path('rizzen_calendar_seewithdate_own', { "month": calendar.nextAndPreviousMonth.nextMonth, "year": calendar.nextAndPreviousMonth.nextYear }) }}">{{ calendar.nextAndPreviousMonth.nextMonthString }} »</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <ul class="block-grid-xs-1 block-grid-sm-7 block-grid-md-7 block-grid-lg-7">

        <li class="block-grid-item hidden-xs"><div class="text-center"><h4 class="subheader">Monday</h4></div></li>
        <li class="block-grid-item hidden-xs"><div class="text-center"><h4 class="subheader">Tuesday</h4></div></li>
        <li class="block-grid-item hidden-xs"><div class="text-center"><h4 class="subheader">Wednesday</h4></div></li>
        <li class="block-grid-item hidden-xs"><div class="text-center"><h4 class="subheader">Thursday</h4></div></li>
        <li class="block-grid-item hidden-xs"><div class="text-center"><h4 class="subheader">Friday</h4></div></li>
        <li class="block-grid-item hidden-xs"><div class="text-center"><h4 class="subheader">Saturday</h4></div></li>
        <li class="block-grid-item hidden-xs"><div class="text-center"><h4 class="subheader">Sunday</h4></div></li>

        {% for i in 1..calendar.blanks if calendar.blanks != 0 %}
            <li class="block-grid-item hidden-xs"></li>
        {% endfor %}

        {% set dateCount = 1 %}

        {% for day in calendar.days %}
            {% set nbofevent = 0 %}
            <li class="block-grid-item calendar-grid">
                {% if loop.index <= 9 %}
                {% set eventurl = 0~loop.index~calendar.currentMonth~calendar.currentYear %}
                <a href="{{ path('rizzen_event_list_own', {"dateId": eventurl}) }}">
                {% else %}
                {% set eventurl = loop.index~calendar.currentMonth~calendar.currentYear %}
                <a href="{{ path('rizzen_event_list_own', { "dateId": eventurl }) }}">
                    {% endif %}
                    <div class="calendar-day-box {% if loop.index == calendar.currentDay %}calendar-current-day{% endif %}">
                        <h2 class="text-center">{{ loop.index }}</h2>
                        <hr class="hr-margin-calendar">
                        {% for registration in calendar.registrations if dateCount == registration.eventDate | date('d') %}
                            {% set nbofevent = nbofevent + 1 %}
                        {% endfor %}
                        <div class="text-event-container {% if nbofevent > 0 %}text-event-container-has-event{% endif %}">
                            <div class="text-center">
                                {% if nbofevent == 1 %}
                                    <span class="event-calendar-text">{{ nbofevent }} Event</span>
                                {% elseif nbofevent >= 2 %}
                                    <span class="event-calendar-text">{{ nbofevent }} Events</span>
                                {% else %}
                                    <span class="event-calendar-text">No event</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </a>
            </li>
            {% set dateCount = dateCount + 1 %}
        {% endfor %}
    </ul>
{% endblock %}
