{% extends '::base.html.twig' %}
{% block title %}Create a new guild - {% endblock %}

{% block topOfMainContainer %}

    <div id="newGuildBackground">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center hero-content">
                        <h2 class="no-margin">Creating a new guild</h2>
                        <br/>
                        <h3>Just enter the desired name for your guild</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block flashBags %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissable d-none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-check"></i> {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissable d-none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-warning"></i> <strong>Error:</strong> {{ flashMessage }}
        </div>
    {% endfor %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-7 col-centered">
            {% if guildsOfUserCount < 5 %}
            <div class="panel panel-dark">
                <div class="panel-heading panel-heading-home">
                    <small class="panel-title panel-smaller element-inline"><i class="fa fa-shield"></i> Grost - New Guild</small>

                    <span class="pull-right panel-circles element-inline">
                        <i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i>
                    </span>

                </div>

                <div class="panel-body text-center">
                    {{ form_start(form, {"attr": {"id": "createGuildForm"}, "action": path('rizzen_guild_create') }) }}

                        <div class="row">

                            <div class="col-md-12">
                                <div class="input-group">

                                    {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder': "Title of your guild", "pattern": ".{3,40}"} }) }}

                                    {{ form_rest(form) }}

                                    <div class="input-group-btn">
                                        <button id="submitBtn" class="btn btn-success" tabindex="-1" type="submit"><i class="fa fa-check"></i> Submit & create the guild</button>
                                    </div>
                                </div>

                                <small class="small-lighter">The guild name must contain at least 3 characters and a maximum of 40.</small>

                            </div>

                        </div>

                    {{ form_end(form) }}
                    <br/>

                    <div id="nameTaken" class="alert alert-danger d-none">
                        <strong><i class="fa fa-warning"></i> Sorry:</strong> This guild name is already taken.
                    </div>

                    <div id="formInvalid" class="alert alert-danger d-none">
                        <strong><i class="fa fa-warning"></i> Sorry:</strong> It seems that that your guild name is invalid.
                        <br/>
                        The guild name must contain at least 3 characters, and a maximum of 40.
                    </div>

                    <p class="no-margin">
                        <span>The URL of your guild will be:</span>
                        <br/>
                        <strong id="guildURLPreview"><em>Type something in the field to see the preview</em></strong>
                    </p>

                    <noscript>
                        You disabled JavaScript, if the guild is created successfully you wont be redirected to it automatically, you'll need to access it from your profile.
                        Grost won't function properly without JavaScript enabled.
                    </noscript>


                </div>

            </div>
            {% endif %}

            {% if guildsOfUserCount > 1 %}
                {% set progressVal = 20 * guildsOfUserCount %}
                <div class="row">
                    <div class="col-md-12 text-center">

                        {% if guildsOfUserCount < 5 %}
                            <h4>You can create a maximum of 5 guilds</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ progressVal }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progressVal }}%"><strong>{{ guildsOfUserCount }}/5</strong></div>
                            </div>
                        {% else %}
                            <div class="well category-list-well">
                                <h4 class="no-margin-top">You've reached the limit of guilds you can create.</h4>
                                <div class="progress no-margin-bottom">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ progressVal }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progressVal }}%"><strong>{{ guildsOfUserCount }}/5</strong></div>
                                </div>
                            </div>

                        {% endif %}

                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $("#grost_create_guild_title").keyup(function() {

            var guildName = $('#grost_create_guild_title').val(),
                preview = $('#guildURLPreview');

            if (guildName.length < 3) {
                $(preview).html('<em>This name is too short! (3 characters min.)</em>');
            } else if (guildName.length > 40) {
                $(preview).html('<em>This name is too long! (40 characters max.)</em>');
            } else {
                $(preview).text(slugify(guildName) + '.gro.st');
            }

        });
    </script>
{% endblock %}
