{% extends "::base.html.twig" %}

{% block title %}Password reset - {% endblock %}

{% block body %}

    {% trans_default_domain 'FOSUserBundle' %}

    <div class="row">

        <div class="col-md-5 col-centered">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-unlock-alt"></i> Password reset request sent</h3>
                </div>

                <div class="panel-body text-center">
                    An email has been sent to:
                    <br/>
                    <br/>
                    <strong><span class="small-lighter">[HIDDEN]</span>{{ email[3:] }}</strong>
                    <br/>
                    <br/>
                    It contains a link you must click to reset your password.
                    <br/>
                    <br/>
                    <small class="small-lighter">
                        If you didn't receive the email or if you're having trouble accessing your account, please contact the support at: <a href="mailto:support@gro.st">support@gro.st</a>
                    </small>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("#fos_user_resetting_form_plainPassword_first, #fos_user_resetting_form_plainPassword_second").keyup(checkReqPasswordMatch);
        });
    </script>
{% endblock %}
