{% extends "::base.html.twig" %}

{% block title %}Password reset - {% endblock %}

{% block body %}

    {% trans_default_domain 'FOSUserBundle' %}

    <div class="row">

        <div class="col-md-5 col-centered">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-warning"></i> Password reset request already sent</h3>
                </div>

                <div class="panel-body text-center">
                    <p class="lead">
                        A password reset request has already been sent in the last 24 hours.
                    </p>


                    <hr/>

                    <small class="small-lighter">
                        If you're having trouble accessing your account, please contact the support at: <a href="mailto:support@gro.st">support@gro.st</a>
                    </small>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("#fos_user_resetting_form_plainPassword_first, #fos_user_resetting_form_plainPassword_second").keyup(checkReqPasswordMatch);
        });
    </script>
{% endblock %}
