{% extends "::base.html.twig" %}

{% block title %}Password reset - {% endblock %}

{% block description %}
    <meta name="description" content="Lost your password? Enter your username or email here and we will send you a link to reset it.">
{% endblock %}

{% block body %}

    {% trans_default_domain 'FOSUserBundle' %}

    <div class="row">

        <div class="col-md-5 col-centered">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-lock"></i> Reset your password</h3>
                </div>

                <div class="panel-body">
                    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST">
                        <div>
                            {% if invalid_username is defined %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-danger">
                                            <strong><i class="fa fa-warning"></i></strong> The username or email address <strong>"{{ invalid_username }}"</strong> was not found
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <label class="control-label" for="username">{{ 'resetting.request.username'|trans }}</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" id="username" name="username" required="required" class="form-control" />
                            </div>
                        </div>

                        <br/>
                        <button type="submit" class="btn btn-block btn-primary"><i class="fa fa-check"></i> Reset my password</button>
                        <hr/>
                        <p class="text-center">
                            <small class="small-lighter">
                                We will send you an email to reset you password.
                                <br/>
                                You can reset your password every 24 hours.
                            </small>
                        </p>

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

