{% extends "::base.html.twig" %}

{% block title %}Password reset - {% endblock %}

{% block body %}

    {% trans_default_domain 'FOSUserBundle' %}

    <div class="row">

        <div class="col-md-5 col-centered">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-unlock-alt"></i> Modify your password</h3>
                </div>

                <div class="panel-body">
                    {{ form_start(form, {"attr": {"class": "reset-pw"}, "action": path('fos_user_resetting_reset', {'token': token}) }) }}

                        {% if form_errors(form.plainPassword.first) %}

                            <div class="form-group has-error has-feedback">
                                <label class="control-label required" for="fos_user_registration_form_plainPassword_first">Password:</label>
                                <small class="small-lighter pull-right ">Must be at least 5 characters</small>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-form-fix"></i></span>
                                    <input class="form-control" type="password" id="fos_user_resetting_form_plainPassword_first" name="fos_user_resetting_form[plainPassword][first]" required="required">

                                </div>

                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                            </div>

                            <div class="form-group has-error has-feedback reg-padding">
                                <label class="control-label required" for="fos_user_registration_form_plainPassword_second">Password confirmation:</label>
                                <small class="small-error pull-right password-match d-none"><i class="fa fa-warning"></i> The passwords do not match!</small>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-form-fix"></i></span>
                                    <input class="form-control" type="password" id="fos_user_resetting_form_plainPassword_second" name="fos_user_resetting_form[plainPassword][second]" required="required">

                                </div>
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                            </div>

                        {% else %}

                            <div class="form-group">
                                <label class="control-label required" for="fos_user_registration_form_plainPassword_first">Password:</label>
                                <small class="small-lighter pull-right ">Must be at least 5 characters</small>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-form-fix"></i></span>
                                    <input class="form-control" type="password" id="fos_user_resetting_form_plainPassword_first" name="fos_user_resetting_form[plainPassword][first]" required="required">

                                </div>
                            </div>

                            <div class="form-group reg-padding">
                                <label class="control-label required" for="fos_user_registration_form_plainPassword_second">Password confirmation:</label>
                                <small class="small-error pull-right password-match"><i class="fa fa-warning"></i> The passwords do not match!</small>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-form-fix"></i></span>
                                    <input class="form-control" type="password" id="fos_user_resetting_form_plainPassword_second" name="fos_user_resetting_form[plainPassword][second]" required="required">

                                </div>
                            </div>

                        {% endif %}


                        {{ form_widget(form._token) }}

                        <br/>
                        <button type="submit" class="btn btn-block btn-primary"><i class="fa fa-check"></i> Modify my password</button>
                        <div class="row">
                            <div id="pass-match" class="col-md-12 d-none">
                                <br/>
                                <div class="alert alert-danger no-margin-bottom text-center">
                                    <strong><i class="fa fa-warning"></i></strong> The passwords do not match or are invalid
                                </div>
                            </div>
                        </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("#fos_user_resetting_form_plainPassword_first, #fos_user_resetting_form_plainPassword_second").keyup(checkReqPasswordMatch);
        });
    </script>
{% endblock %}
