{% extends "::base.html.twig" %}

{% block title %}Login - {% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    <div class="row">

        <div class="col-md-4 col-centered">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-user"></i> Log into your account</h3>
                </div>

                <div class="panel-body">
                    {% if error %}
                        <div class="alert alert-danger">
                            <i class="fa fa-warning"></i> <strong>Error:</strong> {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}

                    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-group login-form">

                        <input class="form-control" type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                        {% if error %}
                            <div class="form-group has-error has-feedback">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <label class="hidden control-label" for="username">{{ 'security.login.username'|trans }}</label>
                                    <input class="form-control"
                                           type="text" id="username"
                                           name="_username"
                                           value="{{ last_username }}"
                                           placeholder="Username or Email Address"
                                           required="required" />
                                </div>
                                <span class="glyphicon glyphicon-remove form-control-feedback position-reset"></span>
                            </div>
                        {% else %}
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <label class="d-none control-label" for="username">{{ 'security.login.username'|trans }}</label>
                                <input class="form-control"
                                       type="text" id="username"
                                       name="_username"
                                       value="{{ last_username }}"
                                       placeholder="Username or Email Address"
                                       required="required" />
                            </div>
                        </div>
                        {% endif %}

                        {% if error %}
                            <div class="form-group has-error has-feedback">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-form-fix"></i></span>
                                    <label class="d-none control-label" for="password">{{ 'security.login.password'|trans }}</label>
                                    <input class="form-control"
                                           type="password"
                                           id="password"
                                           name="_password"
                                           placeholder="Password"
                                           required="required" />
                                </div>
                                <span class="glyphicon glyphicon-remove form-control-feedback position-reset"></span>
                            </div>
                        {% else %}
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-form-fix"></i></span>
                                    <label class="d-none control-label" for="password">{{ 'security.login.password'|trans }}</label>
                                    <input class="form-control"
                                           type="password"
                                           id="password"
                                           name="_password"
                                           placeholder="Password"
                                           required="required" />
                                </div>
                            </div>
                        {% endif %}


                        <div class="row">
                            <div class="col-md-6 remember-me">
                                <label for="remember_me">Remember me: </label>
                                <input class="form-control"
                                       type="checkbox"
                                       id="remember_me"
                                       name="_remember_me"
                                       value="on" />
                            </div>

                            <div class="col-md-6">
                                <button type="submit" class="btn btn-block btn-primary"><i class="fa fa-check"></i> Login</button>
                            </div>

                        </div>

                    </form>
                    <div class="text-center">
                        <small class="small-lighter"><a class="small-lighter" href="{{ path('fos_user_registration_register') }}">Create an account</a> | <a class="small-lighter" href="{{ path('fos_user_resetting_request') }}">Forgot your password?</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock  %}

{% block javascripts %}
    <script src="{{ asset('bower_components/bootflatv2/bootflat/js/icheck.min.js') }}"></script>
    <script>
        $(function() {
            $('input').iCheck({
                checkboxClass: 'icheckbox_flat',
                increaseArea: '20%'
            });
        });
    </script>
{% endblock %}
