<li id="guildAdmin" class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Administration <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">

        {% if permissions.canSeeAdminPanel %}
        <li class="dropdown-header">Guild Administration</li>
        <li><a href="{{ path('rizzen_guild_admin_dashboard', {'subdomain': subdomain}) }}">Administration Dashboard</a></li>
        {% endif %}

        {% if permissions.canCreateRole or permissions.canModifyRank %}
        <li><a href="{{ path("rizzen_guild_admin_roles", {'subdomain': subdomain}) }}">Manage Roles</a></li>
        {% endif %}

        {% if permissions.canAddToGuild or permissions.canBan or permissions.canModifyRank %}
        <li><a href="{{ path("rizzen_guild_admin_users", {'subdomain': subdomain}) }}">Manage Users</a></li>
        {% endif %}

        {% if permissions.canEditForum %}
        <li class="divider"></li>
        <li class="dropdown-header">Forum Administration</li>
        <li><a href="{{ path("rizzen_forum_admin_index", {'subdomain': subdomain}) }}">Forum Dashboard</a></li>
        <li><a href="{{ path('rizzen_forum_admin_categories', {'subdomain': subdomain}) }}">Manage Categories</a></li>
        {% endif %}

        {% if permissions.canEditBlogPost or permissions.canWriteBlogPost %}
        <li class="divider"></li>
        <li class="dropdown-header">Blog Administration</li>
        <li><a href="{{ path('rizzen_blog_admin_dashboard', {'subdomain': subdomain}) }}">Blog Dashboard</a></li>
        {% endif %}

        {% if permissions.canWriteBlogPost %}
        <li><a href="{{ path('rizzen_blog_admin_categories', {'subdomain': subdomain}) }}">Manage Categories</a></li>
        {% endif %}

        {% if permissions.canEditBlogPost or permissions.canWriteBlogPost %}
        <li><a href="{{ path('rizzen_blog_admin_posts', {'subdomain': subdomain}) }}">Manage Posts</a></li>
        {% endif %}

        {% if permissions.canEditGuildLogo or permissions.canEditGuildStyle %}
        <li class="divider"></li>
        <li class="dropdown-header">Miscellaneous</li>
            {% if permissions.canEditGuildStyle %}
            <li><a href="{{ path('rizzen_guild_admin_css', {'subdomain': subdomain}) }}">Personalization</a></li>
            {% else %}
            <li><a href="{{ path('rizzen_guild_admin_logo', {'subdomain': subdomain}) }}">Personalization</a></li>
            {% endif %}
        {% endif %}
    </ul>
</li>
