<div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
        {# General #}

        {% if permissions.canSeeAdminPanel %}
        <li {% if currentPage == 'adminDashboard' %}class="active"{% endif %}>
            <a href="{{ path('rizzen_guild_admin_dashboard', {'subdomain': subdomain}) }}"><i class="fa fa-cogs"></i> Administration Dashboard</a>
        </li>
        {% endif %}

        {% if permissions.canCreateRole or permissions.canModifyRank %}
        <li {% if currentPage == 'rolesManagement' %}class="active"{% endif %} id="adminRoles">
            <a href="{{ path("rizzen_guild_admin_roles", {'subdomain': subdomain}) }}"><i class="fa fa-wrench"></i> Manage Roles</a>
        </li>
        {% endif %}

        {% if permissions.canAddToGuild or permissions.canBan or permissions.canModifyRank %}
        <li {% if currentPage == 'usersManagement' %}class="active"{% endif %} id="adminUsers">
            <a href="{{ path("rizzen_guild_admin_users", {'subdomain': subdomain}) }}"><i class="fa fa-users"></i> Manage Users</a>
        </li>
        {% endif %}

        {% if permissions.canBan %}
        <li {% if currentPage == 'usersBanned' %}class="active"{% endif %} id="adminBanned">
            <a href="{{ path("rizzen_guild_admin_users_banned", {'subdomain': subdomain}) }}"><i class="fa fa-gavel"></i> Users Banned</a>
        </li>
        {% endif %}

        {% if permissions.canEditForum %}
        {# Forum #}
        <li class="li-separator"></li>
        <li {% if currentPage == 'forumAdministration' %}class="active"{% endif %}>
            <a href="{{ path("rizzen_forum_admin_index", {'subdomain': subdomain}) }}"><i class="fa fa-cogs"></i> Forum Dashboard</a>
        </li>

        <li {% if currentPage == 'categoryManager' %}class="active"{% endif %} id="adminForumCategories">
            <a href="{{ path('rizzen_forum_admin_categories', {'subdomain': subdomain}) }}"><i class="fa fa-list-alt"></i> Manage Categories</a>
        </li>
        {% endif %}

        {# Blog #}
        {% if permissions.canEditBlogPost or permissions.canWriteBlogPost %}
        <li class="li-separator"></li>
        <li {% if currentPage == 'blogDashboard' %}class="active"{% endif %}>
            <a href="{{ path('rizzen_blog_admin_dashboard', {'subdomain': subdomain}) }}"><i class="fa fa-cogs"></i> Blog Dashboard</a>
        </li>
        {% endif %}

        {% if permissions.canWriteBlogPost %}
        <li {% if currentPage == 'blogCategories' %}class="active"{% endif %} id="adminBlogCategories">
            <a href="{{ path('rizzen_blog_admin_categories', {'subdomain': subdomain}) }}"><i class="fa fa-bars"></i> Manage Categories</a>
        </li>
        {% endif %}

        {% if permissions.canEditBlogPost or permissions.canWriteBlogPost %}
        <li {% if currentPage == 'blogPosts' %}class="active"{% endif %} id="adminBlogPosts">
            <a href="{{ path('rizzen_blog_admin_posts', {'subdomain': subdomain}) }}"><i class="fa fa-newspaper-o"></i> Manage Posts</a>
        </li>
        {% endif %}


        {# Options #}
        {% if permissions.canEditGuildLogo or permissions.canEditGuildStyle %}
        <li class="li-separator"></li>
        {% endif %}

        {% if permissions.canEditGuildStyle %}
        <li {% if currentPage == 'customStyle' %}class="active"{% endif %} id="adminCSS">
            <a href="{{ path('rizzen_guild_admin_css', {'subdomain': subdomain}) }}"><i class="fa fa-paint-brush"></i> Custom Style</a>
        </li>
        {% endif %}

        {% if permissions.canEditGuildLogo %}
        <li {% if currentPage == 'guildLogo' %}class="active"{% endif %} id="adminLogo">
            <a href="{{ path('rizzen_guild_admin_logo', {'subdomain': subdomain}) }}"><i class="fa fa-photo"></i> Guild Logo</a>
        </li>
        {% endif %}

        {% if app.user == guild.creator %}
        <li {% if currentPage == 'guildName' %}class="active"{% endif %} id="adminName">
            <a href="{{ path('rizzen_guild_admin_rename', {'subdomain': subdomain}) }}"><i class="fa fa-pencil"></i> Guild Name</a>
        </li>
        {% endif %}
    </ul>
</div>
