<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
        {% block meta %}

        {% endblock %}

        <link rel="icon" type="image/png" href="{{ asset('favicon-32x32.png') }}" sizes="32x32" />
        <link rel="icon" type="image/png" href="{{ asset('favicon-16x16.png') }}" sizes="16x16" />
        <link rel="icon" sizes="16x16 32x32" href="{{ asset('favicon.ico') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ asset('favicon-152x152.png') }}">

        <meta name="msapplication-TileColor" content="#7661b4">
        <meta name="msapplication-TileImage" content="{{ asset('favicon-152x152.png') }}">

        <title>{% block title %}{% endblock %}Grost - Guild Hosting Service</title>

        {% block description %}
            <meta name="description" content="Grost provides you with the best tools to manage your guild, create your new free and real-time guild website in less than 2 minutes!">
        {% endblock %}

        {% stylesheets filter='cssrewrite, ?yui_css' output='css/compiled/main.css'
            'bower_components/bootstrap/dist/css/bootstrap.min.css'
            'bower_components/bootflatv2/bootflat/css/bootflat.min.css'
            'bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css'
            'css/animate.css'
            'css/font-awesome.min.css'
            'css/style.css'
        %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}?{{ version }}" />
        {% endstylesheets %}

        {% block css %}

        {% endblock %}

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <div class="navbar navbar-inverse navbar-fixed-top" id="nav-base" role="navigation">
            <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                {% if guild is defined %}
                    {% if guild.customLogoEnabled %}
                        <a class="navbar-brand" href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}"><img src="{{ guild.webPath | imagine_filter('guild_logo_navbar') }}" alt="{{ guild.title }}'s logo"/></a>
                    {% else %}
                        <a class="navbar-brand" href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}">{{ guild.title }}</a>
                    {% endif %}
                {% else %}
                    <a class="navbar-brand" href="{{ path('rizzen_main_homepage') }}"><img src="{{ asset('img/logo/logo-top-v2.png') }}" alt="Grost logo"/></a>
                {% endif %}

            </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right"> {# Right buttons #}
                    {% block TopBarButtons %}
                    {% endblock %}
                    {% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <script type="text/javascript">
                        var currentUser = "{{ app.user.username }}";
                    </script>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="new-message-label label label-success{% if app.user.unreads | length == 0 %} d-none{% endif %}">{{ app.user.unreads | length }}</span> {{ app.user.username }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">{{ app.user.username }}</li>
                                <li><a href="{{ path('rizzen_main_homepage') }}">Dashboard</a></li>
                                <li><a href="{{ path('rizzen_profile_see', {'username': app.user.username}) }}">Profile</a></li>
                                <li><a href="{{ path('rizzen_messenger_inbox') }}">Messages <span class="new-message-label label label-success {% if app.user.unreads | length == 0 %} d-none{% endif %}">{{ app.user.unreads | length }}</span></a></li>
                                <li><a href="{{ path('rizzen_calendar_see_own') }}">Calendar</a></li>
                                <li><a data-toggle="modal" href="{{ path('rizzen_profile_requests', {'username': app.user.username}) }}" data-target="#reqModal">Friend Requests</a></li>
                                <li><a href="{{ path('rizzen_options_index') }}">Options</a></li>
                                {% if is_granted("ROLE_ADMIN") %}
                                <li class="divider"></li>
                                <li class="dropdown-header">Administration</li>
                                <li><a href="{{ path('rizzen_admin_index') }}">Dashboard</a></li>
                                <li><a href="{{ path('rizzen_admin_server') }}">Server</a></li>
                                {% endif %}
                                <li class="divider"></li>
                                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                <li><a href="{{ path('rizzen_main_homepage', {'_impersonate_user': '_exit'}) }}">Exit Impersonation</a></li>
                                {% endif %}
                                <li><a href="{{ path('fos_user_security_logout') }}">Log out</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">Sign in</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        {% block topOfMainContainer %}
        {% endblock %}

        <div class="stylable">
            <div class="container main-page">

                {% block flashBags %}
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <i class="fa fa-check"></i> {{ flashMessage }}
                        </div>
                    {% endfor %}

                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <i class="fa fa-warning"></i> <strong>Error:</strong> {{ flashMessage }}
                        </div>
                    {% endfor %}
                {% endblock %}

                {% block body %}
                {% endblock %}


            </div>
        </div>

        <br/>

        {% block bottomOfMainContainer %}
        {% endblock %}


        <div class="footer">
            <div class="container">
                <div class="clearfix">
                    <div class="footer-logo">
                        <a href="{{ path('rizzen_main_homepage') }}"><img src="{{ asset('img/logo/logo-footer-v2.png') }}" alt="Grost logo"/></a>
                    </div>

                    <dl class="footer-nav">
                        <dt class="nav-title">NEWS & INFO</dt>

                        <dd class="nav-item">
                            <a rel="nofollow" href="http://grost.gro.st/blog">Blog</a>
                        </dd>

                        <dd class="nav-item">
                            <a href="{{ path('rizzen_main_updates') }}">Update Notes</a>
                        </dd>

                        <dd class="nav-item">
                            <a href="{{ path('rizzen_main_faq') }}">FAQ</a>
                        </dd>

                    </dl>

                    <dl class="footer-nav">
                        <dt class="nav-title">ABOUT</dt>

                        <dd class="nav-item">
                            <a href="{{ path('rizzen_main_about') }}">Grost</a>
                        </dd>

                        <dd class="nav-item">
                            <a href="{{ path('rizzen_main_terms') }}">Terms of Use</a>
                        </dd>

                        <dd class="nav-item">
                            <a href="{{ path('rizzen_main_privacy') }}">Privacy Policy</a>
                        </dd>
                    </dl>

                    <dl class="footer-nav">
                        <dt class="nav-title">SOCIAL</dt>

                        <dd class="nav-item">
                            <a rel="nofollow" href="http://grost.gro.st/forum/">Forum</a>
                        </dd>

                        <dd class="nav-item">
                            <a href="#">Twitter</a>
                        </dd>
                    </dl>

                    <dl class="footer-nav">
                        <dt class="nav-title">CONTACT</dt>

                        <dd class="nav-item">
                            <a href="{{ path('rizzen_main_contact') }}">Contact</a>
                        </dd>

                        <dd class="nav-item">
                            <a rel="nofollow" href="{{ path('rizzen_main_bug_report') }}">Report a Bug</a>
                        </dd>
                    </dl>
                </div>

                <div class="footer-copyright text-center">
                    Copyright © {{ "now"|date("Y") }} Grost. All rights reserved.
                    <br/>
                    <small class="footer-version">Version {{ version }}</small>
                </div>
            </div>
        </div>

        <div class="modal fade" id="reqModal" tabindex="-1" role="dialog" aria-labelledby="reqModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                </div>
            </div>
        </div>

        {% javascripts filter='?yui_js' output='js/compiled/main.js'
            'bower_components/jquery/dist/jquery.min.js'
            'bower_components/bootstrap/dist/js/bootstrap.min.js'
            'bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js'
            'bower_components/Selecter/jquery.fs.selecter.min.js'
            'bower_components/nanoscroller/bin/javascripts/jquery.nanoscroller.min.js'
            'bower_components/js-cookie/src/js.cookie.js'

            'js/notification.js'
            'js/plugins.js'
            'js/app.js'
            'js/socket.js'
        %}

            <script src="{{ asset_url }}?{{ version }}"></script>

        {% endjavascripts %}

        <script src="//js.pusher.com/3.0/pusher.min.js"></script>

        <script type="text/javascript">
            var pusher = new Pusher('{{ pusher_key }}', { encrypted: true });

            {% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            var userChannel = pusher.subscribe('{{ app.user.socketTopic }}');
            userChannel.bind('message', function(data) {
                window[data.subtopic](data);
            });
            {% endif %}
        </script>


        <audio id="negativeNotification" src="{{ asset('sound/s5.ogg') }}" preload="auto"></audio>
        <audio id="positiveNotification" src="{{ asset('sound/s1.ogg') }}" preload="auto"></audio>
        <audio id="chatNotification" src="{{ asset('sound/s4.ogg') }}" preload="auto"></audio>
        <audio id="forumNotification" src="{{ asset('sound/s3.ogg') }}" preload="auto"></audio>

        {% block javascripts %}

        {% endblock %}

        {% block customCSS %}

        {% endblock %}

    </body>
</html>
