<div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">

        <li {% if currentPage == 'adminDashboard' %}class="active"{% endif %}>
            <a href="{{ path('rizzen_admin_index') }}"><i class="fa fa-dashboard"></i> Dashboard</a>
        </li>

        <li {% if currentPage == 'adminUsers' %}class="active"{% endif %}>
            <a href="{{ path('rizzen_admin_users') }}"><i class="fa fa-users"></i> Users</a>
        </li>

        <li {% if currentPage == 'adminGuilds' %}class="active"{% endif %}>
            <a href="{{ path('rizzen_admin_guilds_list') }}"><i class="fa fa-shield"></i> Guilds</a>
        </li>

        <li {% if currentPage == 'adminForums' %}class="active"{% endif %}>
            <a href="{{ path('rizzen_admin_index') }}"><i class="fa fa-comments"></i> Forums</a>
        </li>

        <li {% if currentPage == 'adminMessenger' %}class="active"{% endif %}>
            <a href="{{ path('rizzen_admin_index') }}"><i class="fa fa-inbox"></i> Messenger</a>
        </li>

        <li class="li-separator"></li>

        <li {% if currentPage == 'adminNewUpdate' %}class="active"{% endif %}>
            <a href="{{ path('rizzen_admin_update_write') }}"><i class="fa fa-newspaper-o"></i> New Update Notes</a>
        </li>

        <li class="li-separator"></li>

        <li {% if currentPage == 'adminBroadcast' %}class="active"{% endif %}>
            <a href="{{ path('rizzen_admin_index') }}"><i class="fa fa-bullhorn"></i> WS Broadcast</a>
        </li>

        <li class="li-separator"></li>

        <li {% if currentPage == 'adminBug' %}class="active"{% endif %}>
            <a href="{{ path('rizzen_admin_bugs') }}"><i class="fa fa-bug"></i> Bug Reports</a>
        </li>

        <li {% if currentPage == 'adminContact' %}class="active"{% endif %}>
            <a href="{{ path('rizzen_admin_index') }}"><i class="fa fa-comment"></i> Contact</a>
        </li>

        <li {% if currentPage == 'adminFeatureRequest' %}class="active"{% endif %}>
            <a href="{{ path('rizzen_admin_index') }}"><i class="fa fa-user"></i> Feature Requests</a>
        </li>

        <li class="li-separator"></li>

        <li {% if currentPage == 'adminServer' %}class="active"{% endif %}>
            <a href="{{ path('rizzen_admin_server') }}"><i class="fa fa-server"></i> Server Stats</a>
        </li>

        <li {% if currentPage == 'adminStats' %}class="active"{% endif %}>
            <a href="{{ path('rizzen_admin_index') }}"><i class="fa fa-line-chart"></i> Grost Statistics</a>
        </li>

    </ul>
</div>
