{% if pageCount > 1 %}
<ul class="pagination">
    {% if first is defined and current != first %}
        <li>
            <a href="{{ path(route, query|merge({(pageParameterName): first})) }}"><span class='fa fa-angle-double-left'></span></a>
        </li>
    {% endif %}

    {% if previous is defined %}
        <li class="arrow"><a rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><span class='fa fa-angle-left'></span></a></li>
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <li><a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a></li>
        {% else %}
            <li class="active"><a href="#">{{ page }}</a></li>
        {% endif %}

    {% endfor %}

    {% if next is defined %}
        <li class="arrow">
            <a rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}"><span class='fa fa-angle-right'></span></a>
        </li>
    {% endif %}

    {% if last is defined and current != last %}
        <li>
            <a href="{{ path(route, query|merge({(pageParameterName): last})) }}"><span class='fa fa-angle-double-right'></span></a>
        </li>
    {% endif %}
</ul>
{% endif %}
