{% extends '::base.html.twig' %}
{% block title %}Dashboard - {% endblock %}

{% block body %}

<div class="row">

    <div class="col-md-9">
        <div class="row">
            {% include 'RizzenMainBundle:DashboardParts:upcomingEvents.html.twig' %}
        </div>

        <div class="row">
            {% include 'RizzenMainBundle:DashboardParts:unreadMessages.html.twig' %}
        </div>

        <div class="row">
            {% include 'RizzenMainBundle:DashboardParts:recentlyVisited.html.twig' %}
        </div>

    </div>

    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-block btn-primary" href="{{ path('rizzen_guild_create') }}"><i class="fa fa-check"></i> Create a new guild</a>
                <br/>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-clock-o"></i> Current time</h3>
                    </div>

                    <div id="dashboardClock" class="panel-body text-center">
                        <span id="clockDMY">
                            <small class="small-lighter">Loading...</small>
                        </span>
                        <hr class="no-margin"/>
                        <strong>
                            <span id="clockTime">
                                <small class="small-lighter">
                                    <i class="fa fa-spinner fa-spin"></i>
                                </small>
                            </span>
                        </strong>

                    </div>

                </div>
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-users"></i> Friends</h3>
                    </div>

                    {% if app.user.friends | length == 0 %}
                        <ul class="list-group text-center">
                            <li class="list-group-item"><small class="small-lighter">You haven't added any friend yet</small></li>
                        </ul>
                    {% else %}
                        <div class="list-group">
                            {% for friend in app.user.friends|slice(0, 5) %}
                                <a class="list-group-item" href="{{ path('rizzen_profile_see', {'username': friend.username}) }}">
                                    <img src="{{ friend.avatar.webPath | imagine_filter('avatar_event') }}" alt="{{ friend.username }} avatar" class="left profile-friend-avatar img-rounded">
                                    <strong>{{ friend.username }}</strong>
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-area-chart"></i> Stats</h3>
                    </div>

                    <ul class="list-group">
                        <li class="list-group-item">
                            <i class="fa fa-comment"></i> Messages posted: <strong class="pull-right">{{ app.user.messageCount }}</strong>
                        </li>

                        <li class="list-group-item">
                            <i class="fa fa-comments"></i> Threads created: <strong class="pull-right">{{ app.user.threadCount }}</strong>
                        </li>

                        {% set difference = date(app.user.joinDate).diff(date('now' | date())) %}
                        <li class="list-group-item">
                            {% if app.user.messageCount == 0 %}{% endif %}
                            <i class="fa fa-comments-o"></i> Messages per day:
                            {% if app.user.messageCount == 0 %}
                                <strong class="pull-right">0</strong>
                            {% elseif difference.days == 0 %}
                                <strong class="pull-right">{{ app.user.messageCount }}</strong>
                            {% else %}
                                {% set messagesPerDay = app.user.messageCount / difference.days %}
                                <strong class="pull-right">{{ messagesPerDay | round(2, 'floor') }}</strong>
                            {% endif %}
                        </li>

                        <li class="list-group-item">
                            <i class="fa fa-users"></i> Friends count: <strong class="pull-right">{{ app.user.friends | length }}</strong>
                        </li>

                        <li class="list-group-item">
                            <i class="fa fa-user"></i> Member since: <strong class="pull-right">{{ app.user.joinDate | date('d/m/Y') }}</strong>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bower_components/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('bower_components/moment-timezone/builds/moment-timezone-with-data-2010-2020.min.js') }}"></script>
    <script>
        var timezone = '{{ app.user.timezone }}';
        moment.tz.setDefault('{{ app.user.timezone }}');
    </script>
    <script src="{{ asset('js/dashboard.js') }}?{{ version }}"></script>
{% endblock %}
