<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">

    <url>
        <loc>http://gro.st/</loc>
        <priority>1.00</priority>
    </url>
    <url>
        <loc>http://gro.st/login</loc>
        <priority>0.80</priority>
    </url>
    <url>
        <loc>http://gro.st/register/</loc>
        <priority>0.80</priority>
    </url>
    <url>
        <loc>http://gro.st/updates</loc>
        <priority>0.30</priority>
    </url>
    <url>
        <loc>http://gro.st/faq</loc>
        <priority>0.30</priority>
    </url>
    <url>
        <loc>http://gro.st/terms</loc>
        <priority>0.30</priority>
    </url>
    <url>
        <loc>http://gro.st/privacy</loc>
        <priority>0.30</priority>
    </url>
    <url>
        <loc>http://gro.st/contact</loc>
        <priority>0.50</priority>
    </url>
    <url>
        <loc>http://gro.st/resetting/request</loc>
        <priority>0.60</priority>
    </url>
</urlset>
