<p><strong>{{ invitedBy }}</strong> has invited you to join the event <strong>"{{ event.title }}"</strong>.</p>
<br/>
<p>At the time {{ invitedBy }} invited you, the event was set to start the <strong>{{ event.date | date('d-m-Y') }} at {{ event.date | date('H:i') }}</strong>, but please note that the event might have been edited since</p>
<br/>
<br/>
<p>You can access the event by using this button: <a href="{{ url('rizzen_event_see', {'subdomain': subdomain, 'dateId': dateId, 'eventSlug': event.slug}) }}" class="btn btn-primary btn-xs"><i class="fa fa-external-link-square"></i> See the event</a> You will be able to accept or refuse the invitation there.</p>
<br/>
<p><small><i class="lighter-text">This message was sent automatically by the messaging system.</i></small></p>
