{% extends '::base.html.twig' %}
{% block title %}Guilds - Grost Administration - {% endblock %}

{% block body %}

    <div class="row">

        {% include '::grostAdminSideMenu.html.twig' with {'currentPage': 'adminGuilds'} %}

        <div class="col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-shield"></i> Guilds

                        <span class="pull-right">
                            <i class="fa fa-line-chart"></i> <strong>Count: {{ guildCount }}</strong>
                        </span>
                    </h3>
                </div>

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date (d/m/y)</th>
                        <th>Creator</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for guild in guilds %}
                        <tr>
                            <td><strong>{{ guild.id }}</strong></td>
                            <td title="{{ guild.slug }}">{{ guild.title }}</td>
                            <td>{{ guild.creationDate | date('d/m/y H:i:s') }}</td>
                            <td>{{ guild.creator.username }}</td>
                            <td>
                                <a class="btn btn-xs btn-primary" href="{{ path('rizzen_admin_guilds_see', {'guildID': guild.id}) }}"><i class="fa fa-shield"></i> Admin.</a>
                                <a class="btn btn-xs btn-info" href="{{ path('rizzen_guild_see', {'subdomain': guild.slug}) }}"><i class="fa fa-eye"></i> See</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

{% endblock %}
