{% extends '::base.html.twig' %}
{% block title %}Guilds - Grost Administration - {% endblock %}

{% block body %}

    <div class="row">

        {% include '::grostAdminSideMenu.html.twig' with {'currentPage': 'adminGuilds'} %}

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-7">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <i class="fa fa-shield"></i> Info & Stats
                                    </h3>
                                </div>

                                <div class="list-group">
                                    <a href="{{ path('rizzen_guild_see', {'subdomain': guildAdmin.slug}) }}" class="list-group-item">
                                        <i class="fa fa-shield"></i> Title: <strong class="pull-right">{{ guildAdmin.title }}</strong>
                                    </a>

                                    <a href="{{ path('rizzen_guild_see', {'subdomain': guildAdmin.slug}) }}" class="list-group-item">
                                        <i class="fa fa-shield"></i> Slug: <strong class="pull-right">{{ guildAdmin.slug }}</strong>
                                    </a>

                                    <div class="list-group-item" title="{{ guildAdmin.creationDate | ago() }}">
                                        <i class="fa fa-calendar-o"></i> Creation Date: <strong class="pull-right">{{ guildAdmin.creationDate | date() }}</strong>
                                    </div>

                                    <a href="{{ path('rizzen_profile_see', {'username': guildAdmin.creator.username}) }}" class="list-group-item">
                                        <i class="fa fa-user"></i> Creator: <strong class="pull-right">{{ guildAdmin.creator.username }}</strong>
                                    </a>

                                    <div class="list-group-item">
                                        <i class="fa fa-users"></i> Guild Members: <strong class="pull-right">{{ guildAdmin.members | length }}</strong>
                                    </div>

                                    <div class="list-group-item">
                                        <i class="fa fa-users"></i> Forum Members: <strong class="pull-right">{{ guildAdmin.forum.members | length }}</strong>
                                    </div>

                                    <div class="list-group-item">
                                        <i class="fa fa-calendar"></i> Events Created: <strong class="pull-right">{{ guildAdmin.calendar.events | length }}</strong>
                                    </div>

                                    <div class="list-group-item">
                                        <i class="fa fa-newspaper-o"></i> Blog Posts: <strong class="pull-right">{{ guildAdmin.blog.posts | length }}</strong>
                                    </div>

                                    <div class="list-group-item">
                                        <i class="fa fa-bars"></i> Blog Categories: <strong class="pull-right">{{ guildAdmin.blog.categories | length }}</strong>
                                    </div>

                                    <div class="list-group-item">
                                        <i class="fa fa-paint-brush"></i> Custom CSS: <strong class="pull-right">{% if guildAdmin.customCSSEnabled %}Enabled{% else %}Disabled{% endif %}</strong>
                                    </div>

                                    <div class="list-group-item">
                                        <i class="fa fa-picture-o"></i> Custom Logo: <strong class="pull-right">{% if guildAdmin.customLogoEnabled %}Enabled{% else %}Disabled{% endif %}</strong>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <h3>Forum Categories</h3>
                            <hr class="no-margin-top"/>
                            {% for category in guildAdmin.forum.categories %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-primary forum-list-panel">

                                            <div class="panel-heading">
                                                <h3 class="panel-title">{{ category.title }}
                                                    <span class="pull-right">
                                                        {% if category.accessibleByGuests == false %}<span class="label label-danger"><i class="fa fa-eye-slash"></i> Guests</span>{% endif %}

                                                        {% if category.accessRestricted == true %}
                                                            <span title="Visible by: {% for role in category.accessList %} [{{ role }}] {% endfor %} (Role ID)"
                                                                  class="label label-danger"><i class="fa fa-key"></i> Access Restricted</span>
                                                        {% endif %}

                                                        {% if category.locked %}<span class="label label-danger"><i class="fa fa-lock"></i> Locked</span>{% else %}<span class="label label-success"><i class="fa fa-unlock"></i> Unlocked</span>{% endif %}
                                                    </span>
                                                </h3>
                                            </div>

                                            {% for subcat in category.subcategories %}
                                                <div class="list-group">

                                                    <div {% if subcat.locked %}title="This SubCategory is locked"{% endif %} class="list-group-item{% if subcat.locked %} list-group-item-warning text-color-reset{% endif %}">
                                                        <strong class="forum-admin-subcat-title">{{ subcat.title }}</strong>
                                                    </div>

                                                </div>

                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>



                </div>

                <div class="col-md-5">

                    <div class="row">
                        <div class="col-md-12">
                            <button data-toggle="modal"
                                    data-target="#chatModal"
                                    class="btn btn-block btn-primary"><i class="fa fa-comments-o"></i> Guild Chat Messages</button>
                            <br/>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <i class="fa fa-shield"></i> Guild Roles
                                <span class="pull-right">
                                    <strong>Roles: [ {{ guildAdmin.roles | length }} ]</strong>
                                </span>
                                    </h3>
                                </div>

                                <table class="table table-striped no-bottom-border-table">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Permissions</th>
                                    </tr>
                                    </thead>

                                    <tbody id="roleTableTbody">

                                    {% for role in guildAdmin.roles %}
                                        <tr>
                                            <th>{{ role.id }}</th>
                                            <td>{{ role.title }}</td>
                                            <td><button data-toggle="modal"
                                                        data-target="#roleModal{{ role.id }}"
                                                        class="btn btn-xs btn-primary"><i class="fa fa-eye"></i> See</button></td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>

                                </table>

                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <i class="fa fa-shield"></i> Guild Members
                                <span class="pull-right">
                                    <strong>Users: [ {{ guildAdmin.members | length }} ]</strong>
                                </span>
                                    </h3>
                                </div>

                                <table class="table table-striped no-bottom-border-table">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Username</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>

                                    <tbody id="roleTableTbody">

                                    {% for user in guildAdmin.members %}
                                        <tr>
                                            <th>{{ user.id }}</th>
                                            <td>{{ user.username }}</td>
                                            <td class="btn-xs-td">
                                                <a href="{{ path('rizzen_profile_see', {'username': user.username }) }}" class="btn btn-xs btn-primary">
                                                    <i class="fa fa-eye"></i> See profile
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>

                                </table>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    {% for role in guildAdmin.roles %}
        <div class="modal fade local-modal" id="roleModal{{ role.id }}" tabindex="-1" role="dialog" aria-labelledby="roleModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Permissions</h4>
                    </div>

                    <div class="modal-body">

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ role.title }}</h3>
                            </div>

                            <ul class="list-group">

                                {% if role.canEditForumPost %}
                                    <li class="list-group-item roles-list-can">Can edit forum posts <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                                {% else %}
                                    <li class="list-group-item roles-list-cant">Can edit forum posts <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                                {% endif %}

                                {% if role.canDeleteForumPost %}
                                    <li class="list-group-item roles-list-can">Can delete forum posts <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                                {% else %}
                                    <li class="list-group-item roles-list-cant">Can delete forum posts <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                                {% endif %}

                                {% if role.canEditForumThread %}
                                    <li class="list-group-item roles-list-can">Can edit forum threads <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                                {% else %}
                                    <li class="list-group-item roles-list-cant">Can edit forum threads <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                                {% endif %}

                                {% if role.canDeleteForumThread %}
                                    <li class="list-group-item roles-list-can">Can delete forum threads <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                                {% else %}
                                    <li class="list-group-item roles-list-cant">Can delete forum threads <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                                {% endif %}

                                {% if role.canPinThread %}
                                    <li class="list-group-item roles-list-can">Can pin forum threads <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                                {% else %}
                                    <li class="list-group-item roles-list-cant">Can pin forum threads <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                                {% endif %}

                                {% if role.canEditForum %}
                                    <li class="list-group-item roles-list-can">Can edit the forum categories <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                                {% else %}
                                    <li class="list-group-item roles-list-cant">Can edit the forum categories <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                                {% endif %}

                                {% if role.canWriteBlogPost %}
                                    <li class="list-group-item roles-list-can">Can write blog posts <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                                {% else %}
                                    <li class="list-group-item roles-list-cant">Can write blog posts <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                                {% endif %}

                                {% if role.canEditBlogPost %}
                                    <li class="list-group-item roles-list-can">Can edit blog posts <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                                {% else %}
                                    <li class="list-group-item roles-list-cant">Can edit blog posts <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                                {% endif %}

                                {% if role.canSeeAdminPanel %}
                                    <li class="list-group-item roles-list-can">Can see the administration dashboard <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                                {% else %}
                                    <li class="list-group-item roles-list-cant">Can see the administration dashboard <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                                {% endif %}

                                {% if role.canAddToGuild %}
                                    <li class="list-group-item roles-list-can">Can add to guild <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                                {% else %}
                                    <li class="list-group-item roles-list-cant">Can add to guild <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                                {% endif %}

                                {% if role.canBan %}
                                    <li class="list-group-item roles-list-can">Can ban from the guild/forum <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                                {% else %}
                                    <li class="list-group-item roles-list-cant">Can ban from the guild/forum <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                                {% endif %}

                                {% if role.canModifyRank %}
                                    <li class="list-group-item roles-list-can">Can modify the users roles <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                                {% else %}
                                    <li class="list-group-item roles-list-cant">Can modify the users roles <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                                {% endif %}

                                {% if role.canCreateRole %}
                                    <li class="list-group-item roles-list-can">Can create roles <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                                {% else %}
                                    <li class="list-group-item roles-list-cant">Can create roles <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                                {% endif %}

                                {% if role.canCreateEvent %}
                                    <li class="list-group-item roles-list-can">Can create events <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                                {% else %}
                                    <li class="list-group-item roles-list-cant">Can create events <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                                {% endif %}

                                {% if role.canManageEvent %}
                                    <li class="list-group-item roles-list-can">Can manage events <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                                {% else %}
                                    <li class="list-group-item roles-list-cant">Can manage events <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                                {% endif %}

                                {% if role.canEditGuildStyle %}
                                    <li class="list-group-item roles-list-can">Can edit the guild style <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                                {% else %}
                                    <li class="list-group-item roles-list-cant">Can edit the guild style <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                                {% endif %}

                                {% if role.canEditGuildLogo %}
                                    <li class="list-group-item roles-list-can">Can edit the guild logo <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                                {% else %}
                                    <li class="list-group-item roles-list-cant">Can edit the guild logo <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                                {% endif %}

                            </ul>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="modal fade local-modal" id="chatModal" tabindex="-1" role="dialog" aria-labelledby="chatModal" aria-hidden="true">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Guild Chat</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <i class="fa fa-comment"></i> Guild Chat Messages

                                        <span class="pull-right">
                                            <strong>Count: [ {{ chatMessages | length }} ]</strong>
                                        </span>
                                    </h3>
                                </div>

                                <div class="panel-body chat-container no-padding-bottom">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 chat-messages">
                                            <div class="msg-container nano">
                                                <ul class="list-unstyled chat-msg-list nano-content">

                                                    {% for message in chatMessages %}
                                                        <li>
                                                            <small title="{{ message.timestamp | date() }}" class="small-lighter chat-timestamp">[ {{ message.timestamp | date('d/m/y') }} ] </small> <strong>{{ message.sentBy }}:</strong> <span class="guild-chat-msg">{{ message.message | raw }}</span>
                                                        </li>
                                                    {% endfor %}

                                                </ul>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>



                </div>

                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(".msg-container").nanoScroller().nanoScroller({ scroll: 'bottom' });
    </script>
{% endblock %}
