<div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-shield"></i> Recently viewed guilds </h3>
        </div>

        <div class="list-group">
            {% if recentlyVisited.guilds | length > 0 %}
            {% for guild in recentlyVisited.guilds %}
                <a class="list-group-item" href="{{ path('rizzen_guild_see', {'subdomain': guild.slug}) }}">
                    <strong><i class="fa fa-caret-right"></i> {{ guild.title }}</strong>
                </a>
            {% endfor %}
            {% else %}
                <div class="list-group-item text-center">
                    <small class="small-lighter">You haven't visited any guild yet</small>
                </div>
            {% endif %}
        </div>

    </div>
</div>


<div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-comments"></i> Recently viewed forum threads</h3>
        </div>

        <div class="list-group">
            {% if recentlyVisited.threads | length > 0 %}
            {% for thread in recentlyVisited.threads %}
                <a class="list-group-item" href="{{ path('rizzen_forum_thread_history', {'subdomain': thread.guildSlug, 'threadSlug': thread.threadSlug}) }}">
                    <strong><i class="fa fa-caret-right"></i> {{ thread.threadTitle }}</strong>
                </a>
            {% endfor %}
            {% else %}
            <div class="list-group-item text-center">
                <small class="small-lighter">You haven't seen any thread yet</small>
            </div>
            {% endif %}
        </div>

    </div>
</div>
