<div class="col-md-12">
    <div class="panel panel-success forum-list-panel">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-inbox"></i> Unread Conversations</h3>
        </div>
        {% if app.user.unreads | length >= 1 %}
        {% for conversation in app.user.unreads | slice(0, 5) %}
            <div class="forum-list-subcat {% if loop.index is even %}forum-list-alternate{% endif %}">
                <div class="row">
                    <a href="{{ path('rizzen_messenger_conversation', {'slug': conversation.slug}) }}" class="text-color-reset">
                        <div class="col-md-9 col-xs-10">
                            <h4 class="forum-admin-subcat-title">{{ conversation.title }}</h4>
                            {% if conversation.isBot %}
                                <small class="hidden-xs">Conversation started by <strong>Grost's Bot</strong> {{ conversation.date | ago }}</small>
                                <small class="visible-xs">Created by <strong>Grost's Bot</strong> {{ conversation.date | ago }}</small>
                            {% else %}
                                <small class="hidden-xs">Conversation started by <strong>{{ conversation.creator.username }}</strong> {{ conversation.date | ago }}</small>
                                {% if conversation.lastMessage.isBot %}
                                    <small class="visible-xs">Created by <strong>{{ conversation.creator.username }}</strong> {{ conversation.date | ago }}, last message: {{ conversation.lastMessage.date|ago }} by <strong>Grost's Bot</strong></small>
                                {% else %}
                                    <small class="visible-xs">Created by <strong>{{ conversation.creator.username }}</strong> {{ conversation.date | ago }}, last message: {{ conversation.lastMessage.date|ago }} by <strong>{{ conversation.lastMessage.creator.username }}</strong></small>
                                {% endif %}
                            {% endif %}

                        </div>
                    </a>

                    <a href="{{ path('rizzen_messenger_conversation', {'slug': conversation.slug}) }}" class="text-color-reset">
                        <div class="col-md-3 col-xs-2 forum-list-last-message-separator">
                            {% if conversation.lastMessage.isBot %}
                                <img class="pull-left forum-list-avatar img-rounded" src="{{ '/img/bot/avatar.png' | imagine_filter('avatar_forum') }}" alt="User avatar">
                                <div class="forum-list-last-message hidden-xs">
                                    <strong>Grost's Bot</strong>
                                    <hr class="no-margin"/>
                                    <small>{{ conversation.lastMessage.date|ago }}.</small>
                                </div>
                            {% else %}
                                <img class="pull-left forum-list-avatar img-rounded" src="{{ conversation.lastMessage.creator.avatar.webPath | imagine_filter('avatar_forum') }}" alt="User avatar">
                                <div class="forum-list-last-message hidden-xs">
                                    <strong>{{ conversation.lastMessage.creator.username }}</strong>
                                    <hr class="no-margin"/>
                                    <small>{{ conversation.lastMessage.date|ago }}.</small>
                                </div>
                            {% endif %}
                        </div>
                    </a>

                </div>
            </div>
            <hr class="no-margin"/>
        {% endfor %}

        {% else %}
            <div class="panel-body">
                <div class="text-center">
                    <p><strong>You've read it all!</strong></p>
                    <small class="small-lighter">You do not have any unread messages!</small>
                </div>
            </div>
        {% endif %}

    </div>
</div>
