<div class="col-md-12">
    <div class="panel panel-primary forum-list-panel">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-calendar"></i> Upcoming events</h3>
        </div>

        {% if registrations | length >= 1 %}
        {% for registration in registrations %}
            <div class="forum-list-subcat {% if loop.index is even %}forum-list-alternate{% endif %}">
                <div class="row">

                    <div class="col-md-9">
                        <h4 class="forum-admin-subcat-title">
                            <a class="dashboardEventTitle"
                               title="Go to the event page"
                               href="{{ path('rizzen_event_see', {'subdomain': registration.event.calendar.guild.slug,  'dateId': registration.event.dateId, 'eventSlug': registration.event.slug}) }}">
                                <i class="fa fa-external-link-square"></i> {{ registration.event.title }}
                            </a>
                        </h4>
                        <p>
                            <i class="fa fa-shield"></i> Guild: <strong><a href="{{ path('rizzen_guild_see', {'subdomain': registration.event.calendar.guild.slug}) }}">{{ registration.event.calendar.guild.title }}</a></strong> |
                            <strong><i class="fa fa-info-circle"></i></strong>
                            <span title="The status of your registration in the event">
                                Status:
                                {% if registration.state is constant('Rizzen\\CalendarBundle\\Constants\\RegistrationStates::PENDING') %}
                                <span class="label label-info"><i class="fa fa-question-circle"></i> PENDING</span>
                                {% elseif registration.state is constant('Rizzen\\CalendarBundle\\Constants\\RegistrationStates::ACCEPTED') %}
                                <span class="label label-success"><i class="fa fa-check"></i> ACCEPTED</span>
                                {% elseif registration.state is constant('Rizzen\\CalendarBundle\\Constants\\RegistrationStates::REFUSED') %}
                                <span class="label label-danger"><i class="fa fa-close"></i> REFUSED</span>
                                {% elseif registration.state is constant('Rizzen\\CalendarBundle\\Constants\\RegistrationStates::INVITED') %}
                                <span class="label label-primary"><i class="fa fa-envelope"></i> INVITED</span>
                                {% endif %}
                            </span>
                        </p>
                    </div>


                    <div class="col-md-3">
                        <div class="startInWrap">
                                    <span class="upcomingEventTime" data-timestamp="{{ registration.event.date | date('U') }}">
                                        <small class="small-lighter">Loading...</small>
                                    </span>
                            <br/>
                            <small class="small-lighter"><i class="fa fa-clock-o"></i> </small>
                            <small class="small-lighter startInDashboard" data-timestamp="{{ registration.event.date | date('U') }}"><i class="fa fa-spinner fa-spin"></i> Loading...</small>
                        </div>
                    </div>

                </div>
            </div>
            <hr class="no-margin"/>
        {% endfor %}
        {% else %}
            <div class="panel-body">
                <div class="text-center">
                    <p><strong>There's nothing here!</strong></p>
                    <small class="small-lighter">No upcoming event were found</small>
                </div>
            </div>
        {% endif %}

    </div>
</div>
