{% block subject %}Resetting your password{% endblock %}

{% block body_text %}
    {% autoescape false %}
    Hello {{ user.username }}!

    You can reset your password by clicking this link {{ confirmationUrl }}

    Greetings,
    the Gro.st team
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    {% include 'RizzenUserBundle:Email:resetting_html.email.twig' %}
{% endblock %}
