{% extends '::base.html.twig' %}

{% block css %}
    <link href='https://fonts.googleapis.com/css?family=Viga' rel='stylesheet' type='text/css'>
{% endblock %}

{% block topOfMainContainer %}

    <div id="landingBackground">
        <div class="container">
            <div class="row hero-logo">
                <div class="col-sm-3 col-sm-offset-3">
                    <div class="text-center hero-content">
                        <h1 class="no-margin logo-font">grost</h1>
                        <br/>
                        <h4 class="logo-font no-margin">Guild Hosting Service</h4>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class=" text-center hero-content">
                        <img src="{{ asset('img/logo/grost-logo-big.png') }}" alt="Grost Logo"/>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-7 col-centered panel-home-container">


                    <div class="panel panel-dark no-margin-bottom panel-hero">
                        <div class="panel-heading panel-heading-home">
                            <small class="panel-title panel-smaller element-inline"><i class="fa fa-shield"></i> Grost - Group & Guild Hosting Service</small>

                            <span class="pull-right panel-circles element-inline">
                                <i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i>
                            </span>

                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 reg-btn-col">
                                    <a class="btn btn-block btn-home-register btn-lg" href="{{ path('fos_user_registration_register') }}"><i class="fa fa-user"></i> Register</a>
                                    <br class="hidden-md hidden-lg"/>
                                </div>

                                <div class="col-md-8 col-xs-12 reg-guild-btn-col">
                                    <a class="btn btn-block btn-success btn-lg" href="{{ path('rizzen_guild_register_create') }}"><i class="fa fa-users"></i> Register & Create a Guild</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center home-small">
                                    <small class="small-lighter">Grost is completely free!</small>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>



        </div>
    </div>

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 text-center home-header">
            <h2 class="no-margin-top">The best way to organize your guild</h2>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-md-6">
            <h3 class="no-margin-top">Event Management</h3>
            <p>
                Grost features a powerful event management system.
                <br/>
                Create, invite, register and manage your events in real-time.
            </p>
            <p>
                <strong>Anything you do on the event page is updated in real-time, for every users.</strong>
            </p>
            <p>
                <strong>Events aren't limited to your guild members</strong>, you can invite any Grost member to your
                events, you don't need to grant them guild access, they will only be able to access and see this event
                from their personal calendar.
            </p>
            <p>
                It doesn't stop there, we'll make sure that your events participants get reminded of events starting
                soon by sending them a notification before the event starts (you can of course disable it if you wish).
            </p>
            <p>
                Dealing with timezones can be a pain for international communities, <strong>we make sure to correct
                    every dates and times you see on our service to the timezone of the person that is using it</strong>.
            </p>
        </div>

        <div class="col-md-6">
            <div class="panel panel-dark">
                <div class="panel-heading panel-heading-home">
                    <small class="panel-title panel-smaller element-inline"><i class="fa fa-calendar"></i> Grost - Event Management</small>

                    <span class="pull-right panel-circles element-inline">
                        <i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i>
                    </span>

                </div>

                <img class="img-responsive" src="{{ asset('img/features/resized/event_resized.jpg') }}" alt="Screenshot of the event page"/>

            </div>
        </div>
    </div>

    <hr/>

    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-dark">
                <div class="panel-heading panel-heading-home">
                    <small class="panel-title panel-smaller element-inline"><i class="fa fa-comments"></i> Grost - Forum</small>

                    <span class="pull-right panel-circles element-inline">
                        <i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i>
                    </span>

                </div>

                <img class="img-responsive" src="{{ asset('img/features/resized/forum_resized.jpg') }}" alt="Screenshot of the forum thread page"/>

            </div>
        </div>

        <div class="col-md-6">
            <h3 class="no-margin-top">Forum</h3>
            <p>
                Grost created an easy to use forum system.
            </p>
            <p>
                <strong>Like anywhere else on our service, when you post a message, it will appear instantly to whoever
                    is currently reading the thread.</strong>
            </p>
            <p>
                <strong>Moderation has been created with ease in mind</strong>, you don't need to change page to edit a
                message, delete it or anything, everything is on the same page right at your disposal.
            </p>
            <p>
                Like any forum software, you can restrict the access of certain categories of your forum using our powerful permissions system.
            </p>
        </div>

    </div>

    <hr/>

    <div class="row">

        <div class="col-md-6">
            <h3 class="no-margin-top">Community features</h3>
            <p>
                Your community is important to us, we made tools to make sure it can grow and communicate easily.
            </p>
            <p>
                Multi users real-time private conversations, friends and our guild system let you and your community
                communicate with each other and make plans with maximum ease.
            </p>
            <p>
                <strong>Grost is for the community</strong>, but it is also made by the community, you can suggest
                features you would like to see integrated, and if it's a good idea, it will most likely be implemented.
            </p>
            <p>
                Just like the rest of the service, new features will be added on a regular basis, and existing features will be improved.
            </p>
        </div>

        <div class="col-md-6">
            <div class="panel panel-dark">
                <div class="panel-heading panel-heading-home">
                    <small class="panel-title panel-smaller element-inline"><i class="fa fa-users"></i> Grost - Community</small>

                    <span class="pull-right panel-circles element-inline">
                        <i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i>
                    </span>

                </div>

                <img class="img-responsive" src="{{ asset('img/features/resized/messenger_resized.jpg') }}" alt="Screenshot of the messenger page"/>

            </div>
        </div>

    </div>

    <hr/>

    <div class="row">

        <div class="col-md-4">
            <div class="panel panel-dark">
                <div class="panel-heading panel-heading-home">
                    <small class="panel-title panel-smaller element-inline"><i class="fa fa-newspaper-o"></i> Grost - Blog</small>

                    <span class="pull-right panel-circles element-inline">
                        <i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i>
                    </span>

                </div>

                <img class="img-responsive" src="{{ asset('img/features/resized/blog_resized.jpg') }}" alt="Screenshot of the blog page"/>

            </div>
            <div class="text-center">
                <h3 class="no-margin-top">Guild Blog</h3>
                <p>
                    <strong>You will need a place tell the world about your victories and achievements.</strong>
                </p>
                <p>
                    That place is your guild blog.
                </p>
                <p>
                    Easy to use, it contains everything you need to write and share your thoughts about anything you want to write about.
                </p>
            </div>
        </div>

        <hr class="visible-xs"/>

        <div class="col-md-4">
            <div class="panel panel-dark">
                <div class="panel-heading panel-heading-home">
                    <small class="panel-title panel-smaller element-inline"><i class="fa fa-home"></i> Grost - Dashboard</small>

                    <span class="pull-right panel-circles element-inline">
                        <i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i>
                    </span>

                </div>

                <img class="img-responsive" src="{{ asset('img/features/resized/dashboard_resized.jpg') }}" alt="Screenshot of the dashboard page"/>

            </div>

            <div class="text-center">
                <h3 class="no-margin-top">Guild Dashboard</h3>
                <p>
                    <strong>The guild dashboard, the center point of anything happening in your guild.</strong>
                </p>
                <p>
                    Your guild dashboard regroup the recently active thread, your latest blog post, and if the user seeing the dashboard is a guild member, a list of the upcoming events.
                </p>
                <p>
                    Just like anywhere else on Grost, if you're in an international guild, your don't have to worry about time conversion, we take care of it our self.
                </p>
            </div>
        </div>

        <hr class="visible-xs"/>

        <div class="col-md-4">
            <div class="panel panel-dark">
                <div class="panel-heading panel-heading-home">
                    <small class="panel-title panel-smaller element-inline"><i class="fa fa-cogs"></i> Grost - Administration</small>

                    <span class="pull-right panel-circles element-inline">
                        <i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i>
                    </span>

                </div>

                <img class="img-responsive" src="{{ asset('img/features/resized/administration_resized.jpg') }}" alt="Screenshot of the forum administration page"/>

            </div>

            <div class="text-center">
                <h3 class="no-margin-top">Guild Administration</h3>
                <p>
                    <strong>Administrating your guild should be easy, but still let you have as much control as possible.</strong>
                </p>
                <p>
                    From managing your forum categories, to creating personalized roles, the Grost administration let you control the way your guild works.
                </p>
                <p>
                    Our permissions system gives you the freedom to allocate certain tasks to your members by creating roles that makes sense to your needs.
                </p>
                <p>
                    You can read more about our permissions system in the FAQ.
                </p>
            </div>
        </div>

        <hr class="visible-xs"/>

    </div>

    <hr/>

    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="no-margin">Grost is new and constantly evolving.</h2>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-dark">
                <div class="panel-heading panel-heading-home">
                    <small class="panel-title panel-smaller element-inline"><i class="fa fa-code"></i> Grost - New
                        Service
                    </small>

                    <span class="pull-right panel-circles element-inline">
                        <i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i>
                    </span>

                </div>

                <img class="img-responsive" src="{{ asset('img/features/resized/alpha_resized.jpg') }}" alt="Grost Beta"/>


                <div class="panel-body text-center">
                    <h4 class="no-margin-top">Grost is a new service</h4>
                    <p class="text-center">
                        Grost is a new service, and tries to innovate as much as possible.
                    </p>
                    <p class="text-center">
                        We welcome any feedback, bug reports and feature requests, we're trying to improve Grost as much
                        as we can, with your help, it might become even better.
                    </p>
                </div>

            </div>

        </div>

        <div class="col-md-6">

            <div class="panel panel-dark">
                <div class="panel-heading panel-heading-home">
                    <small class="panel-title panel-smaller element-inline"><i class="fa fa-credit-card"></i> Grost - Pricing</small>

                    <span class="pull-right panel-circles element-inline">
                        <i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i>
                    </span>

                </div>

                <img class="img-responsive" src="{{ asset('img/features/resized/features_resized.jpg') }}" alt="Grost Features"/>


                <div class="panel-body text-center">
                    <h4 class="no-margin-top">Grost is a free service</h4>
                    <p class="text-center">
                        Grost is completely free to use. Zero ads.
                    </p>
                    <p class="text-center">
                        Grost is a free service, we might add some premium features, but all the features that are
                        currently available will remain free.
                    </p>
                </div>

            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h2 class="no-margin-bottom">Join us now!</h2>
                <small>It's completely free!</small>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="col-md-7 col-centered">


                    <div class="panel panel-dark no-margin-bottom">
                        <div class="panel-heading panel-heading-home">
                            <small class="panel-title panel-smaller element-inline"><i class="fa fa-shield"></i> Grost - Group & Guild Hosting Service</small>

                            <span class="pull-right panel-circles element-inline">
                                <i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i>
                            </span>

                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 reg-btn-col">
                                    <a class="btn btn-block btn-home-register btn-lg" href="{{ path('fos_user_registration_register') }}"><i class="fa fa-user"></i> Register</a>
                                    <br class="hidden-md hidden-lg"/>
                                </div>

                                <div class="col-md-8 col-xs-12 reg-guild-btn-col">
                                    <a class="btn btn-block btn-success btn-lg" href="{{ path('rizzen_guild_register_create') }}"><i class="fa fa-users"></i> Register & Create a Guild</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block bottomOfMainContainer %}

    <div id="scrollToTop" class="text-center" onclick="backToTop()">

        <strong class="stt-content">
            <i class="fa fa-chevron-up"></i> Back to top <i class="fa fa-chevron-up"></i>
        </strong>

    </div>
{% endblock %}
