{% extends "::base.html.twig" %}

{% block title %}Register - {% endblock %}

{% block description %}
    <meta name="description" content="Create and join guilds, participate in forum discussion, join and manage real-time events. All of that, for free.">
{% endblock %}

{% block body %}
    {% trans_default_domain 'FOSUserBundle' %}

    <div class="row">

        <div class="col-md-6 col-centered">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-user"></i> Create a new account</h3>
                </div>

                <div class="panel-body">

                    {{ form_start(form, {"attr": {"class": "grost-register"}, "action": path('fos_user_registration_register') }) }}

                        {% if form_errors(form) %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="alert alert-danger">
                                        {{ form_errors(form) }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <div class="row">
                            {% if form_errors(form.email) %}
                                <div class="col-md-12">
                                    <div class="alert alert-danger">
                                        <strong><i class="fa fa-warning"></i></strong> This address is invalid or an account is already tied to it
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col-md-12">
                                {% if form_errors(form.email) %}
                                    <div class="form-group no-margin has-error has-feedback">
                                        {{ form_label(form.email, "Email:", { 'label_attr': {'class': 'control-label'} }) }}
                                        <div class="input-group">
                                            <span class="input-group-addon form-i-fix"><i class="fa fa-envelope fa-envelope-width"></i></span>
                                            {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': "Email Address"} }) }}
                                        </div>
                                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    </div>
                                {% else %}
                                <div class="form-group no-margin">
                                    {{ form_label(form.email, "Email:") }}
                                    <div class="input-group">
                                        <span class="input-group-addon form-i-fix"><i class="fa fa-envelope fa-envelope-width"></i></span>
                                        {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': "Email Address"} }) }}
                                    </div>
                                </div>
                                {% endif %}
                                <br/>
                            </div>
                        </div>

                        <div class="row">
                            {% if form_errors(form.username) %}
                                <div class="col-md-12">
                                    <div class="alert alert-danger">
                                        <strong><i class="fa fa-warning"></i></strong> Username already in use or invalid (3 to 40 characters)
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col-md-12">
                                {% if form_errors(form.username) %}
                                    <div class="form-group no-margin has-error has-feedback">
                                        {{ form_label(form.username, "Username:", { 'label_attr': {'class': 'control-label'} }) }}
                                        <small class="pull-right small-lighter">3 to 40 characters</small>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': "Username"} }) }}
                                        </div>
                                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    </div>
                                {% else %}
                                <div class="form-group no-margin">
                                    {{ form_label(form.username, "Username:") }}<small class="pull-right small-lighter">3 to 40 characters</small>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': "Username"} }) }}
                                    </div>
                                </div>
                                {% endif %}
                                <br/>
                            </div>
                        </div>

                        <div class="row">
                            {% if form_errors(form.plainPassword.first) %}
                                <div class="col-md-12">
                                    <div class="alert alert-danger">
                                        <strong><i class="fa fa-warning"></i></strong> The passwords do not match or are invalid
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col-md-12">
                                {% if form_errors(form.plainPassword.first) %}

                                    <div class="form-group has-error has-feedback">
                                        <label class="control-label required" for="fos_user_registration_form_plainPassword_first">Password:</label>
                                        <small class="small-lighter pull-right ">Must be at least 5 characters</small>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock fa-form-fix"></i></span>
                                            <input class="form-control"
                                                   placeholder="Password"
                                                   id="fos_user_registration_form_plainPassword_first"
                                                   name="fos_user_registration_form[plainPassword][first]"
                                                   required="required"
                                                   type="password">
                                        </div>

                                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    </div>

                                    <div class="form-group has-error has-feedback reg-padding">
                                        <label class="control-label required" for="fos_user_registration_form_plainPassword_second">Password confirmation:</label>
                                        <small class="small-error pull-right password-match d-none"><i class="fa fa-warning"></i> The passwords do not match!</small>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock fa-form-fix"></i></span>
                                            <input class="form-control"
                                                   placeholder="Password"
                                                   id="fos_user_registration_form_plainPassword_second"
                                                   name="fos_user_registration_form[plainPassword][second]"
                                                   required="required"
                                                   type="password">
                                        </div>
                                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    </div>

                                {% else %}

                                    <div class="form-group">
                                        <label class="control-label required" for="fos_user_registration_form_plainPassword_first">Password:</label>
                                        <small class="small-lighter pull-right ">Must be at least 5 characters</small>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock fa-form-fix"></i></span>
                                            <input class="form-control"
                                                   placeholder="Password"
                                                   id="fos_user_registration_form_plainPassword_first"
                                                   name="fos_user_registration_form[plainPassword][first]"
                                                   required="required"
                                                   type="password">
                                        </div>
                                    </div>

                                    <div class="form-group reg-padding">
                                        <label class="control-label required" for="fos_user_registration_form_plainPassword_second">Password confirmation:</label>
                                        <small class="small-error pull-right password-match"><i class="fa fa-warning"></i> The passwords do not match!</small>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock fa-form-fix"></i></span>
                                            <input class="form-control"
                                                   placeholder="Password"
                                                   id="fos_user_registration_form_plainPassword_second"
                                                   name="fos_user_registration_form[plainPassword][second]"
                                                   required="required"
                                                   type="password">
                                        </div>
                                    </div>

                                {% endif %}

                            </div>
                        </div>

                        <div class="row">
                            {% if form_errors(form.timezone) %}
                                <div class="col-md-12">
                                    <div class="alert alert-danger">
                                        <strong><i class="fa fa-warning"></i></strong> The timezone is invalid
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col-md-12 reg-padding">
                                {% if form_errors(form.timezone) %}
                                    <div class="form-group has-error has-feedback">
                                        {{ form_label(form.timezone, "Timezone:", { 'label_attr': {'class': 'control-label'} }) }}
                                        {{ form_widget(form.timezone, { 'attr': {'class': 'form-control'} }) }}
                                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    </div>
                                {% else %}
                                    {{ form_label(form.timezone, "Timezone:") }}
                                    {{ form_widget(form.timezone, { 'attr': {'class': 'form-control'} }) }}
                                {% endif %}
                            </div>
                        </div>


                        {{ form_widget(form._token) }}
                        <div class="row">
                            <br/>
                            <div class="col-md-12">
                                <button type="submit" class="btn-block btn btn-primary"><i class="fa fa-check"></i> Register</button>
                                <br/>
                                <div class="text-center">
                                    <small>By creating an account, you agree to Grost's <a href="{{ path('rizzen_main_terms') }}">Terms of Use</a> and <a href="{{ path('rizzen_main_privacy') }}">Privacy Policy</a>.</small>
                                </div>
                            </div>


                            <div id="pass-match" class="col-md-12 d-none">
                                <br/>
                                <div class="alert alert-danger no-margin-bottom">
                                    <strong><i class="fa fa-warning"></i></strong> The passwords do not match or are invalid
                                </div>
                            </div>

                        </div>
                    {{ form_end(form, {"render_rest": false}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>
    <script src="{{ asset('bower_components/chosen_v1.4.1/chosen.jquery.min.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('bower_components/chosen_v1.4.1/chosen.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/chosen/bootstrap-theme.css') }}"/>

    <script>
        $(document).ready(function () {
            $('#fos_user_registration_form_timezone').chosen();
            detectTimezoneRegister();
            $("#fos_user_registration_form_plainPassword_first, #fos_user_registration_form_plainPassword_second").keyup(checkRegisterPasswordMatch);
        });
    </script>

{% endblock %}
