{% extends '::base.html.twig' %}
{% block title %}Bugs - Grost Administration - {% endblock %}

{% block body %}

    <div class="row">

        {% include '::grostAdminSideMenu.html.twig' with {'currentPage': 'adminBug'} %}

        <div class="col-md-9">

            {% for bug in bugs %}

                <div class="row">
                    <div class="col-md-12">
                        <div class="well category-list-well">
                            <h4 class="no-margin">{{ bug.title }}</h4>
                            <br/>

                            <p>
                                {{ bug.content }}
                            </p>

                            <hr/>

                            <strong>Reported by: {{ bug.creator.username }} | {{ bug.date | date() }} | Severity: {{ bug.severity }} | Type: {{ bug.type }} | Status: {{ bug.status }}</strong>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}
