{% extends '::base.html.twig' %}

{% block title %}Bug report - {% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb-arrow">
                {% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="{{ path('rizzen_main_homepage') }}"><i class="fa fa-home"></i> Dashboard</a></li>
                {% else %}
                    <li><a href="{{ path('rizzen_main_homepage') }}"><i class="fa fa-home"></i> Homepage</a></li>
                {% endif %}
                <li class="active"><span><i class="fa fa-bug"></i> Bug report</span></li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Bug report</h2>
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                {{ form_start(form, {"action": path('rizzen_main_bug_report') }) }}

                    <div class="row">

                        <div class="col-md-8">
                            {{ form_label(form.title, "Title of the report:") }} <small class="small-lighter pull-right">Must contain at least 3 characters, and a maximum of 40.</small>
                            {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder': "Ex: Images not loading"} }) }}
                        </div>

                        <div class="col-md-4">
                            {{ form_label(form.type, "Bug type:") }}
                            {{ form_widget(form.type, { 'attr': {'class': 'form-control'} }) }}
                        </div>

                    </div>

                    <div class="row">
                        <br/>
                        <div class="col-md-12">
                            {{ form_label(form.content, "Bug description:") }} <small class="small-lighter pull-right">Must contain at least 3 characters, and a maximum of 5000.</small>
                            {{ form_widget(form.content, { 'attr': {'class': 'form-control bugTextArea', 'placeholder': "Give us as much information as you can, how to reproduce the bug, the page it happened on, the effect..."} }) }}
                        </div>
                    </div>

                    {{ form_widget(form._token) }}

                    <div class="row">
                        <div class="col-md-12">
                            <br/>
                            <br/>
                            <button class="btn btn-primary btn-block"><i class="fa fa-check"></i> Submit and report the bug</button>
                        </div>
                    </div>

                {{ form_end(form) }}

            {% else %}

            <div class="alert alert-info">
                <strong>
                    <i class="fa fa-info-circle"></i> Sorry, you need a Grost account to be able to report a bug, if you're having issues to register or to access your account, please send us an email at <a href="mailto:support@gro.st">support@gro.st</a>, we'll try to help you as fast as we can.
                </strong>
            </div>

            {% endif %}
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $("select").selecter();
    </script>
{% endblock %}

