{% extends '::base.html.twig' %}
{% block title %}About - {% endblock %}

{% block description %}
    <meta name="description" content="About Grost, who made it, why it has been made...">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb-arrow">
                {% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="{{ path('rizzen_main_homepage') }}"><i class="fa fa-home"></i> Dashboard</a></li>
                {% else %}
                    <li><a href="{{ path('rizzen_main_homepage') }}"><i class="fa fa-home"></i> Homepage</a></li>
                {% endif %}
                <li class="active"><span><i class="fa fa-info-circle"></i> About</span></li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>About Grost</h2>
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-user"></i> Who made it and why it has been made</h3>
                </div>

                <div class="panel-body">

                    <p>
                        Grost has been made and is being maintained by a single person.
                        <br/>
                        Grost started and still is a side project, it has been developed because it's fun and a great way to learn new things.
                    </p>

                    <a class="btn btn-primary" href="{{ path('rizzen_profile_see', {'username': 'Rizzen'}) }}"><i class="fa fa-user"></i> My Grost Profile</a>
                    <a class="btn btn-success" href="http://bryanhaag.fr"><i class="fa fa-user"></i> My Portfolio</a>

                </div>

            </div>
        </div>


    </div>

{% endblock %}
