{% extends '::base.html.twig' %}
{% block title %}Contact - {% endblock %}

{% block description %}
    <meta name="description" content="Contacting the Grost administrators, you can get in touch with us by email or with our messaging system.">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb-arrow">
                {% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="{{ path('rizzen_main_homepage') }}"><i class="fa fa-home"></i> Dashboard</a></li>
                {% else %}
                    <li><a href="{{ path('rizzen_main_homepage') }}"><i class="fa fa-home"></i> Homepage</a></li>
                {% endif %}
                <li class="active"><span><i class="fa fa-comment"></i> Contact</span></li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Contact us</h2>
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-info-circle"></i> Contact information</h3>
                </div>

                <div class="panel-body">
                    <p>
                        You can contact us if you have any questions, problems or anything, we'll try to answer it as fast as we can.
                        <br/>
                        <br/>
                        <strong>If you encountered a bug or an error on Grost, if possible, please use the Bug Report function in the footer to report it instead of contacting us by email or using the messenger, thanks.</strong>
                        <br/>
                        <br/>
                        You can contact us in <strong>English</strong> or <strong>French</strong>.
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-envelope"></i> E-mail</h3>
                </div>

                <div class="panel-body">
                    <strong>You can send us an email at:</strong>
                    <br/>
                    <br/>
                    <ul>
                        <li><strong>Grost Support</strong>: <a href="mailto:support@gro.st">support@gro.st</a></li>
                        <li><strong>General</strong>: <a href="mailto:contact@gro.st">contact@gro.st</a></li>
                    </ul>
                    <br/>
                    <p>When contacting the support please send us your Grost username if possible.</p>
                </div>

            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-inbox"></i> Grost Messenger</h3>
                </div>

                <div class="panel-body">
                    <strong>You can contact us directly from the Grost messaging system.</strong>
                    <br/>
                    <br/>
                    {% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a class="btn btn-block btn-primary" href="{{ path('rizzen_messenger_writewithrecipient', { 'recipient': 'Rizzen' }) }}"><i class="fa fa-envelope-o"></i> Contact an administrator</a>

                    {% else %}
                        <button class="btn btn-block btn-primary disabled"><i class="fa fa-envelope-o"></i> Contact an administrator</button>
                        <div class="text-center">
                            <small>You need to be logged in to use the messaging system</small>
                        </div>

                    {% endif %}
                </div>

            </div>
        </div>
    </div>

{% endblock %}
