{% extends '::base.html.twig' %}
{% block title %}Frequently Asked Questions - {% endblock %}

{% block description %}
    <meta name="description" content="Frequently Asked questions, how to create a guild, how to add members to your guild...">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb-arrow">
                {% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="{{ path('rizzen_main_homepage') }}"><i class="fa fa-home"></i> Dashboard</a></li>
                {% else %}
                    <li><a href="{{ path('rizzen_main_homepage') }}"><i class="fa fa-home"></i> Homepage</a></li>
                {% endif %}
                <li class="active"><span><i class="fa fa-info-circle"></i> Frequently Asked Questions</span></li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Frequently Asked Questions</h2>
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-info-circle"></i> Frequently Asked Questions</h3>
                </div>

                <div class="panel-body">

                    <h3 id="createGuild" class="no-margin-top">Creating a Guild</h3>
                    <p>
                        To create a guild, you first need to <a href="{{ path('fos_user_registration_register') }}">create an account on Grost</a>.
                        <br/>
                        Once logged into your account, you will have to click the "<a href="{{ path('rizzen_guild_create') }}">Create a new guild</a>" button in your <a href="{{ path('rizzen_main_homepage') }}">dashboard</a>.
                        <br/>
                        You then need to enter the name of your guild, please keep in mind that you can create a maximum of 5 guilds.
                        <br/>
                        Click "Submit & Create the guild", it will check if the name is available, if it is, you will be redirected to your guild, else, you will have to enter another name.
                    </p>

                    <hr/>

                    <h3 id="joinGuild" class="no-margin-top">Adding members to your guild</h3>
                    <p>
                        To add members to your guild, you need to click the "Add to the guild" button located in their forum profile.
                        <br/>
                        The users forum profiles are located in the "Manage Users" page, you can access it from the administration dropdown (located on the left of your username in the navbar) or your administration dashboard.
                        <br/>
                        If you can't see the user in the list, please ask him to join the forum first, he can do so by clicking the "Join This Forum" button in the navbar when navigating the forum or in the guild dashboard.
                    </p>

                    <hr/>

                    <h3 id="createEvent" class="no-margin-top">Creating an Event</h3>
                    <p>
                        To create an event, go to the calendar page of your guild, then click on the day your event is starting.
                        <br/>
                        Click the "Create a new event" button, you will have to enter a title, the description is optional and can be left blank.
                        <br/>
                        You will have to chose when the event will start, remember that the time you will enter there will be corrected automatically for users that are not in the same timezone as yours.
                        <br/>
                        You can choose if the event is open or closed.
                        <br/>
                        Closed events are invite only, open events can be registered to by anyone in the guild.
                    </p>

                    <hr/>
                    <h3 id="joinEvent" class="no-margin-top">Joining an Event</h3>
                    <p>
                        To join an event, go to the event page, then click the "Join this event and wait for approval" button.
                        <br/>
                        If you can't see the button, it means this event is closed and you will need an invite to register to it.
                    </p>

                </div>

            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-info-circle"></i> Navigation</h3>
                </div>

                <div class="list-group">
                    <a href="#createGuild" class="list-group-item">Creating a Guild</a>
                    <a href="#joinGuild" class="list-group-item">Adding members to your guild</a>
                    <a href="#createEvent" class="list-group-item">Creating an Event</a>
                    <a href="#joinEvent" class="list-group-item">Joining an Event</a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
