{% extends '::base.html.twig' %}

{% block title %}Updates Notes - {% endblock %}

{% block description %}
    <meta name="description" content="The latest updates pushed to Grost.">
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb breadcrumb-arrow">
            {% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li><a href="{{ path('rizzen_main_homepage') }}"><i class="fa fa-home"></i> Dashboard</a></li>
            {% else %}
                <li><a href="{{ path('rizzen_main_homepage') }}"><i class="fa fa-home"></i> Homepage</a></li>
            {% endif %}
            <li class="active"><span><i class="fa fa-server"></i> Updates</span></li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Grost patch notes</h2>
        <hr/>
    </div>
</div>

<div class="row">


    <div class="col-md-9">
        {% for update in updates %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-code"></i> Grost update: <strong>[{{ update.version }}]</strong>, {{ update.date | date() }}
                        {% if app.user and is_granted("ROLE_ADMIN") %}
                         <a class="pull-right" href="{{ path('rizzen_admin_update_edit', {'updateId': update.id}) }}"><i class="fa fa-pencil"></i> Edit</a>
                        {% endif %}
                    </h3>
                </div>

                <div class="panel-body panel-updates">
                    {{ update.content | raw }}
                </div>

            </div>
        {% endfor %}
    </div>

    <div class="col-md-3">
        <div class="panel panel-info no-margin-bottom">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-info-circle"></i> Current version</h3>
            </div>

            <div class="panel-body text-center">
                <strong>The current version of Grost is:</strong>
                <br/><br/>
                <h3 class="no-margin">{{ version }}</h3>
            </div>

        </div>


        {{ knp_pagination_render(updates) }}
    </div>
</div>
{% endblock %}

