{% extends '::base.html.twig' %}
{% block title %}{{ guild.title }} - Categories Management - Forum Administration - {% endblock %}

{% block TopBarButtons %}

    {% include '::administrationDropdown.html.twig' %}

{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb breadcrumb-arrow">
            <li><a href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}"><i class="fa fa-home"></i> {{ guild.title }}</a></li>
            <li><a href="{{ path("rizzen_forum_admin_index", {'subdomain': subdomain}) }}"><i class="fa fa-cogs"></i> Forum Dashboard</a></li>
            <li class="active"><span><i class="fa fa-list-alt"></i> Manage Categories</span></li>
        </ol>
    </div>
</div>

<div class="row">
    {# Side navigation #}
    {% include '::administrationSideMenu.html.twig' with {'currentPage': 'categoryManager'} %}

    <div class="col-md-9">

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info">
                    <strong><i class="fa fa-info-circle"></i> Notes:</strong>
                    <br/>
                    You can create a maximum of <strong>8 categories.</strong> You currently have created <strong>{{ guild.forum.categories | length }} {% if guild.forum.categories | length > 1 %}categories{% else %}category{% endif %}.</strong>
                    <br/>
                    Each category can contain a maximum of <strong>8 sub-categories</strong>.
                </div>
            </div>
        </div>


        {% if guild.forum.categories | length < 8 %}
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-block btn-info" href="{{ path('rizzen_forum_admin_createcategory', {'subdomain': subdomain}) }}"><i class="fa fa-plus-square"></i> Add a new category</a>
                <br/>
            </div>
        </div>
        {% endif %}

        {% for category in guild.forum.categories %}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info forum-list-panel">

                        <div class="panel-heading">
                            <h3 class="panel-title">{{ category.title }}
                                <span class="pull-right">
                                    <span id="guestsLabel{{ category.id }}" class="label label-danger" {% if category.accessibleByGuests == true %}style="display: none;"{% endif %}><i class="fa fa-eye-slash"></i> Guests</span>

                                    <span id="accessRestricted{{ category.id }}" class="label label-danger" {% if category.accessRestricted == false %}style="display: none;"{% endif %}><i class="fa fa-key"></i> Access Restricted</span>

                                    {% if category.locked %}<span class="label label-danger"><i class="fa fa-lock"></i> Locked</span>{% else %}<span class="label label-success"><i class="fa fa-unlock"></i> Unlocked</span>{% endif %} |

                                    <i class="fa fa-sort"></i> Position: <strong>{{ category.position }}</strong> |

                                    <button class="btn btn-link btn-panel-title color-reset" data-toggle="modal" data-target="#accessModal{{ category.id }}" tabindex="-1"><i class="fa fa-key"></i> Access</button> |

                                    <a class="color-reset" href="{{ path("rizzen_forum_admin_category_edit", {'subdomain': subdomain, 'slug': category.slug}) }}"><strong><i class="fa fa-cog"></i> Edit</strong></a>
                                </span>
                            </h3>
                        </div>

                        {% for subcat in category.subcategories %}
                            <div class="forum-list-subcat {% if loop.index is even %}forum-list-alternate{% endif %}">
                                <div class="row">

                                    <div class="col-md-9">
                                        <h4 class="forum-admin-subcat-title">{{ subcat.title }}</h4>
                                        <p>
                                            <i class="fa fa-sort"></i> Position: <strong>{{ subcat.position }}</strong> |
                                            {% if subcat.locked == true %}<span class="label label-danger"><i
                                                        class="fa fa-lock"></i> Locked</span>{% else %}<span
                                                    class="label label-success"><i
                                                        class="fa fa-unlock"></i> Unlocked</span>{% endif %}
                                        </p>
                                    </div>


                                    <div class="col-md-3">
                                        <div class="pull-right">
                                            <a class="btn btn-info forum-admin-subcat-btn" target="_blank" href="{{ path("rizzen_forum_subcat", {'subdomain': subdomain, 'slug': subcat.slug}) }}"><i class="fa fa-external-link-square"></i> View</a>
                                            <a class="btn btn-primary forum-admin-subcat-btn" href="{{ path("rizzen_forum_admin_subcategory_edit", {'subdomain': subdomain, 'slug': subcat.slug}) }}"><i class="fa fa-cog"></i> Edit</a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <hr class="no-margin"/>
                        {% endfor %}

                        {% if category.subcategories | length < 10 %}
                        <div class="forum-list-subcat forum-list-new-subcat">
                            <div class="row">

                                <div class="col-md-12">
                                    <a class="btn btn-block btn-primary btn-sm" href="{{ path("rizzen_forum_admin_createsubcategory", {'subdomain': subdomain, 'slug': category.slug}) }}"><i class="fa fa-plus-square"></i> Add a new sub-category</a>
                                </div>

                            </div>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% for category in guild.forum.categories %}
    <div class="modal fade local-modal" id="accessModal{{ category.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Access Management</h4>
                </div>

                <hr class="no-margin-top"/>

                <div class="modal-body">
                    <p>
                        You're about to modify the accessibility list of the category "{{ category.title }}".
                        <br/>
                        <br/>
                        <strong>If you decide to add roles to the list, please note that the category will be inaccessible and invisible for the users that doesn't have any of those roles and won't be able to access it.</strong>
                        <br/>
                        <br/>
                        To make it accessible to everybody, you'll need to remove every role in the list.
                    </p>

                    <hr/>

                    <h4>Guests</h4>
                    <p>
                        You can decide if this category can be accessible and visible by guests (guests are users that haven't joined the forum).
                        <br/>
                        <br/>
                        Please note, <strong>even if they have access to this category, they won't be able to post messages in it</strong>.
                        <br/><br/>
                        {% if category.accessibleByGuests %}
                        Currently, this category <strong>IS</strong> accessible and visible by guests.
                        {% else %}
                        Currently, this category <strong>IS NOT</strong> accessible and visible by guests.
                        {% endif %}

                        {% if category.accessList is empty %}
                            {% if category.accessibleByGuests %}
                            <button class="btn btn-danger btn-xs"
                                    id="btnSetGuests{{ category.id }}"
                                    onclick="guestsAccess({{ category.id }})"
                                    data-accessibleurl="{{ path('rizzen_forum_admin_category_guest', {'subdomain': subdomain, 'slug': category.slug, 'action': 'accessible'}) }}"
                                    data-inaccessibleurl="{{ path('rizzen_forum_admin_category_guest', {'subdomain': subdomain, 'slug': category.slug, 'action': 'inaccessible'}) }}"
                                    data-accessible="inaccessible"
                                    ><i class="fa fa-eye-slash"></i> Make the category inaccessible and invisible to guests</button>

                            {% else %}
                            <button class="btn btn-primary btn-xs"
                                    id="btnSetGuests{{ category.id }}"
                                    onclick="guestsAccess({{ category.id }})"
                                    data-accessibleurl="{{ path('rizzen_forum_admin_category_guest', {'subdomain': subdomain, 'slug': category.slug, 'action': 'accessible'}) }}"
                                    data-inaccessibleurl="{{ path('rizzen_forum_admin_category_guest', {'subdomain': subdomain, 'slug': category.slug, 'action': 'inaccessible'}) }}"
                                    data-accessible="accessible"
                                    ><i class="fa fa-eye"></i> Make the category accessible and visible to guests</button>
                            {% endif %}

                        {% else %}
                            <button class="btn btn-primary btn-xs disabled"
                                    id="btnSetGuests{{ category.id }}"
                                    onclick="guestsAccess({{ category.id }})"
                                    data-accessibleurl="{{ path('rizzen_forum_admin_category_guest', {'subdomain': subdomain, 'slug': category.slug, 'action': 'accessible'}) }}"
                                    data-inaccessibleurl="{{ path('rizzen_forum_admin_category_guest', {'subdomain': subdomain, 'slug': category.slug, 'action': 'inaccessible'}) }}"
                                    data-accessible="{% if category.accessibleByGuests %}accessible{% else %}inaccessible{% endif %}"
                                    ><i class="fa fa-eye"></i> Make the category accessible and visible to guests</button>
                        {% endif %}

                        <br/>
                        <br/>
                        <small>
                            <i class="fa fa-info-circle"></i> <strong>Note:</strong> The category will be made inaccessible to guests automatically if you add a role to the access list.
                            However, it won't be made accessible to them it you remove all the roles from the list, you'll have to do it manually.
                        </small>

                    </p>

                    <hr/>

                    <div class="row">
                        <div class="col-md-12">
                            <small><i class="fa fa-info-circle"></i> To add or delete a role from the list, click on it and the button on the bottom right will update automatically to confirm your choice.</small>
                        </div>
                    </div>

                        <div class="row" id="removeRole{{ category.id }}">
                            <div class="col-md-12">
                                <h4>Roles allowed to access the category:</h4>
                            </div>

                            <div class="col-md-12">
                                <div id="noRolesWell{{ category.id }}" class="well no-margin text-center" {% if category.accessibleBy is not empty %}style="display: none;" {% endif %}>
                                    <span><i class="fa fa-info-circle"></i> No specific role has access to this category, it is publicly accessible.</span>
                                </div>
                            </div>

                            {% for role in guild.roles if role in category.accessibleBy %}
                            <div class="col-md-3" id="roleBtn-c{{ category.id }}-r{{ role.id }}-wrap">
                                <button class="btn btn-block btn-danger btn-role-remove"
                                        id="roleBtn-c{{ category.id }}-r{{ role.id }}"
                                        onclick="selectRoleAccess('#roleBtn-c{{ category.id }}-r{{ role.id }}', {{ category.id }})"
                                        data-removeurl="{{ path('rizzen_forum_admin_category_access', {'subdomain': subdomain, 'slug': category.slug, 'action': 'remove', 'roleId': role.id}) }}"
                                        data-addurl="{{ path('rizzen_forum_admin_category_access', {'subdomain': subdomain, 'slug': category.slug, 'action': 'add', 'roleId': role.id}) }}"
                                        >{{ role.title }}</button>
                            </div>
                            {% endfor %}
                        </div>
                    <br/>


                    <div class="row" id="addRole{{ category.id }}">
                        <div class="col-md-12">
                            <h4>Roles available:</h4>
                        </div>
                        {% for role in guild.roles if role not in category.accessibleBy %}
                            <div class="col-md-3" id="roleBtn-c{{ category.id }}-r{{ role.id }}-wrap">
                                <button class="btn btn-block btn-success btn-role-add"
                                        id="roleBtn-c{{ category.id }}-r{{ role.id }}"
                                        onclick="selectRoleAccess('#roleBtn-c{{ category.id }}-r{{ role.id }}', {{ category.id }})"
                                        data-removeurl="{{ path('rizzen_forum_admin_category_access', {'subdomain': subdomain, 'slug': category.slug, 'action': 'remove', 'roleId': role.id}) }}"
                                        data-addurl="{{ path('rizzen_forum_admin_category_access', {'subdomain': subdomain, 'slug': category.slug, 'action': 'add', 'roleId': role.id}) }}"
                                        >{{ role.title }}</button>
                            </div>
                        {% endfor %}

                    </div>
                </div>

                <hr class="no-margin-bottom"/>

                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn"><i class="fa fa-close"></i> Close</button>
                    <button data-selectedbtn=""
                            id="accessBtnSubmit{{ category.id }}"
                            onclick="roleAccessSubmit('#accessBtnSubmit{{ category.id }}', {{ category.id }})"
                            type="button"
                            class="btn btn-primary disabled"><i class="fa fa-info-circle"></i> Select a role to add or remove</button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}
