{% extends '::base.html.twig' %}
{% block title %}{{ guild.title }} - Sub-category creation - Forum Administration - {% endblock %}

{% block TopBarButtons %}

    {% include '::administrationDropdown.html.twig' %}

{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb-arrow">
                <li><a href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}"><i class="fa fa-home"></i> {{ guild.title }}</a></li>
                <li><a href="{{ path("rizzen_forum_admin_index", {'subdomain': subdomain}) }}"><i class="fa fa-cogs"></i> Forum Dashboard</a></li>
                <li><a href="{{ path('rizzen_forum_admin_categories', {'subdomain': subdomain}) }}"><i class="fa fa-list-alt"></i> Manage Categories</a></li>
                <li class="active"><span><i class="fa fa-pencil"></i> Sub-category creation</span></li>
            </ol>
        </div>
    </div>

    <div class="row">

        {# Side navigation #}
        {% include '::administrationSideMenu.html.twig' with {'currentPage': 'categoryManager'} %}

        <div class="col-md-9">

            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-info">
                        <strong><i class="fa fa-info-circle"></i> Note: </strong> This sub-category will be added to the category: <strong>"{{ category.title }}"</strong>
                    </div>
                </div>
            </div>

            {{ form_start(form, {"attr": {"class": "custom"}, "action": path('rizzen_forum_admin_createsubcategory', {"subdomain": subdomain, "slug": category.slug}) }) }}

                <div class="row">

                    {% if form_errors(form.title) %}
                        <div class="col-md-12">
                            <div class="alert alert-danger">
                                <i class="fa fa-warning"></i> Your title must contain <strong>at least 5 characters and a maximum of 40</strong>
                            </div>
                        </div>
                    {% endif %}

                    <div class="col-md-8">
                        {% if form_errors(form.title) %}
                            <div class="form-group has-error has-feedback">
                                <label class="control-label">Title:</label><small class="pull-right small-lighter">Must contain between 5 and 40 characters</small>
                                {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder': "Title of the sub-category"} }) }}
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                            </div>
                        {% else %}
                            <label>Title:</label><small class="pull-right small-lighter">Must contain between 5 and 40 characters</small>
                            {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder': "Title of the sub-category"} }) }}
                        {% endif %}
                    </div>

                    <div class="col-md-2">
                        <label>Lock:</label>
                        {{ form_widget(form.locked, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Locked', 'data-off': 'Unlocked', 'data-onstyle': 'danger', 'data-offstyle': 'success'} }) }}
                    </div>

                    <div class="col-md-2">
                        <label>Position:</label>
                        {{ form_widget(form.position, { 'attr': {'class': 'form-control', 'min': '1'} }) }}
                    </div>
                    <br/>


                    {{ form_rest(form) }}
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-lg btn-block btn-info"><i class="fa fa-plus-square"></i> Create the sub-category</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $("#rizzen_forumbundle_subcategory_position").stepper();
    </script>
{% endblock %}
