{% extends '::base.html.twig' %}
{% block title %}{{ guild.title }} - Category editing - Forum Administration - {% endblock %}

{% block TopBarButtons %}

    {% include '::administrationDropdown.html.twig' %}

{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb-arrow">
                <li><a href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}"><i class="fa fa-home"></i> {{ guild.title }}</a></li>
                <li><a href="{{ path("rizzen_forum_admin_index", {'subdomain': subdomain}) }}"><i class="fa fa-cogs"></i> Forum Dashboard</a></li>
                <li><a href="{{ path('rizzen_forum_admin_categories', {'subdomain': subdomain}) }}"><i class="fa fa-list-alt"></i> Manage Categories</a></li>
                <li class="active"><span><i class="fa fa-pencil"></i> Category editing</span></li>
            </ol>
        </div>
    </div>

    <div class="row">

        {# Side navigation #}
        {% include '::administrationSideMenu.html.twig' with {'currentPage': 'categoryManager'} %}

        <div class="col-md-9">
            {{ form_start(form, {"attr": {"class": "custom"}, "action": path('rizzen_forum_admin_category_edit', {"subdomain": subdomain, "slug": category.slug}) }) }}

                <div class="row">
                    {% if form_errors(form.title) %}
                        <div class="col-md-12">
                            <div class="alert alert-danger">
                                <i class="fa fa-warning"></i> Your title must contain <strong>at least 5 characters and a maximum of 40</strong>
                            </div>
                        </div>
                    {% endif %}

                    <div class="col-md-6">
                        {% if form_errors(form.title) %}
                            <div class="form-group has-error has-feedback">
                                <label class="control-label">Title:</label><small class="pull-right small-lighter">Must contain between 5 and 40 characters</small>
                                {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder': "Title of the category"} }) }}
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                            </div>
                        {% else %}
                            <label>Title:</label><small class="pull-right small-lighter">Must contain between 5 and 40 characters</small>
                            {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder': "Title of the category"} }) }}
                        {% endif %}
                    </div>

                    <div class="col-md-2">
                        <label>Lock:</label>
                        {{ form_widget(form.locked, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Locked', 'data-off': 'Unlocked', 'data-onstyle': 'danger', 'data-offstyle': 'primary'} }) }}
                    </div>

                    <div class="col-md-2">
                        <label>Guests:</label>
                        {{ form_widget(form.accessibleByGuests, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Accessible', 'data-off': 'Inaccessible', 'data-onstyle': 'success', 'data-offstyle': 'danger'} }) }}
                    </div>

                    <div class="col-md-2">
                        <label>Position:</label>
                        {{ form_widget(form.position, { 'attr': {'class': 'form-control', 'min': '1'} }) }}
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="well text-center">
                            <strong><i class="fa fa-warning"></i> Important: If the category is accessible only by a list of roles, the accessible to guests option will always be set to "Inaccessible".</strong>
                            <br/>
                            <br/>
                            You will be able to limit the access to this category to a list of roles after creating the category.
                            <br/>
                            <strong>To add a role to the access list of a category, you'll need to click the access button on the category list.</strong>
                        </div>
                    </div>

                </div>

                {{ form_rest(form) }}
                <button type="submit" class="btn btn-lg btn-block btn-info"><i class="fa fa-plus-square"></i> Update the category</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $("#rizzen_forumbundle_category_position").stepper();
    </script>
{% endblock %}
