{% extends '::base.html.twig' %}
{% block title %}{{ guild.title }} - Forum Dashboard - {% endblock %}

{% block TopBarButtons %}

    {% include '::administrationDropdown.html.twig' %}

{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb breadcrumb-arrow">
            <li><a href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}"><i class="fa fa-home"></i> {{ guild.title }}</a></li>
            <li class="active"><span><i class="fa fa-list-alt"></i> Forum Dashboard</span></li>
        </ol>
    </div>
</div>

<div class="row">

    {# Side navigation #}
    {% include '::administrationSideMenu.html.twig' with {'currentPage': 'forumAdministration'} %}

    <div class="col-md-9">
        <div class="row">
            <div class="col-md-4">


                <div class="panel panel-primary">

                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-users"></i> Forum members</h3>
                    </div>

                    <div class="panel-body text-center">
                        <h2 class="no-margin-top">{{ guild.forum.members|length }}</h2>
                        <hr/>
                        <a class="btn btn-sm btn-primary btn-block" href="{{ path('rizzen_guild_admin_users', {'subdomain': subdomain}) }}"><i class="fa fa-users"></i> Manage members</a>
                    </div>

                </div>

            </div>

            <div class="col-md-8">

                <div class="panel panel-primary">

                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-user"></i> Newest member</h3>
                    </div>

                    <div class="panel-body text-center">
                        <h2 class="no-margin-top">{% set lastMember = guild.forum.members|last %}{{ lastMember.username }}</h2>
                        <hr/>
                        <a class="btn btn-sm btn-primary btn-block" href="{{ path('rizzen_profile_see', {'username': lastMember.username}) }}"><i class="fa fa-user"></i> View profile</a>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>


{% endblock %}
