@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,700,300);
/* TRANSITIONS FOR BOOTSTRAP */

.btn {
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.btn:active {
    -webkit-transition: none;
    transition: none;
}

.nav-pills > li a {
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.list-group .list-group-item {
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
}

.list-group .list-group-item:hover {
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
}

/* END TRANSITIONS FOR BOOTSTRAP */

/* Fix for the weird wobble on firefox */
.fa-spin {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'1\'/></filter>http://www.w3.org/2000/svg\</svg>#grayscale");
}

/* HEADROOM STYLES */
.headroom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.headroom--unpinned {
    top: -100px;
}

.headroom--pinned {
    top: 0;
}

.footer {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.1s ease-out;
    transition: opacity 0.1s ease-out;
}

.footer img {
    margin-top: 9px;
}

.footer-shown {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: opacity 0.1s ease-out;
    transition: opacity 0.1s ease-out;
}

.footer-copyright {
    margin-bottom: -35px;
}

.footer-version {
    color: #6a6d74;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
}

.footer-copyright:hover small {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
}

.footer-logo {
    height: 100%;
}

@media only screen and (max-width : 767px){
    .footer {
        text-align: center;
    }

    .footer-logo img {
        margin: 0;
    }
}

.navbar-header img {
    margin-top: -3px;
}

.main-page {
    margin-top: 80px !important;
    margin-bottom: 35px !important;
}

.avatar-friend-list {
    width: 30px !important;
    height: 30px !important;
    border-radius: 2px;
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0px;
}

.modal {
    overflow-y: auto;
}

.color-reset {
    color: #F5F7FA !important;
}

.btn-panel-title {
    padding: 0 !important;
    margin-top: -3px !important;
}

.btn-panel-title:hover, .btn-panel-title:focus, .btn-panel-title:active {
    text-decoration: none !important;
}

.text-color-reset {
    color: #434a54;
}

.color-reset:hover {
    color: #E6E9ED !important;
}

.color-reset-cog {
    color: #656D78 !important;
}

.color-reset-cog:hover {
    color: #434A54 !important;
}

.bootstrap-wysihtml5-insert-link-target, .checkbox {
    display: none !important;
}

.comment-avatar {
    width: 64px !important;
    height: 64px !important;
    border-radius: 2px;
}

.response-form-alert {
    display: none;
}

.resp-link {
    color: #AAB2BD !important;
}

.cursor-pointer {
    cursor: pointer;
}

.media-min-height {
    min-height: 64px;
}

.bootflat-panel-radius-top {
    border-radius: 4px 4px 0px 0px;
}

.bootflat-panel-shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.left {
    float:left;
}
.right {
    float:right;
}
.clear {
    clear:both;
}

.d-none {
    display: none;
}

.noselect {
    -moz-user-select:-moz-none;
    -moz-user-select:none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.forum-avatar {
    width: 80px;
    height: 80px;
}

.forum-avatar-xs {
    width: 55px !important;
    height: 55px !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.forum-username {
    display: block;
    font-weight: bold;
    font-size: 24px;
    margin-top: -20px;
}

.forum-user {
    height: 100%;
    border-right: 1px solid #EEE;
}

.forum-user-hr {
    margin-top: 0px;
    margin-bottom: 10px;
}

.forum-message {
    word-wrap: break-word;
}

.forum-user-infos {
    margin-bottom: 10px;
}

.subcat-thread-pad {
    padding-top: 2px;
}

.forum-reg-btn {
    margin-right: 5px;
}

.small-lighter {
    color: #d3d3d3 !important;
}

.small-error {
    color: #DA4453 !important;
}

blockquote em,
blockquote small,
blockquote .small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #999;
}

blockquote em:before,
blockquote small:before,
blockquote .small:before {
    content: '\2014 \00A0';
}

.forum-message > blockquote > p {
    font-size: 78%;
}

.deletedColor {
    background-color: #DA4453 !important;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.event-start-in {
    font-size: 40%;
}

.event-user-listing-panel {
    min-height: 300px;
}

.event-user-list {
    display:block;

    padding:5px 0;
}

.event-user-list:last-child {
    border-bottom: none;
}

.event-user-list-hr {
    padding: 0 !important;
    margin: 3px !important;
}

.event-user-name {
    font-size: 18px;
    margin-left: 5px;
}

.event-user-wrap {
    display: block;
    margin-top: 4px !important;
}

.event-avatar {
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.li-separator {
    height: 1px;
    width: 100%;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    background-color: #eee;
}

.pagination-margin > .pagination{
    margin-bottom: 10px !important;
    margin-top: 0 !important;
}

.lighter-text {
    color: #aab2bd !important;
}

.growl-animated {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.conversation-unreads-see-more {
    height: 40px !important;
}

@-webkit-keyframes leaveConversationButton {
    0%   { background: #d9534f; }
    50% { background: #9E4945; }
    100%   { background: #d9534f; }
}

@keyframes leaveConversationButton {
    0%   { background: #d9534f; }
    50% { background: #9E4945; }
    100%   { background: #d9534f; }
}

.leaveConversation {
    -webkit-animation: leaveConversationButton 0.9s infinite;
    animation:         leaveConversationButton 0.9s infinite;
}

@-webkit-keyframes holdButtonAnimationPrimary {
    0%   { background: #5D9CEC; }
    50% { background: #447fcc; }
    100%   { background: #5D9CEC; }
}

@keyframes holdButtonAnimationPrimary {
    0%   { background: #5D9CEC; }
    50% { background: #447fcc; }
    100%   { background: #5D9CEC; }
}

.holdButtonPrimary {
    -webkit-animation: holdButtonAnimationPrimary 0.9s infinite;
    animation:         holdButtonAnimationPrimary 0.9s infinite;
}


/* QUICK HACK TO FIX THE COMMENT NOT TAKING ALL THE SPACE AVAILABLE */
.media-body {
    width: 100pc !important;
}


/* BLOCK GRID FOR BOOTSTRAP */

[class*="block-grid-"] {
    display: block;
    margin: -15px;
    padding: 0;
}
[class*="block-grid-"]:before,
[class*="block-grid-"]:after {
    content: " ";
    display: table;
}
[class*="block-grid-"]:after {
    clear: both;
}
.block-grid-item {
    display: inline;
    margin: 0;
    padding: 15px;
    height: auto;
    float: left;
    list-style: none;
}
.block-grid-xs-1 > .block-grid-item {
    width: 100%;
}
.block-grid-xs-1 > .block-grid-item:nth-of-type(n) {
    clear: none;
}
.block-grid-xs-1 > .block-grid-item:nth-of-type(1n+1) {
    clear: both;
}
.block-grid-xs-2 > .block-grid-item {
    width: 50%;
}
.block-grid-xs-2 > .block-grid-item:nth-of-type(n) {
    clear: none;
}
.block-grid-xs-2 > .block-grid-item:nth-of-type(2n+1) {
    clear: both;
}
.block-grid-xs-3 > .block-grid-item {
    width: 33.333333333333336%;
}
.block-grid-xs-3 > .block-grid-item:nth-of-type(n) {
    clear: none;
}
.block-grid-xs-3 > .block-grid-item:nth-of-type(3n+1) {
    clear: both;
}
.block-grid-xs-4 > .block-grid-item {
    width: 25%;
}
.block-grid-xs-4 > .block-grid-item:nth-of-type(n) {
    clear: none;
}
.block-grid-xs-4 > .block-grid-item:nth-of-type(4n+1) {
    clear: both;
}
.block-grid-xs-5 > .block-grid-item {
    width: 20%;
}
.block-grid-xs-5 > .block-grid-item:nth-of-type(n) {
    clear: none;
}
.block-grid-xs-5 > .block-grid-item:nth-of-type(5n+1) {
    clear: both;
}
.block-grid-xs-6 > .block-grid-item {
    width: 16.666666666666668%;
}
.block-grid-xs-6 > .block-grid-item:nth-of-type(n) {
    clear: none;
}
.block-grid-xs-6 > .block-grid-item:nth-of-type(6n+1) {
    clear: both;
}
.block-grid-xs-7 > .block-grid-item {
    width: 14.285714285714286%;
}
.block-grid-xs-7 > .block-grid-item:nth-of-type(n) {
    clear: none;
}
.block-grid-xs-7 > .block-grid-item:nth-of-type(7n+1) {
    clear: both;
}
.block-grid-xs-8 > .block-grid-item {
    width: 12.5%;
}
.block-grid-xs-8 > .block-grid-item:nth-of-type(n) {
    clear: none;
}
.block-grid-xs-8 > .block-grid-item:nth-of-type(8n+1) {
    clear: both;
}
.block-grid-xs-9 > .block-grid-item {
    width: 11.11111111111111%;
}
.block-grid-xs-9 > .block-grid-item:nth-of-type(n) {
    clear: none;
}
.block-grid-xs-9 > .block-grid-item:nth-of-type(9n+1) {
    clear: both;
}
.block-grid-xs-10 > .block-grid-item {
    width: 10%;
}
.block-grid-xs-10 > .block-grid-item:nth-of-type(n) {
    clear: none;
}
.block-grid-xs-10 > .block-grid-item:nth-of-type(10n+1) {
    clear: both;
}
.block-grid-xs-11 > .block-grid-item {
    width: 9.090909090909092%;
}
.block-grid-xs-11 > .block-grid-item:nth-of-type(n) {
    clear: none;
}
.block-grid-xs-11 > .block-grid-item:nth-of-type(11n+1) {
    clear: both;
}
.block-grid-xs-12 > .block-grid-item {
    width: 8.333333333333334%;
}
.block-grid-xs-12 > .block-grid-item:nth-of-type(n) {
    clear: none;
}
.block-grid-xs-12 > .block-grid-item:nth-of-type(12n+1) {
    clear: both;
}
@media (min-width: 768px) {
    .block-grid-sm-1 > .block-grid-item {
        width: 100%;
    }
    .block-grid-sm-1 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-sm-1 > .block-grid-item:nth-of-type(1n+1) {
        clear: both;
    }
    .block-grid-sm-2 > .block-grid-item {
        width: 50%;
    }
    .block-grid-sm-2 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-sm-2 > .block-grid-item:nth-of-type(2n+1) {
        clear: both;
    }
    .block-grid-sm-3 > .block-grid-item {
        width: 33.333333333333336%;
    }
    .block-grid-sm-3 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-sm-3 > .block-grid-item:nth-of-type(3n+1) {
        clear: both;
    }
    .block-grid-sm-4 > .block-grid-item {
        width: 25%;
    }
    .block-grid-sm-4 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-sm-4 > .block-grid-item:nth-of-type(4n+1) {
        clear: both;
    }
    .block-grid-sm-5 > .block-grid-item {
        width: 20%;
    }
    .block-grid-sm-5 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-sm-5 > .block-grid-item:nth-of-type(5n+1) {
        clear: both;
    }
    .block-grid-sm-6 > .block-grid-item {
        width: 16.666666666666668%;
    }
    .block-grid-sm-6 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-sm-6 > .block-grid-item:nth-of-type(6n+1) {
        clear: both;
    }
    .block-grid-sm-7 > .block-grid-item {
        width: 14.285714285714286%;
    }
    .block-grid-sm-7 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-sm-7 > .block-grid-item:nth-of-type(7n+1) {
        clear: both;
    }
    .block-grid-sm-8 > .block-grid-item {
        width: 12.5%;
    }
    .block-grid-sm-8 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-sm-8 > .block-grid-item:nth-of-type(8n+1) {
        clear: both;
    }
    .block-grid-sm-9 > .block-grid-item {
        width: 11.11111111111111%;
    }
    .block-grid-sm-9 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-sm-9 > .block-grid-item:nth-of-type(9n+1) {
        clear: both;
    }
    .block-grid-sm-10 > .block-grid-item {
        width: 10%;
    }
    .block-grid-sm-10 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-sm-10 > .block-grid-item:nth-of-type(10n+1) {
        clear: both;
    }
    .block-grid-sm-11 > .block-grid-item {
        width: 9.090909090909092%;
    }
    .block-grid-sm-11 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-sm-11 > .block-grid-item:nth-of-type(11n+1) {
        clear: both;
    }
    .block-grid-sm-12 > .block-grid-item {
        width: 8.333333333333334%;
    }
    .block-grid-sm-12 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-sm-12 > .block-grid-item:nth-of-type(12n+1) {
        clear: both;
    }
}
@media (min-width: 992px) {
    .block-grid-md-1 > .block-grid-item {
        width: 100%;
    }
    .block-grid-md-1 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-md-1 > .block-grid-item:nth-of-type(1n+1) {
        clear: both;
    }
    .block-grid-md-2 > .block-grid-item {
        width: 50%;
    }
    .block-grid-md-2 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-md-2 > .block-grid-item:nth-of-type(2n+1) {
        clear: both;
    }
    .block-grid-md-3 > .block-grid-item {
        width: 33.333333333333336%;
    }
    .block-grid-md-3 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-md-3 > .block-grid-item:nth-of-type(3n+1) {
        clear: both;
    }
    .block-grid-md-4 > .block-grid-item {
        width: 25%;
    }
    .block-grid-md-4 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-md-4 > .block-grid-item:nth-of-type(4n+1) {
        clear: both;
    }
    .block-grid-md-5 > .block-grid-item {
        width: 20%;
    }
    .block-grid-md-5 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-md-5 > .block-grid-item:nth-of-type(5n+1) {
        clear: both;
    }
    .block-grid-md-6 > .block-grid-item {
        width: 16.666666666666668%;
    }
    .block-grid-md-6 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-md-6 > .block-grid-item:nth-of-type(6n+1) {
        clear: both;
    }
    .block-grid-md-7 > .block-grid-item {
        width: 14.285714285714286%;
    }
    .block-grid-md-7 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-md-7 > .block-grid-item:nth-of-type(7n+1) {
        clear: both;
    }
    .block-grid-md-8 > .block-grid-item {
        width: 12.5%;
    }
    .block-grid-md-8 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-md-8 > .block-grid-item:nth-of-type(8n+1) {
        clear: both;
    }
    .block-grid-md-9 > .block-grid-item {
        width: 11.11111111111111%;
    }
    .block-grid-md-9 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-md-9 > .block-grid-item:nth-of-type(9n+1) {
        clear: both;
    }
    .block-grid-md-10 > .block-grid-item {
        width: 10%;
    }
    .block-grid-md-10 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-md-10 > .block-grid-item:nth-of-type(10n+1) {
        clear: both;
    }
    .block-grid-md-11 > .block-grid-item {
        width: 9.090909090909092%;
    }
    .block-grid-md-11 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-md-11 > .block-grid-item:nth-of-type(11n+1) {
        clear: both;
    }
    .block-grid-md-12 > .block-grid-item {
        width: 8.333333333333334%;
    }
    .block-grid-md-12 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-md-12 > .block-grid-item:nth-of-type(12n+1) {
        clear: both;
    }
}
@media (min-width: 1200px) {
    .block-grid-lg-1 > .block-grid-item {
        width: 100%;
    }
    .block-grid-lg-1 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-lg-1 > .block-grid-item:nth-of-type(1n+1) {
        clear: both;
    }
    .block-grid-lg-2 > .block-grid-item {
        width: 50%;
    }
    .block-grid-lg-2 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-lg-2 > .block-grid-item:nth-of-type(2n+1) {
        clear: both;
    }
    .block-grid-lg-3 > .block-grid-item {
        width: 33.333333333333336%;
    }
    .block-grid-lg-3 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-lg-3 > .block-grid-item:nth-of-type(3n+1) {
        clear: both;
    }
    .block-grid-lg-4 > .block-grid-item {
        width: 25%;
    }
    .block-grid-lg-4 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-lg-4 > .block-grid-item:nth-of-type(4n+1) {
        clear: both;
    }
    .block-grid-lg-5 > .block-grid-item {
        width: 20%;
    }
    .block-grid-lg-5 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-lg-5 > .block-grid-item:nth-of-type(5n+1) {
        clear: both;
    }
    .block-grid-lg-6 > .block-grid-item {
        width: 16.666666666666668%;
    }
    .block-grid-lg-6 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-lg-6 > .block-grid-item:nth-of-type(6n+1) {
        clear: both;
    }
    .block-grid-lg-7 > .block-grid-item {
        width: 14.285714285714286%;
    }
    .block-grid-lg-7 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-lg-7 > .block-grid-item:nth-of-type(7n+1) {
        clear: both;
    }
    .block-grid-lg-8 > .block-grid-item {
        width: 12.5%;
    }
    .block-grid-lg-8 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-lg-8 > .block-grid-item:nth-of-type(8n+1) {
        clear: both;
    }
    .block-grid-lg-9 > .block-grid-item {
        width: 11.11111111111111%;
    }
    .block-grid-lg-9 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-lg-9 > .block-grid-item:nth-of-type(9n+1) {
        clear: both;
    }
    .block-grid-lg-10 > .block-grid-item {
        width: 10%;
    }
    .block-grid-lg-10 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-lg-10 > .block-grid-item:nth-of-type(10n+1) {
        clear: both;
    }
    .block-grid-lg-11 > .block-grid-item {
        width: 9.090909090909092%;
    }
    .block-grid-lg-11 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-lg-11 > .block-grid-item:nth-of-type(11n+1) {
        clear: both;
    }
    .block-grid-lg-12 > .block-grid-item {
        width: 8.333333333333334%;
    }
    .block-grid-lg-12 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-lg-12 > .block-grid-item:nth-of-type(12n+1) {
        clear: both;
    }
}

.disabled {
    pointer-events: none;
    cursor: default;
}

/*
 * Stepper v3.0.7 - 2014-11-25
 * A jQuery plugin for cross browser number inputs. Part of the Formstone Library.
 * http://formstone.it/stepper/
 *
 * Copyright 2014 Ben Plum; MIT Licensed
 */

.stepper { margin: 0 0 10px 0; overflow: hidden; position: relative; width: 100%; }
.stepper .stepper-input { overflow: hidden; width: 100%; z-index: 49;
    -moz-appearance: textfield;
}

.stepper .stepper-input::-webkit-inner-spin-button,
.stepper .stepper-input::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }

.stepper .stepper-arrow { cursor: pointer; display: block; height: 50%; position: absolute; right: 0; text-indent: -99999px; width: 20px; z-index: 50; }
.stepper .stepper-arrow.up { background-position: center top; border-bottom: none; top: 0; }
.stepper .stepper-arrow.down { background-position: center bottom; bottom: 0; }

@media screen and (min-width: 740px) {

    .stepper.disabled .stepper-arrow { cursor: default; }
}

.stepper.disabled .stepper-arrow { cursor: default; }

/* Calendar page */
.calendar-day-box{
    height: 111px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    margin-right: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.calendar-day-box:hover {
    background-color: #F2F1EF;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.calendar-current-day {
    background-color: rgba(77, 143, 172, 0.85);
    border-radius: 4px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: #044F67;
}

.calendar-current-day:hover {
    background-color: rgba(66, 102, 131, 0.92);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: #044860;
}

.text-event-container {
    width: 100%;
    background-color: rgba(117, 125, 117, 0.21);
    color: #BFBFBF;
}

.text-event-container-has-event {
    background-color: #87D37C;
    color: #6C7A89;
}

.calendar-grid {
    padding: 0 !important;
    margin: 0 !important;
}

.hr-margin-calendar {
    margin-top: 0 !important;
    margin-bottom: 14px !important;
}

.no-margin-top .pagination {
    margin-top: 0 !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0;
}

.screenshot-thumbnail {
    margin-top: 10px;
    margin-bottom: 10px;
}

.thumbnailContainer {
    max-width: 100%;
    margin-top: 9px;
}

/* PROFILE  */

.dropzone {
    border-radius: 4px;
    border: dotted #4FC1E9 !important;
}

.dz-image {
    border-radius: 4px !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.dz-progress {
    border-radius: 4px !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.dz-upload {
    border-radius: 4px !important;
    background-image: -webkit-repeating-linear-gradient(315deg, #4FC1E9, #4FC1E9 5px, #3BAFDA 5px, #3BAFDA 10px) !important;
    background-image: repeating-linear-gradient(
            135deg,
            #4FC1E9,
            #4FC1E9 5px,
            #3BAFDA 5px,
            #3BAFDA 10px
    ) !important;
}

.dz-filename span{
    border-radius: 0 !important;
}

.screenshot-upload-result {
    margin-left: 4px !important;
    margin-top: -5px;
    text-shadow: 2px 0 0 #fff,
    -2px 0 0 #fff,
    0 2px 0 #fff,
    0 -2px 0 #fff,
    1px 1px #fff,
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    0 1px 2px rgba(0, 0, 0, 0.2);
    display: block;
    font-size: 60px !important;
}

.icon-upload {
    font-size: 60px;
}

.screenshot-upload-error {
    color: #DA4453 !important;
}

.screenshot-upload-success {
    color: #8cc152 !important;
}

.dropzone .dz-preview {
    overflow:hidden;
}

.dropzone .dz-preview img {
    -webkit-transition: all 0.2s !important;
    transition: all 0.2s !important;
    border-radius: 4px !important;
}

.dropzone .dz-error img {
    -webkit-filter:  blur(1px) contrast(100%);
    -moz-filter:  blur(1px) contrast(100%);
    -o-filter:  blur(1px) contrast(100%);
    -ms-filter:  blur(1px) contrast(100%);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="1" /><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1" intercept="0" /><feFuncG type="linear" slope="1" intercept="0" /><feFuncB type="linear" slope="1" intercept="0" /></feComponentTransfer></filter></svg>#filter');
    -webkit-filter: blur(1px) contrast(100%);
    filter: blur(1px) contrast(100%);
}

.screenshotGallery .row > figure a {
    overflow: hidden;
}

.img-list-hover {
    -webkit-transition: all 0.5s !important;
    transition: all 0.5s !important;
}

.btn-del-img {
    color: #bfbfbf;
}

.btn-del-img-confirm {
    text-decoration: none !important;
}

.img-list-hover:hover {
    -webkit-transition: all 0.2s !important;
    transition: all 0.2s !important;
    -webkit-filter:  blur(1px) grayscale(100%);
    -moz-filter:  blur(1px) grayscale(100%);
    -o-filter:  blur(1px) grayscale(100%);
    -ms-filter:  blur(1px) grayscale(100%);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="1" /><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
    -webkit-filter: blur(1px) grayscale(100%);
    filter: blur(1px) grayscale(100%);
}

.avatar-col {
    float: none;
    width: 140px;
    height: 140px;
    margin-left: 13px;
}

.pswp__button_cuser {
    left: 30px !important;
}

.avatar-cover-upload .dz-default {
    margin-top: 0 !important;
}

.avatar-cover-upload {
    height: 1px;
}

.avatar-profile-img {
    width: 140px;
    height: 140px;
}

@media only screen and (max-width : 479px){
    .avatar-col {
        margin-top: -50% !important;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
    .avatar-col {
        margin-top: -40% !important;
    }
}

@media only screen and (min-width : 570px){
    .avatar-col {
        margin-top: -30% !important;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
    .avatar-col {
        margin-top: -15% !important;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
    .avatar-col {
        margin-top: -10% !important;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
    .avatar-col {
        margin-top: -10% !important;
    }
}


.cover-profile {
    height: 223px;
    overflow: hidden;
}

.element-inline {
    display: inline !important;
}

.profile-admin-badge {
    margin-top: -4px !important;
    margin-bottom: 4px !important;
    display: inline-block !important;
}

.bootflat-shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.profile-friend-avatar {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* FORUM */

.forum-list-panel {
    box-shadow: 0 1px 2px rgba(0,0,0,.1) !important;
}

.forum-list-subcat {
    color: #434a54;
    height: 65px;
    padding: 10px 15px;
    display: block;
    background-color: #fff;
}

.forum-list-subcat:first-child {
    border-top: 1px solid #eeeeee;
}

.forum-list-subcat:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top: 1px solid #eeeeee;
}

.forum-list-alternate {
    background-color: #f8f8f8 !important;
}

.subcat-well a:hover {
    color: #4FC1E9 !important;
    -webkit-transition: all 50ms ease-out;
    transition: all 50ms ease-out;
}

.forum-list-last-message small, .forum-list-last-message strong {
    -webkit-transition: all 50ms ease-out;
    transition: all 50ms ease-out;
}

#forumThreadCtrlContainer {
    margin-bottom: 20px !important;
}

.resumeEditBtn {
    opacity: 0 !important;
    filter: alpha(opacity=0);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.resumeEditBtn-visible {
    opacity: 1 !important;
    filter: alpha(opacity=100);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.subcat-well small {
    -webkit-transition: all 50ms ease-out;
    transition: all 50ms ease-out;
}

.subcat-well h4 {
    margin-top: 3px !important;
    -webkit-transition: all 50ms ease-out;
    transition: all 50ms ease-out;
}

.subcat-well hr:last-child, .forum-list-panel hr:last-child {
    display: none;
}

.forum-list-last-message-separator {
    border-left: 1px solid #ddd;
}

.forum-list-avatar {
    width: 44px;
    height: 44px;
}

.forum-list-last-message {
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pagination-no-margin > .pagination, .no-margin > .pagination {
    margin: 0 !important;
}

.panel-title-a {
    color: #fff;
}

.toggle.btn {
    min-width: 100% !important;
}

.list-group-item>.pull-right>.toggle.btn {
    min-width: 50px !important;
}

.panel-title-a:hover {
    color: #E6E9ED;
}

.forum-list-new-subcat {
    height: 51px;
}

.forum-admin-subcat-title {
    margin: 0 0 3px !important;
}

.forum-admin-subcat-btn {
    margin-top: 5px;
}

/* BLOG ADMIN PAGE */

.category-list-well {
    border-top: 1px solid #eeeeee;
}

/* ROLES ADMIN PAGE */

.roles-list-can {
    background-color: #b1e76b;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.roles-list-can:hover {
    background-color: #a9df6b;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.roles-list-cant {
    background-color: #CCD1D9;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.roles-list-cant:hover {
    background-color: #d6dbe3;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.roles-list-icon {
    font-size: 1.6em;
}

.list-permissions-form > .list-group-item {
    background-color: #fff;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.list-permissions-form > .list-group-item:hover {
    background-color: #f3f3f3;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.list-permissions-form > .list-group-item:nth-child(odd) {
    background-color: #f9f9f9;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.list-permissions-form > .list-group-item:nth-child(odd):hover {
    background-color: #efefef;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.list-permissions-form > .list-group-item:first-child {
    background-color: #fff;
}

.list-permissions-form > .list-group-item:first-child:hover {
    background-color: #fff;
}

.white-background {
    background-color: #fff !important;
}



.list-admin-user > .list-group-item:nth-child(odd) {
    background-color: #f9f9f9;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.list-admin-user > .list-group-item:nth-child(odd):hover {
    background-color: #efefef;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.list-admin-user > .list-group-item {
    background-color: #fff;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.list-admin-user > .list-group-item:hover {
    background-color: #f3f3f3;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding-left: 20px;
}

.bannedUsersList > .list-group-item {
    background-color: #fff;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.bannedUsersList > .list-group-item:hover {
    background-color: #f3f3f3;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.bannedUsersList > .list-group-item:nth-child(odd) {
    background-color: #f9f9f9;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.bannedUsersList > .list-group-item:nth-child(odd):hover {
    background-color: #efefef;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.admin-user-avatar {
    width: 100px;
    height: 100px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.admin-user-username {
    margin-top: 10px;
}

.btn-xs-td {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}

table.no-bottom-border-table > thead > tr:last-child > th {
    border-bottom: none !important;
}

a.no-href {
    cursor: pointer;
}

.list-options-form > .list-group-item {
    background-color: #fff;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.list-options-form > .list-group-item:hover {
    background-color: #f3f3f3;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.list-options-form > .list-group-item:nth-child(odd) {
    background-color: #f9f9f9;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.list-options-form > .list-group-item:nth-child(odd):hover {
    background-color: #efefef;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.list-options-form {
    background-color: #fff !important;
}

/* DASHBOARD START */

#clockDMY {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
    color: #8B8B8B;
}

#dashboardClock {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

#clockTime {
    display: block;
    font-size: 26px;
    margin-top: 5px;
}

.startInWrap {
    margin-top: 1px;
}

.upcomingEventTime, .threadTimestamp {
    font-size: 15px;
}

.upcomingEventTime:first-letter, .threadTimestamp:first-letter {
    text-transform: uppercase;
}
.dashboardEventTitle {
    color: #565656 !important;
    -webkit-transition: 0.1s all;
    transition: 0.1s all;
}

.dashboardEventTitle:hover {
    color: #929292 !important;
    -webkit-transition: 0.1s all;
    transition: 0.1s all;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.icheckbox_flat,
.iradio_flat {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0 !important;
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
    background: url("/bower_components/bootflatv2/bootflat/img/check_flat/default.png") no-repeat !important;
    -webkit-transition: 0.1s box-shadow;
    transition: 0.1s box-shadow;
    -webkit-transition: 0.1s -webkit-box-shadow;
    transition: 0.1s -webkit-box-shadow;
}

.icheckbox_flat {
    background-position: 0 0 !important;
}
.icheckbox_flat.checked {
    background-position: -22px 0 !important;
}

.icheckbox_flat.focus {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.1s box-shadow;
    transition: 0.1s box-shadow;
    -webkit-transition: 0.1s -webkit-box-shadow;
    transition: 0.1s -webkit-box-shadow;
}

.icheckbox_flat.disabled {
    cursor: default;
    background-position: -44px 0 !important;
}
.icheckbox_flat.checked.disabled {
    background-position: -66px 0 !important;
}

.iradio_flat {
    background-position: -88px 0 !important;
}
.iradio_flat.checked {
    background-position: -110px 0 !important;
}
.iradio_flat.disabled {
    cursor: default;
    background-position: -132px 0 !important;
}
.iradio_flat.checked.disabled {
    background-position: -154px 0 !important;
}

.remember-me {
    margin-top: 6px;
}

.position-reset {
    top: 0 !important;
}

.password-match {
    display: none;
}

.fa-form-fix {
    width: 11px !important;
}

.fa-envelope-width {
    width: 13px !important;
}

.form-i-fix {
    padding-left: 11px !important;
    padding-right: 11px !important;
}

.reg-padding {
    padding-top: 5px;
}

/* HOME PAGE */

#landingBackground {
    padding-top: 70px !important;
    background: #5c258d; /* Old browsers */

    background: -webkit-linear-gradient(225deg, #606c88, #83a4d4, #4389a2, #5c258d);
    background: linear-gradient(225deg, #606c88, #83a4d4, #4389a2, #5c258d);
    background-size: 800% 800%;

    width: 100%;
    min-height: 390px;
}

.hero-content {
    color: #ffffff;
    -webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

}

.panel-dark {
    border-color: #333333;
}

.panel-dark > .panel-heading {
    color: #434a54;
    background-color: #333333;
    border-color: #333333;
}

.panel-home-container {
    overflow:hidden;
}

.btn-home-register, .btn-home-register:active, .btn-home-register.active, .btn-home-register.disabled, .btn-home-register[disabled] {
    background-color: #48769e;
    border-color: #48769e;
}
.btn-home-register:hover, .btn-home-register:focus {
    background-color: #5d96c9;
    border-color: #5D96C9;
}

.panel-circles {
    color: #7e6464;
    padding-top: 3px;
    font-size: 10px;
}

.panel-circles .fa {
    -webkit-transition: 0.4s all;
    transition: 0.4s all;
}

.panel-circles .fa:last-child:hover {
    color: #EF8A92;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.panel-circles .fa:hover {
    color: #F4CD8A;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.panel-circles .fa:first-child:hover {
    color: #9DD63B;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.panel-circles .fa:not(:first-child) {
    margin-left: 5px;
}

.panel-heading-home {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

@media(min-width:992px){
    .reg-btn-col {
        padding-right: 6px !important;
    }

    .reg-guild-btn-col {
        padding-left: 6px !important;
    }
}

.userRolesRow .col-md-3 button {
    margin-bottom: 5px;
}

.panel-smaller {
    color: #7e6464 !important;
    font-size: 12px !important;
}

.home-small {
    margin-top: 7px !important;
}

.panel-hero {
    border-radius: 4px 4px 0 0 !important;
}

.home-header {
    margin-top: -57px;
}

#made-container h1 {
    position: relative;
}

#scrollToTop {
    cursor: pointer;
    width: 100%;
    height: 56px;
    background-color: #373d45;
}

#scrollToTop:hover .stt-content {
    color: #768597;
    -webkit-transition: 0.1s all ease-in-out;
    transition: 0.1s all ease-in-out;
    padding-top: 8px;
}

.stt-content {
    color: #626e7d;
    -webkit-transition: 0.1s all ease-in-out;
    transition: 0.1s all ease-in-out;
    display: block;
    padding-top: 12px;
    font-size: 22px;
}

#nfBackground {
    padding-top: 70px !important;
    background: #8d5052; /* Old browsers */
    background-image: url("/img/background/bg-dot.png"), -webkit-gradient(linear, left top, right bottom, color-stop(0%,#8D5052), color-stop(100%,#4389a2));
    background-image: url("/img/background/bg-dot.png"), -webkit-linear-gradient(-45deg, #8D5052 0%,#4389a2 100%);
    background-image: url("/img/background/bg-dot.png"), -webkit-linear-gradient(315deg, #8D5052 0%, #4389a2 100%);
    background-image: url("/img/background/bg-dot.png"), linear-gradient(135deg, #8D5052 0%,#4389a2 100%);
    width: 100%;
    min-height: 240px;
}

#newGuildBackground {
    padding-top: 70px !important;
    background: #085078; /* Old browsers */
    background-image: url("/img/background/bg-dot.png"), -webkit-gradient(linear, left top, right bottom, color-stop(0%,#085078), color-stop(100%,#85D8CE));
    background-image: url("/img/background/bg-dot.png"), -webkit-linear-gradient(-45deg, #085078 0%,#85D8CE 100%);
    background-image: url("/img/background/bg-dot.png"), -webkit-linear-gradient(315deg, #085078 0%, #85D8CE 100%);
    background-image: url("/img/background/bg-dot.png"), linear-gradient(135deg, #085078 0%,#85D8CE 100%);
    width: 100%;
    min-height: 240px;
}

.panel-updates h1, .panel-updates h2, .panel-updates h3 {
    margin-top: 0 !important;
}

.bugTextArea {
    resize: vertical;
    min-height: 300px;
}

/* NANO SCROLLBAR */
.nano {
    position : relative;
    width    : 100%;
    height   : 100%;
    overflow : hidden;
}
.nano > .nano-content {
    position      : absolute;
    overflow      : scroll;
    overflow-x    : hidden;
    top           : 0;
    right         : 0;
    bottom        : 0;
    left          : 0;
}
.nano > .nano-content:focus {
    outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
    display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
    display: block;
}
.nano > .nano-pane {
    background : rgba(0,0,0,.25);
    position   : absolute;
    width      : 6px;
    right      : 0;
    top        : 0;
    bottom     : 0;
    visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
    opacity    : .01;
    filter: alpha(opacity=1);
    -webkit-transition    : .2s;
    transition            : .2s;
    border-radius         : 2px;
}
.nano > .nano-pane > .nano-slider {
    background: #444;
    background: rgba(0, 0, 0, 0.40);
    position              : relative;
    margin                : 0 1px;
    border-radius         : 3px;
}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
    visibility : visible\9; /* Target only IE7 and IE8 with this hack */
    opacity    : 0.99;
    filter: alpha(opacity=99);
}

.nano { height: 300px; }
.nano .nano-slider { background: #111; }

/* NANO END */

.chat-users-list {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 300px;
}

.chat-users-list li {
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-msg-list, .chat-users-list {
    margin-bottom: 0 !important;
}

.chat-msg-list li {
    border-bottom: 1px solid #F2F2F2;
    padding-top: 3px;
    padding-bottom: 3px;
}

.chat-users {
    border-left: 1px solid #d7d7d7;

}

.chat-messages {
    margin-bottom: 10px;
}

.chat-msg-list li:first-child {
    padding-top: 0 !important;
}

.chat-msg-list li:last-child {
    border-bottom: 0;
}

@-webkit-keyframes newGChatMsgAnim {
    0%  { background-color: #ebebeb }
    100% { background-color: #ffffff }
}

@keyframes newGChatMsgAnim {
    0%  { background-color: #ebebeb  }
    100% { background-color: #ffffff }
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.newGChatMsg {
    -webkit-animation: newGChatMsgAnim 0.9s ease;
    animation:         newGChatMsgAnim 0.9s ease;
    border-radius         : 2px;
}

.guild-chat-input {
    border-radius: 0 0 4px 4px!important;
    border-bottom: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
}

.chat-link:before {
    content: "\F14C ";
    margin-right: 3px;
    font-family: FontAwesome;
}

.chat-user-list {
    color: #434a54 !important;
}

.chat-user-list:hover {
    color: #626a74 !important;
}

.btn-role-remove, .btn-role-add {
    margin-bottom: 5px;
}

.navbar-brand {
    padding-right: 5px !important;
    transition: all 0.1s;
    color: #e1e1e1 !important;
}

.navbar-brand:hover {
    transition: all 0.1s;
    color: #ffffff !important;
}

.a-disabled {
    color: #878787;
    pointer-events: none;
    cursor: default;
    background-color: #616161;
}

@media (max-width: 767px) {
    .visible-xs-inline {
        display: inline-block !important;
    }
}

.blog-title {
    color: #565656;
    -webkit-transition: 0.1s all;
    transition: 0.1s all;
}

.blog-title:hover {
    color: #929292 !important;
    -webkit-transition: 0.1s all;
    transition: 0.1s all;
}

.blog-hr {
    margin-bottom: 5px;
    margin-top: 5px;
}

.writen-by {
    margin-bottom: 5px;
}

.blog-panel {
    padding-bottom: 0;
}

.nav-stacked li a {
    color: #359cc2;
}

.search-height {
    height: 36px;
}

.search-breadcrumb {
    text-overflow: ellipsis;
    overflow: hidden;
}

.breadcrumb-nowrap {
    overflow: hidden;
    white-space: nowrap;
}

@media only screen and (max-width : 767px){
    .hero-content img {
        margin-top: 20px;
    }
}

.hero-logo {
    margin-top: 22px;
    margin-bottom: 15px;
}

.logo-font {
    font-family: 'Viga', sans-serif;
    font-weight: normal;
}

h1.logo-font {
    font-size: 70px;
    text-shadow: 0 5px rgba(0, 0, 0, 0.25);
    color: #f3efe9;
}

h4.logo-font {
    text-shadow: 0 3px rgba(0, 0, 0, 0.25);
    filter: alpha(opacity=60);
    opacity: 0.6;
}
