{% extends '::base.html.twig' %}

{% block title %}{{ guild.title }} - Editing: {{ event.title }} - {% endblock %}

{% block TopBarButtons %}
    {% if permissions.canSeeAdminPanel %}
        {% include '::administrationDropdown.html.twig' %}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb-arrow">
                <li><a href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}"><i class="fa fa-home"></i> {{ guild.title }}</a></li>
                <li><a href="{{ path('rizzen_calendar_see', {'subdomain': subdomain}) }}"><i class="fa fa-calendar"></i> Calendar</a></li>
                <li><a href="{{ path('rizzen_event_list', {'subdomain': subdomain, 'dateId': event.dateId}) }}"><i class="fa fa-list"></i> {{ event.date|date('l, d-M-Y') }}</a></li>
                <li ><a href="{{ path('rizzen_event_see', {"subdomain": subdomain, "dateId": event.dateId, "eventSlug": event.slug}) }}"><i class="fa fa-list-alt"></i> {{ event.getTitle }}</a></li>
                <li class="active"><span><i class="fa fa-pencil"></i> Editing: {{ event.title }}</span></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Editing: {{ event.title }}</h2>
            <hr/>
            {{ form_start(form, {"attr": {"class": "custom"}, "action": path('rizzen_event_edit', {"subdomain": subdomain, "dateId": dateId, 'eventSlug': event.slug}) }) }}

                {{ form_errors(form) }}

                <div class="row">
                    {% if form_errors(form.title) %}
                        <div class="col-md-12">
                            <div class="alert alert-danger">
                                <strong><i class="fa fa-warning"></i></strong> The title must contain between 5 and 40 characters
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-md-12">
                        {% if form_errors(form.title) %}
                            <div class="form-group has-error has-feedback">
                                {{ form_label(form.title, "Title:", { 'label_attr': {'class': 'control-label'} }) }}
                                <small class="pull-right small-lighter">Must contain between 5 and 40 characters</small>
                                {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder': "Title of the event"} }) }}
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                            </div>
                        {% else %}
                            {{ form_label(form.title, "Title:") }}<small class="pull-right small-lighter">Must contain between 5 and 40 characters</small>
                            {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder': "Title of the event"} }) }}
                        {% endif %}
                        <br/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <small class="small-lighter pull-right">The description can be left empty, 1000 characters max. Characters used: <span data-toggle="tooltip"
                                                                                                                                               data-placement="bottom"
                                                                                                                                               title="This counter does include the HTML generated by the text editor"><span id="charCount">0</span>/1000*</span></small>
                        {{ form_label(form.description, "Description of the event:") }}
                        {% if form_errors(form.description) %}
                            <div class="alert alert-danger">
                                <strong><i class="fa fa-warning"></i></strong> The description can contain a maximum of 2000 characters.
                            </div>
                        {% endif %}

                        {{ form_widget(form.description, { 'attr': {'style': 'height:150px; resize:vertical;'} }) }}
                    </div>

                </div>
                <br/>
                <div class="row">
                    <div class="col-md-9">
                        {{ form_label(form.hour, "Hour:", { 'label_attr': {'class': 'hidden'} }) }}
                        {{ form_label(form.minute, "Minutes:", { 'label_attr': {'class': 'hidden'} }) }}
                        <h5 class="no-margin-top">The event will start at: {{ form_widget(form.hour) }} : {{ form_widget(form.minute) }}</h5>
                        <small class="small-lighter">Use your local time, the users will see the time corrected for their time zone.</small>
                    </div>


                    <div class="col-md-3">
                        {{ form_widget(form.open, { 'attr': {'checked': 'checked', 'data-toggle': 'toggle', 'data-on': '<i class="fa fa-check"></i> Event open', 'data-off': '<i class="fa fa-close"></i> Event closed', 'data-onstyle': 'success', 'data-offstyle': 'danger'} }) }}
                    </div>

                </div>

                {{ form_rest(form) }}
                <hr/>
                <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-plus-square"></i> Submit and edit the event</button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('ckeditor/adapters/jquery.js') }}"></script>
    <script type="text/javascript">
        CKEDITOR.env.isCompatible = true;
        $('#grost_event_description').ckeditor({
            toolbar: 'Forum'
        });

        var charCount;

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        $(document).ready(function() {
            updateCharCount('#charCount', '#grost_event_description');
        });

        for (var i in CKEDITOR.instances) {
            CKEDITOR.instances[i].on('change', function() {
                updateCharCount('#charCount', '#grost_event_description');
            });
        }
    </script>
{% endblock %}

{% block customCSS %}
    {% if guild.customCSSEnabled %}
        <link rel="stylesheet" href="{{ asset(guild.customCSSFile) }}"/>
    {% endif %}
{% endblock %}
