{% extends '::base.html.twig' %}

{% block title %}{{ guild.title }} - Events - {{ dateOfList|date('l d, Y') }} - {% endblock %}

{% block TopBarButtons %}
    {% if permissions.canSeeAdminPanel %}
        {% include '::administrationDropdown.html.twig' %}
    {% endif %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb breadcrumb-arrow">
            <li><a href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}"><i class="fa fa-home"></i> {{ guild.title }}</a></li>
            <li><a href="{{ path('rizzen_calendar_see', {'subdomain': subdomain}) }}"><i class="fa fa-calendar"></i> Calendar</a></li>
            <li class="active"><span><i class="fa fa-list"></i> {{ dateOfList|date('l, d-M-Y') }}</span></li>
        </ol>
    </div>
</div>

    <div class="row">
        <div class="col-md-12">
            <h2>Events <small>{{ dateOfList|date('l d, Y') }}</small></h2>
            <hr/>
        </div>
    </div>

<div class="row">

    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary forum-list-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-calendar"></i> Events of this day</h3>
                    </div>

                    {% if events | length >= 1 %}
                        {% for event in events %}
                            <div class="forum-list-subcat {% if loop.index is even %}forum-list-alternate{% endif %}">
                                <div class="row">

                                    <div class="col-xs-9">
                                        <h4 class="forum-admin-subcat-title">
                                            <a class="dashboardEventTitle"
                                               title="Go to the event page"
                                               href="{{ path('rizzen_event_see', {'subdomain': guild.slug,  'dateId': event.dateId, 'eventSlug': event.slug}) }}">
                                                <i class="fa fa-external-link-square"></i> {{ event.title }}
                                            </a>
                                        </h4>
                                        <p>
                                            {% if event.open %}<i title="Registrations open" class="fa fa-unlock-alt"></i>{% else %}<i title="Registrations locked" class="fa fa-lock"></i>{% endif %} |
                                            <strong><i class="fa fa-info-circle"></i></strong>
                                            <span title="The status of your registration in the event">
                                                Status:
                                                {% if event.registrations | length > 0 %}

                                                    {% set isInEvent = false %}

                                                    {% for registration in event.registrations %}
                                                        {% if registration.user == app.user %}

                                                            {% set isInEvent = true %}

                                                            {% if registration.state is constant('Rizzen\\CalendarBundle\\Constants\\RegistrationStates::PENDING') %}
                                                            <span class="label label-info"><i class="fa fa-question-circle"></i> PENDING</span>
                                                            {% elseif registration.state is constant('Rizzen\\CalendarBundle\\Constants\\RegistrationStates::ACCEPTED') %}
                                                            <span class="label label-success"><i class="fa fa-check"></i> ACCEPTED</span>
                                                            {% elseif registration.state is constant('Rizzen\\CalendarBundle\\Constants\\RegistrationStates::REFUSED') %}
                                                            <span class="label label-danger"><i class="fa fa-close"></i> REFUSED</span>
                                                            {% elseif registration.state is constant('Rizzen\\CalendarBundle\\Constants\\RegistrationStates::INVITED') %}
                                                            <span class="label label-primary"><i class="fa fa-envelope"></i> INVITED</span>
                                                            {% endif %}

                                                        {% endif %}

                                                    {% endfor %}

                                                    {% if isInEvent == false %}
                                                        <span class="label"><i class="fa fa-exclamation-circle"></i> NOT REGISTERED</span>
                                                    {% endif %}
                                                {% else %}
                                                    <span class="label"><i class="fa fa-exclamation-circle"></i> NOT REGISTERED</span>
                                                {% endif %}
                                            </span>
                                        </p>
                                    </div>


                                    <div class="col-xs-3">
                                        <div class="startInWrap">
                                    <span class="upcomingEventTime" data-timestamp="{{ event.date | date('U') }}">
                                        <small class="small-lighter">Loading...</small>
                                    </span>
                                            <br/>
                                            <small class="small-lighter hidden-xs"><i class="fa fa-clock-o"></i> </small>
                                            <small class="small-lighter hidden-xs startInDashboard" data-timestamp="{{ event.date | date('U') }}"><i class="fa fa-spinner fa-spin"></i> Loading...</small>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <hr class="no-margin"/>
                        {% endfor %}
                    {% else %}
                        <div class="panel-body">
                            <div class="text-center">
                                <p><strong>There's nothing here!</strong></p>
                                <small class="small-lighter">No upcoming event were found</small>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">

        {% if permissions.canCreateEvent %}
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-primary btn-block" href="{{ path('rizzen_event_create', {'subdomain': subdomain, 'dateId': dateId}) }}">
                        <i class="fa fa-plus-square"></i> Create a new event
                    </a>
                    <br/>
                </div>
            </div>
        {% endif %}

        <div class="row">

            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-clock-o"></i> Current time</h3>
                    </div>

                    <div id="dashboardClock" class="panel-body text-center">
                    <span id="clockDMY">
                        <small class="small-lighter">Loading...</small>
                    </span>
                        <hr class="no-margin"/>
                        <strong>
                        <span id="clockTime">
                            <small class="small-lighter">
                                <i class="fa fa-spinner fa-spin"></i>
                            </small>
                        </span>
                        </strong>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bower_components/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('bower_components/moment-timezone/builds/moment-timezone-with-data-2010-2020.min.js') }}"></script>

    <script>
        var timezone = '{{ app.user.timezone }}';
        moment.tz.setDefault(timezone);
    </script>

    <script src="{{ asset('js/guildDashboard.js') }}"></script>
{% endblock %}

{% block customCSS %}
    {% if guild.customCSSEnabled %}
        <link rel="stylesheet" href="{{ asset(guild.customCSSFile) }}"/>
    {% endif %}
{% endblock %}
