{% set guild = eventInformation.guild %}
{% extends '::base.html.twig' %}
{% block title %}{{ eventInformation.guild.title }} - {{ event.title }} - Event - {% endblock %}

{% block TopBarButtons %}
    {% if permissions.canSeeAdminPanel %}
        {% include '::administrationDropdown.html.twig' %}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb-arrow">
                <li><a href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}"><i class="fa fa-home"></i> {{ eventInformation.guild.title }}</a></li>
                <li><a href="{{ path('rizzen_calendar_see', {'subdomain': subdomain}) }}"><i class="fa fa-calendar"></i> Calendar</a></li>
                <li><a href="{{ path('rizzen_event_list', {'subdomain': subdomain, 'dateId': dateId}) }}"><i class="fa fa-list"></i> {{ event.date|date('l, d-M-Y') }}</a></li>
                <li class="active"><span><i class="fa fa-list-alt"></i> {{ event.getTitle }}</span></li>
            </ol>
        </div>
    </div>

    {% if permissions.canCreateEvent or permissions.canManageEvent %}
        <div class="row">
            <div class="col-md-2 col-xs-6 col-md-offset-7">
                {% if permissions.canCreateEvent %}
                <a href="{{ path('rizzen_event_edit', {"subdomain": subdomain, "dateId": event.dateId, "eventSlug": event.slug}) }}"
                   class="btn btn-primary btn-sm btn-block"
                   role="button"><i class="fa fa-pencil"></i> Edit the event</a>
                {% endif %}
            </div>

            <div class="col-md-3 col-xs-6">
                {% if event.isOpen %}
                    <button class="btn btn-danger btn-sm btn-block"
                            id="toggleRegistrations"
                            data-action="close"
                            data-url="{{ path('rizzen_event_toggle', {"subdomain": subdomain, "dateId": event.dateId, "eventSlug": event.slug}) }}"
                            onclick="toggleEventAccess()"
                            role="button"><i class="fa fa-close"></i> Close the registrations</button>
                {% else %}
                    <button class="btn btn-success btn-sm btn-block"
                            id="toggleRegistrations"
                            data-action="open"
                            data-url="{{ path('rizzen_event_toggle', {"subdomain": subdomain, "dateId": event.dateId, "eventSlug": event.slug}) }}"
                            onclick="toggleEventAccess()"
                            role="button"><i class="fa fa-check"></i> Open the registrations</button>
                {% endif %}
            </div>

            <div class="visible-sm visible-xs col-xs-12">
                <hr/>
            </div>


        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <h1 class="no-margin-top">{{ event.title }} <small class="event-start-in">Start {{ time_diff(event.date) }}</small></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% if event.description != null %}
                <hr class="no-margin-top"/>
                <h4>Event description:</h4>
                {{ event.description|raw }}
            {% endif %}
            <hr/>
        </div>
    </div>

    {% if eventInformation.isCurrentUserInEvent == false %}
    <div id="joinEventRow" class="row">
        <div class="col-md-12">
            {% if event.isOpen %}
            <button id="joinEventButton"
                    type="button"
                    onclick="joinEvent('{{ path('rizzen_event_register', {subdomain: subdomain, dateId: dateId, eventSlug: event.slug}) }}')"
                    class="btn btn-primary btn-block"><i class="fa fa-plus-square"></i> Join this event and wait for approval</button>
            {% else %}
            <button id="joinEventButton"
                    type="button"
                    onclick="joinEvent('{{ path('rizzen_event_register', {subdomain: subdomain, dateId: dateId, eventSlug: event.slug}) }}')"
                    class="btn btn-block disabled"><i class="fa fa-plus-square"></i> The registrations have been closed</button>
            {% endif %}
            <hr/>
        </div>
        <br/>
    </div>
    {% endif %}

    <div id="cancelRegistration" class="row{% if eventInformation.isCurrentUserInEvent == false or eventInformation.currentUserCancelled == true or eventInformation.modified == false %} d-none{% endif %}">

        <div class="col-md-12">
            <button id="cancelRegistrationButton"
                    type="button"
                    data-url="{{ path('rizzen_event_registration_cancel', {subdomain: subdomain, dateId: dateId, eventId: event.id}) }}"
                    onclick="cancelRegistration()"
                    class="btn btn-danger btn-block"><i class="fa fa-close"></i> Cancel your registration</button>

            <hr/>
        </div>

    </div>

    <div id="resetRegistration" class="row{% if eventInformation.isCurrentUserInEvent == false or eventInformation.currentUserState != 3 or eventInformation.currentUserCancelled == false %} d-none{% endif %}">

        <div class="col-md-12">
            <button id="resetRegistrationButton"
                    type="button"
                    data-url="{{ path('rizzen_event_registration_reset', {subdomain: subdomain, dateId: dateId, eventId: event.id}) }}"
                    onclick="resetRegistration()"
                    class="btn btn-block btn-info"><i class="fa fa-refresh"></i> Reset your registration</button>

            <hr/>
        </div>

    </div>

    <div id="inviteBtnRow" class="row{% if eventInformation.isCurrentUserInvited == false or eventInformation.modified == true %} d-none{% endif %}">

        <div class="col-md-5">
            <button id="inviteSetAccepted"
                    class="btn btn-success btn-block{% if eventInformation.isCurrentUserInEvent and eventInformation.currentUserState == 2 %} disabled{% endif %}"
                    type="button"
                    data-url="{{ path('rizzen_event_invite_response', {"subdomain": subdomain, "dateId": dateId, "eventId": event.id, "choice": "accept"}) }}"
                    onclick="inviteSet(2)"
                    ><i class="fa fa-check"></i> Accept the invitation</button>
        </div>

        <div class="col-md-2">
            <button class="btn btn-block btn-primary"
                    data-toggle="modal"
                    data-target="#inviteFAQ"
                    tabindex="-1"><i class="fa fa-question-circle"></i> Invitations FAQ</button>
        </div>

        <div class="col-md-5">
            <button id="inviteSetRefused"
                    class="btn btn-danger btn-block{% if eventInformation.isCurrentUserInEvent and eventInformation.currentUserState == 3 %} disabled{% endif %}"
                    type="button"
                    data-url="{{ path('rizzen_event_invite_response', {"subdomain": subdomain, "dateId": dateId, "eventId": event.id, "choice": "refuse"}) }}"
                    onclick="inviteSet(3)"
                    ><i class="fa fa-close"></i> Refuse the invitation</button>
        </div>

        <div class="col-md-12">
            <hr/>
        </div>
    </div>


    {# Users accepted start #}
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-success event-user-listing-panel">
                <div class="panel-heading">
                    <h3 class="panel-title"><span id="state-2-total">{{ eventInformation.acceptedCount }}</span> <span id="state-2-user">{% if eventInformation.acceptedCount <= 1 %}User {% else %}Users{% endif %}</span> accepted</h3>
                </div>
                <div id="state-2" class="panel-body">
                    {% for registration in event.registrations if registration.state is constant('ACCEPTED', registrationStates) %}
                        <div class="registration-line-wrap">
                            <div id="reg-{{ registration.id }}" class="event-user-list">
                                <img src="{{ registration.user.avatar.webPath | imagine_filter('avatar_event') }}" alt="{{ registration.user.username }}" class="left event-avatar img-rounded">

                                <span class='event-user-wrap'>
                                    <span class="event-user-name">{{ registration.user.username }}</span>
                                    {% if permissions.canCreateEvent == true or permissions.canManageEvent == true %}
                                        <span class="btn-group btn-group-sm pull-right">
                                            <button id="btn-{{ registration.id }}-2" type="button" onclick="modifyStateOfUserInEvent({{ registration.user.id }}, {{ event.id }}, 3, '#reg-{{ registration.id }}', '#btn-{{ registration.id }}-2')" class="btn btn-danger"><i class="fa fa-close"></i></button>
                                        </span>
                                    {% else %}
                                        <span class="btn-group btn-group-sm pull-right">
                                            <button type="button" class="btn btn-danger" disabled="disabled"><i class="fa fa-close"></i></button>
                                        </span>
                                    {% endif %}
                                </span>
                                <div class="clear"></div>

                            </div>
                            <hr class="event-user-list-hr"/>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {# Users accepted End #}

        {# Users Invited start #}
        <div class="col-md-3">
            <div class="panel panel-primary event-user-listing-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span id="state-4-total">{{ eventInformation.invitedCount }}</span> <span id="state-4-user">{% if eventInformation.invitedCount <= 1 %}User {% else %}Users{% endif %}</span> Invited

                        {% if inviteForm is not null %}
                            <span class="pull-right"
                                  data-toggle="tooltip"
                                  data-trigger="hover"
                                  data-placement="top"
                                  title="Send an invitation">
                            <button class="btn btn-link color-reset btn-panel-title"
                                    role="button"
                                    data-toggle="modal"
                                    data-target="#inviteModal"
                                    tabindex="-1"><i class="fa fa-user-plus"></i></button>
                        </span>
                        {% endif %}

                    </h3>
                </div>
                <div id="state-4" class="panel-body">
                    {% for registration in event.registrations if registration.state is constant('INVITED', registrationStates) %}
                        <div class="registration-line-wrap">
                            <div id="reg-{{ registration.id }}" class="event-user-list">
                                <img src="{{ registration.user.avatar.webPath | imagine_filter('avatar_event') }}" alt="{{ registration.user.username }}" class="left event-avatar img-rounded">

                                <span class='event-user-wrap'>
                                    <span class="event-user-name">{{ registration.user.username }}</span>
                                    <span class="pull-right">
                                        <button type="button" class="btn btn-danger btn-sm" disabled="disabled"><i class="fa fa-close"></i></button>
                                    </span>

                                </span>
                                <div class="clear"></div>

                            </div>
                            <hr class="event-user-list-hr"/>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {# Users invited stop #}

        {# Users pending start #}
        <div class="col-md-3">
            <div class="panel panel-info event-user-listing-panel">
                <div class="panel-heading">
                    <h3 class="panel-title"><span id="state-1-total">{{ eventInformation.pendingCount }}</span> <span id="state-1-user">{% if eventInformation.pendingCount <= 1 %}User {% else %}Users{% endif %}</span> pending</h3>
                </div>
                <div id="state-1" class="panel-body">
                    {% for registration in event.registrations if registration.state is constant('PENDING', registrationStates) %}
                    <div class="registration-line-wrap">
                        <div id="reg-{{ registration.id }}" class="event-user-list">
                            <img src="{{ registration.user.avatar.webPath | imagine_filter('avatar_event') }}" alt="{{ registration.user.username }}" class="left event-avatar img-rounded">

                                <span class='event-user-wrap'>
                                    <span class="event-user-name">{{ registration.user.username }}</span>
                                    {% if permissions.canCreateEvent == true or permissions.canManageEvent == true %}
                                        <span class="btn-group btn-group-sm pull-right">
                                            <button id="btn-{{ registration.id }}-1" type="button" onclick="modifyStateOfUserInEvent({{ registration.user.id }}, {{ event.id }}, 2, '#reg-{{ registration.id }}', '#btn-{{ registration.id }}-1')" class="btn btn-success"><i class="fa fa-check"></i></button>
                                            <button id="btn-{{ registration.id }}-2" type="button" onclick="modifyStateOfUserInEvent({{ registration.user.id }}, {{ event.id }}, 3, '#reg-{{ registration.id }}', '#btn-{{ registration.id }}-2')" class="btn btn-danger"><i class="fa fa-close"></i></button>
                                        </span>
                                    {% else %}
                                        <span class="btn-group btn-group-sm pull-right">
                                            <button type="button" class="btn btn-success" disabled="disabled"><i class="fa fa-check"></i></button>
                                            <button type="button" class="btn btn-danger" disabled="disabled"><i class="fa fa-close"></i></button>
                                        </span>
                                    {% endif %}
                                </span>
                                <div class="clear"></div>

                        </div>
                        <hr class="event-user-list-hr"/>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {# Users pending stop #}

        {# Users refused start #}
        <div class="col-md-3">
            <div class="panel panel-danger event-user-listing-panel">
                <div class="panel-heading">
                    <h3 class="panel-title"><span id="state-3-total">{{ eventInformation.refusedCount }}</span> <span id="state-3-user">{% if eventInformation.refusedCount <= 1 %}User {% else %}Users{% endif %}</span> refused</h3>
                </div>
                <div id="state-3" class="panel-body">
                    {% for registration in event.registrations if registration.state is constant('REFUSED', registrationStates) %}
                    <div class="registration-line-wrap">
                        <div id="reg-{{ registration.id }}" class="event-user-list">
                            <img src="{{ registration.user.avatar.webPath | imagine_filter('avatar_event') }}" alt="{{ registration.user.username }}" class="left event-avatar img-rounded">

                                <span class='event-user-wrap'>
                                    <span class="event-user-name">{{ registration.user.username }}</span>
                                    {% if (permissions.canCreateEvent == true or permissions.canManageEvent) == true and registration.modified == true and registration.registrationCancelled == false %}
                                        <span class="btn-group btn-group-sm pull-right">
                                            <button id="btn-{{ registration.id }}-1" type="button" onclick="modifyStateOfUserInEvent({{ registration.user.id }}, {{ event.id }}, 2, '#reg-{{ registration.id }}', '#btn-{{ registration.id }}-1')" class="btn btn-success"><i class="fa fa-check"></i></button>
                                        </span>
                                    {% else %}
                                        <span class="pull-right">
                                            <button type="button" class="btn btn-success btn-sm" disabled="disabled"><i class="fa fa-check"></i></button>
                                        </span>
                                    {% endif %}
                                </span>
                                <div class="clear"></div>

                        </div>
                        <hr class="event-user-list-hr"/>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {# Users refused stop #}

    </div>
    <div class="row">
        <script>
            var moderationButtonsEnabled = {% if permissions.canCreateEvent == true %}true{% else %}false{% endif %};
        </script>
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading"><i class="fa fa-comments-o"></i> Comments</div>
                <div class="panel-body">
                    <ul id="comments" class="media-list">
                        {% if comments|length > 0 %}

                            {% for comment in comments %}
                                {% if comment.isResponse == false %}
                                    <li id="comment-container-{{ comment.id }}" class="media">
                                        <a class="pull-left" href="{{ path('rizzen_profile_see', {'username': comment.sender.username}) }}">
                                            <img class="media-object comment-avatar" src="{{ comment.sender.avatar.webPath | imagine_filter('avatar_forum') }}" alt="{{ comment.sender.username }} Avatar">
                                        </a>
                                        <div id="{{ comment.id }}-comment" class="media-body">
                                            <div class="media-min-height">
                                                <h4 class="media-heading">{{ comment.sender.username }} <small>commented {{ time_diff(comment.date) }}</small> {% if permissions.canCreateEvent %}<span id="pop-{{ comment.id }}" data-container="body" data-toggle="popover" data-placement="left" data-content='<a id="button-del-com-{{ comment.id }}" class="btn btn-danger" onclick="ajaxDeleteComment({{ comment.id }});return false;" href="{{ path('rizzen_event_deleteComment', {"subdomain": subdomain, "dateId": dateId, "eventSlug": event.slug, "commentId": comment.id}) }}">Delete the comment</a>' class="fa fa-close pull-right resp-link cursor-pointer remove-comment"></span>{% endif %}</h4>
                                                {{ comment.content|raw }}
                                                <br>
                                                <span class="pull-right"><a onclick="setResponseTarget({{ comment.id }}, '{{ comment.sender.username }}');return false;" class="resp-link" href="#">Reply</a></span>
                                            </div>
                                            {% for response in comment.responses %}
                                                {% if response.visible == true %}
                                                    <div id="comment-container-{{ response.id }}" class="media">
                                                        <a class="pull-left" href="{{ path('rizzen_profile_see', {'username': response.sender.username}) }}">
                                                            <img class="media-object comment-avatar" src="{{ response.sender.avatar.webPath | imagine_filter('avatar_forum') }}" alt="{{ response.sender.username }} Avatar">
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">{{ response.sender.username }} <small>commented {{ time_diff(response.date) }}</small>{% if permissions.canCreateEvent %}<span id="pop-{{ response.id }}" data-container="body" data-toggle="popover" data-placement="left" data-content='<a id="button-del-com-{{ response.id }}" class="btn btn-danger" onclick="ajaxDeleteComment({{ response.id }});return false;" href="{{ path('rizzen_event_deleteComment', {"subdomain": subdomain, "dateId": dateId, "eventSlug": event.slug, "commentId": comment.id}) }}">Delete the comment</a>' class="fa fa-close pull-right resp-link cursor-pointer remove-comment"></span>{% endif %}</h4>
                                                            {{ response.content|raw }}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <p id="noCommentText"><i>This event has not received any comment yet.</i></p>
                        {% endif %}
                    </ul>

                    <hr>

                    {{ form_start(form, {"attr": {"class": "comment-form", "autocomplete": "off"}, "action": path('rizzen_event_sendComment', {"subdomain": subdomain, "dateId": dateId, "eventSlug": event.slug}) }) }}

                        {{ form_widget(form.content, { 'attr': {'class': 'form-control', 'style': 'width:100%;height:80px;'} }) }}

                        {{ form_widget(form.responseTarget, { 'attr': {'class': 'comment-target-input'} }) }}

                        {{ form_widget(form._token) }}
                        <span class="response-form-alert resp-link">Replying to: <span class="response-form-alert-name"></span> <i><a onclick="resetResponseTarget();return false;" href="#">(Cancel)</a></i></span>
                        <button id="commentSubmitButton" style="margin-top:10px;" autocomplete="off" type="submit" class="btn btn-primary pull-right"><span class="fa fa-send"></span> Send</button>

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>

    {% if inviteForm is not null %}
    <div class="modal fade local-modal" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Send an invitation</h4>
                </div>

                <hr class="no-margin-top"/>

                <div class="modal-body">
                    <p>
                        To invite somebody to the event, type his or her username in the form bellow.
                        <br/><br/>
                        <strong><i class="fa fa-info-circle"></i> Please note that you can invite users that aren't in your guild</strong>.
                        <br/><small class="small-lighter"><i class="fa fa-info-circle"></i> If you're inviting someone that has been banned from the guild, he won't be able to access this page.</small>
                        <br/><br/>
                        If you invite someone that isn't a guild member, he will be able to access this event, comment on it and modify his registration like a guild member, only that he will need to access it from his account calendar since all the others pages will still be reserved to the guild members.
                        <br/><br/>
                        Once invited, the user will receive a private message and a notification to let him know that you invited him.
                    </p>

                    <br/>

                    <div class="row">
                        <div class="col-md-12">

                            {{ form_start(inviteForm, {"attr": {"id": "eventInviteUserForm", "class": "input-group", "autocomplete": "off"}, "action": path('rizzen_event_invite', {"subdomain": subdomain, "dateId": dateId, "eventSlug": event.slug}) }) }}


                                <div id="inviteFormGroup" class="form-group">
                                    {{ form_widget(inviteForm.username, { 'attr': {'class': 'form-control', 'placeholder': 'username_placeholder'} }) }}
                                    <span id="inviteFormErrorIcon" class="glyphicon glyphicon-remove form-control-feedback" style="display: none;"></span>
                                </div>

                                {{ form_widget(inviteForm._token) }}
                                <span class="input-group-btn">
                                    <button id="sendInviteButton" class="btn btn-primary" type="submit"><i class="fa fa-envelope"></i> Send an invitation</button>
                                </span>

                            {{ form_end(inviteForm) }}

                        </div>
                    </div>

                </div>

                <hr class="no-margin-bottom"/>

                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn"><i class="fa fa-close"></i> Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="modal fade local-modal" id="inviteFAQ" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="myModalLabel">Invitations FAQ</h3>
                </div>

                <hr class="no-margin-top"/>

                <div class="modal-body">
                    <h4>Frequently Asked Questions:</h4>

                    <dl>
                        <dt>Q: Is my choice permanent?</dt>
                        <dd>
                            <strong>A:</strong> No, you can modify your choice, but, if you accepted the event, and then an event manager refuse you, you won't be able to modify it.
                        </dd>
                    </dl>
                    <dl>
                        <dt>Q: Can the event managers modify my registration?</dt>
                        <dd>
                            <strong>A:</strong> They will be able to modify it only if you accept the invitation.
                        </dd>
                    </dl>

                </div>

                <hr class="no-margin-bottom"/>

                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn"><i class="fa fa-close"></i> Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('ckeditor/adapters/jquery.js') }}"></script>

    <script type="text/javascript">
        $('[data-toggle="popover"]').popover({html: 'true'});
        $('[data-toggle="tooltip"]').tooltip()
    </script>

    <script type="text/javascript">
        var permissions = {{ eventInformation.permissionsJSON | raw }};

        var eventChannel = pusher.subscribe('{{ event.socketTopic }}');

        eventChannel.bind('message', function(data) {
            window[data.subtopic](data);
        });

        CKEDITOR.env.isCompatible = true;
        $('#grost_event_comment_content').ckeditor({
            toolbar: 'Comment'
        });

        $(".comment-form").on("submit", function() {
            $("#commentSubmitButton").attr("disabled", true).removeClass('btn-primary').html('<span class="fa fa-send"></span> Sending the comment');
            var serializedForm = $(".comment-form").serialize();
            $.ajax({
                url: '{{ path('rizzen_event_sendComment', {"subdomain": subdomain, "dateId": dateId, "eventSlug": event.slug}) }}',
                type: 'POST',
                data: serializedForm,

                success: function (data) {
                    $('#commentSubmitButton').addClass('btn-success').html('<span class="fa fa-check"></span> Comment sent!');
                    $('#grost_event_comment_content').val('');
                    resetResponseTarget();
                    setTimeout(function () {
                        $("#commentSubmitButton").attr("disabled", false).removeClass('btn-success').addClass('btn-primary').html('<span class="fa fa-send"></span> Send')
                    }, 2000);
                },
                error: function() {
                    $('#commentSubmitButton').addClass('btn-danger').prop('disabled', false).html('An error occurred.');
                }
            });
            return false;
        });
    </script>
{% endblock %}

{% block customCSS %}
    {% if eventInformation.guild.customCSSEnabled %}
        <link rel="stylesheet" href="{{ asset(eventInformation.guild.customCSSFile) }}"/>
    {% endif %}
{% endblock %}
