<div class="registration-line-wrap appended-event-user">
    <div id="reg-{{ registration.id }}" class="event-user-list">
        <img src="{{ registration.user.avatar.webPath | imagine_filter('avatar_event') }}" alt="{{ registration.user.username }}" class="left event-avatar img-rounded">

        <span class='event-user-wrap'>
            <span class="event-user-name">{{ registration.user.username }}</span>
            {% if newState is constant('Rizzen\\CalendarBundle\\Constants\\RegistrationStates::PENDING') %}
                <span class="btn-group btn-group-sm pull-right">
                    <button id="btn-{{ registration.id }}-1" type="button" disabled="disabled" onclick="modifyStateOfUserInEvent({{ registration.user.id }}, {{ event.id }}, 2, '#reg-{{ registration.id }}', '#btn-{{ registration.id }}-1')" class="btn btn-success"><i class="fa fa-check"></i></button>
                    <button id="btn-{{ registration.id }}-2" type="button" disabled="disabled" onclick="modifyStateOfUserInEvent({{ registration.user.id }}, {{ event.id }}, 3, '#reg-{{ registration.id }}', '#btn-{{ registration.id }}-2')" class="btn btn-danger"><i class="fa fa-close"></i></button>
                </span>
            {% elseif newState is constant('Rizzen\\CalendarBundle\\Constants\\RegistrationStates::ACCEPTED') %}
                <span class="btn-group btn-group-sm pull-right">
                    <button id="btn-{{ registration.id }}-2" type="button" disabled="disabled" onclick="modifyStateOfUserInEvent({{ registration.user.id }}, {{ event.id }}, 3, '#reg-{{ registration.id }}', '#btn-{{ registration.id }}-2')" class="btn btn-danger"><i class="fa fa-close"></i></button>
                </span>
            {% elseif newState is constant('Rizzen\\CalendarBundle\\Constants\\RegistrationStates::REFUSED') %}
                {% if registration.modified == true and registration.registrationCancelled == false %}
                <span class="btn-group btn-group-sm pull-right">
                    <button id="btn-{{ registration.id }}-1" type="button" disabled="disabled" onclick="modifyStateOfUserInEvent({{ registration.user.id }}, {{ event.id }}, 2, '#reg-{{ registration.id }}', '#btn-{{ registration.id }}-1')" class="btn btn-success"><i class="fa fa-check"></i></button>
                </span>
                {% else %}
                <span class="pull-right">
                    <button type="button" class="btn btn-success btn-sm" disabled="disabled"><i class="fa fa-check"></i></button>
                </span>
                {% endif %}
            {% elseif newState is constant('Rizzen\\CalendarBundle\\Constants\\RegistrationStates::INVITED') %}
                <span class="pull-right">
                    <button id="btn-{{ registration.id }}-2" type="button" disabled="disabled" onclick="modifyStateOfUserInEvent({{ registration.user.id }}, {{ event.id }}, 3, '#reg-{{ registration.id }}', '#btn-{{ registration.id }}-2')" class="btn btn-danger btn-sm"><i class="fa fa-close"></i></button>
                </span>
            {% endif %}
        </span>
        <div class="clear"></div>

    </div>
    <hr class="event-user-list-hr"/>
</div>
