{% extends '::base.html.twig' %}
{% block title %}Users - Grost Administration - {% endblock %}

{% block body %}

    <div class="row">

        {% include '::grostAdminSideMenu.html.twig' with {'currentPage': 'adminUsers'} %}

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-7">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <i class="fa fa-user"></i> Info & Stats
                                    </h3>
                                </div>

                                <div class="list-group">
                                    <a href="{{ path('rizzen_profile_see', {'username': user.username}) }}" class="list-group-item">
                                        <i class="fa fa-user"></i> Username: <strong class="pull-right">{{ user.username }}</strong>
                                    </a>

                                    <div class="list-group-item">
                                        <i class="fa fa-envelope"></i> Email Address: <strong class="pull-right">{{ user.email }}</strong>
                                    </div>

                                    <div class="list-group-item">
                                        <i class="fa fa-clock-o"></i> Timezone: <strong class="pull-right">{{ user.timezone }}</strong>
                                    </div>

                                    <div class="list-group-item" title="{{ user.joinDate | ago() }}">
                                        <i class="fa fa-calendar"></i> Join Date: <strong class="pull-right">{{ user.joinDate | date() }}</strong>
                                    </div>

                                    <div class="list-group-item">
                                        <i class="fa fa-info-circle"></i> User ID: <strong class="pull-right">{{ user.id }}</strong>
                                    </div>

                                    <div class="list-group-item">
                                        <i class="fa fa-plug"></i> WST: <strong class="pull-right">{{ user.socketTopic }}</strong>
                                    </div>

                                    <div class="list-group-item" title="{{ user.joinDate | ago() }}">
                                        <i class="fa fa-lock"></i> Account Locked: <strong class="pull-right">{% if user.locked %}Yes{% else %}No{% endif %}</strong>
                                    </div>

                                    <div class="list-group-item">
                                        <i class="fa fa-comment"></i> Messages posted: <strong class="pull-right">{{ user.messageCount }}</strong>
                                    </div>

                                    <div class="list-group-item">
                                        <i class="fa fa-comments"></i> Threads created: <strong class="pull-right">{{ user.threadCount }}</strong>
                                    </div>

                                    {% set difference = date(user.joinDate).diff(date('now' | date())) %}
                                    <div class="list-group-item">
                                        {% if user.messageCount == 0 %}{% endif %}
                                        <i class="fa fa-comments-o"></i> Messages per day:
                                        {% if user.messageCount == 0 %}
                                            <strong class="pull-right">0</strong>
                                        {% elseif difference.days == 0 %}
                                            <strong class="pull-right">{{ user.messageCount }}</strong>
                                        {% else %}
                                            {% set messagesPerDay = user.messageCount / difference.days %}
                                            <strong class="pull-right">{{ messagesPerDay | round(2, 'floor') }}</strong>
                                        {% endif %}
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <i class="fa fa-check-square-o"></i> User Options
                                    </h3>
                                </div>

                                <div class="list-group">

                                    <div class="list-group-item">
                                        <i class="fa fa-exclamation-circle"></i> Email Event Reminder: <strong class="pull-right">{% if user.options.email.receiveEmailForEventReminder %}Enabled{% else %}Disabled{% endif %}</strong>
                                    </div>

                                    <div class="list-group-item">
                                        <i class="fa fa-envelope-o"></i> Email Event Invite: <strong class="pull-right">{% if user.options.email.receiveEmailForEventInvite %}Enabled{% else %}Disabled{% endif %}</strong>
                                    </div>

                                    <div class="list-group-item">
                                        <i class="fa fa-exclamation-triangle"></i> Email Guild Event: <strong class="pull-right">{% if user.options.email.receiveEmailForGuildEvent %}Enabled{% else %}Disabled{% endif %}</strong>
                                    </div>

                                    <div class="list-group-item">
                                        <i class="fa fa-inbox"></i> Email Event New Conversation: <strong class="pull-right">{% if user.options.email.receiveEmailForNewConversation %}Enabled{% else %}Disabled{% endif %}</strong>
                                    </div>

                                    <div class="list-group-item">
                                        <i class="fa fa-envelope"></i> Email Disabled: <strong class="pull-right">{% if user.options.email.receiveEmailDisabled %}True{% else %}False{% endif %}</strong>
                                    </div>

                                    <div class="list-group-item">
                                        <i class="fa fa-users"></i> Messenger Allow Everybody: <strong class="pull-right">{% if user.options.messenger.receiveMessageFromAnybody %}True{% else %}False{% endif %}</strong>
                                    </div>

                                    <div class="list-group-item">
                                        <i class="fa fa-user"></i> Messenger Allow Friends: <strong class="pull-right">{% if user.options.messenger.receiveMessageFromFriendsOnly %}True{% else %}False{% endif %}</strong>
                                    </div>

                                    <div class="list-group-item">
                                        <i class="fa fa-lock"></i> Messenger Allow Nobody: <strong class="pull-right">{% if user.options.messenger.receiveMessageFromNobody %}True{% else %}False{% endif %}</strong>
                                    </div>

                                    <div class="list-group-item">
                                        <i class="fa fa-envelope-o"></i> Messenger Event Invite: <strong class="pull-right">{% if user.options.messenger.receiveNotificationForEventInvite %}Enabled{% else %}Disabled{% endif %}</strong>
                                    </div>

                                    <div class="list-group-item">
                                        <i class="fa fa-exclamation-circle"></i> Messenger Event Reminder: <strong class="pull-right">{% if user.options.messenger.receiveNotificationForEventReminder %}Enabled{% else %}Disabled{% endif %}</strong>
                                    </div>

                                    <div class="list-group-item">
                                        <i class="fa fa-exclamation-triangle"></i> Messenger Guild Event: <strong class="pull-right">{% if user.options.messenger.receiveNotificationForGuildEvent %}Enabled{% else %}Disabled{% endif %}</strong>
                                    </div>

                                    <div class="list-group-item">
                                        <i class="fa fa-close"></i> Messenger Notification Disabled: <strong class="pull-right">{% if user.options.messenger.receiveNotificationDisabled %}True{% else %}False{% endif %}</strong>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-5">

                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-block btn-primary" href="{{ path('rizzen_main_homepage', {'_impersonate_user': user.username}) }}">
                                <i class="fa fa-user-secret"></i> Impersonate User
                            </a>
                            <br/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <i class="fa fa-shield"></i> Guilds created
                                    </h3>
                                </div>

                                <table class="table table-striped no-bottom-border-table">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>

                                    <tbody id="roleTableTbody">

                                    {% for guild in guildsCreated %}
                                        <tr>
                                            <td>{{ guild.title }}</td>
                                            <td>
                                                <a href="{{ path('rizzen_admin_guilds_see', {'guildID': guild.id}) }}" class="btn btn-xs btn-primary">
                                                    <i class="fa fa-shield"></i> Admin
                                                </a>
                                                <a href="{{ path('rizzen_guild_see', {'subdomain': guild.slug}) }}" class="btn btn-xs btn-info">
                                                    <i class="fa fa-eye"></i> See
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>

                                </table>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <i class="fa fa-shield"></i> Member of guilds
                                    </h3>
                                </div>

                                <table class="table table-striped no-bottom-border-table">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>

                                    <tbody id="roleTableTbody">

                                    {% for guild in user.guilds %}
                                        <tr>
                                            <td>{{ guild.title }}</td>
                                            <td>
                                                <a href="{{ path('rizzen_admin_guilds_see', {'guildID': guild.id}) }}" class="btn btn-xs btn-primary">
                                                    <i class="fa fa-shield"></i> Admin
                                                </a>
                                                <a href="{{ path('rizzen_guild_see', {'subdomain': guild.slug}) }}" class="btn btn-xs btn-info">
                                                    <i class="fa fa-eye"></i> See
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>

                                </table>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <i class="fa fa-comments-o"></i> Member of forums
                                    </h3>
                                </div>

                                <table class="table table-striped no-bottom-border-table">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>

                                    <tbody id="roleTableTbody">

                                    {% for forum in user.forums %}
                                        <tr>
                                            <td>{{ forum.title }}</td>
                                            <td>
                                                <a href="{{ path('rizzen_admin_guilds_see', {'guildID': forum.guild.id}) }}" class="btn btn-xs btn-primary">
                                                    <i class="fa fa-shield"></i> Admin
                                                </a>
                                                <a href="{{ path('rizzen_forum_see', {'subdomain': forum.guild.slug}) }}" class="btn btn-xs btn-info">
                                                    <i class="fa fa-eye"></i> See
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>

                                </table>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <i class="fa fa-users"></i> Friends
                                    </h3>
                                </div>

                                <table class="table table-striped no-bottom-border-table">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>

                                    <tbody id="roleTableTbody">

                                    {% for friend in user.friends %}
                                        <tr>
                                            <td>{{ friend.username }}</td>
                                            <td>
                                                <a href="{{ path('rizzen_admin_user_see', {'userID': friend.id}) }}" class="btn btn-xs btn-primary">
                                                    <i class="fa fa-user"></i> Admin
                                                </a>
                                                <a href="{{ path('rizzen_profile_see', {'username': friend.username}) }}" class="btn btn-xs btn-info">
                                                    <i class="fa fa-eye"></i> See
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>

                                </table>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

