{% extends '::base.html.twig' %}
{% block title %}Users - Grost Administration - {% endblock %}

{% block body %}

    <div class="row">

        {% include '::grostAdminSideMenu.html.twig' with {'currentPage': 'adminUsers'} %}

        <div class="col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-users"></i> Users

                         <span class="pull-right">
                            <i class="fa fa-line-chart"></i> <strong>Count: {{ userCount }}</strong>
                        </span>

                    </h3>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Join Date (d/m/y)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr class="{% if user.enabled == false %}info{% elseif user.locked %}danger{% endif %}">
                            <td><strong>{{ user.id }}</strong></td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.joinDate | date('d/m/y H:i:s') }}</td>
                            <td>
                                <a class="btn btn-xs btn-primary" href="{{ path('rizzen_admin_user_see', {'userID': user.id}) }}"><i class="fa fa-user"></i> Admin</a>
                                <a class="btn btn-xs btn-info" href="{{ path('rizzen_profile_see', {'username': user.username}) }}"><i class="fa fa-eye"></i> See</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

{% endblock %}

