{% form_theme form 'bootstrap_3_layout.html.twig' %}
{{ form_start(form, {"action": path('fos_user_change_password') }) }}

    {{ form_widget(form) }}
    <div>
        <button type="submit" class="btn btn-block btn-primary"><i class="fa fa-check"></i> Modify the password</button>
    </div>

{{ form_end(form) }}
