{% extends '::base.html.twig' %}
{% block body %}

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb-arrow">
                <li><a href="{{ path('rizzen_main_homepage') }}"><i class="fa fa-home"></i> Dashboard</a></li>
                <li><a href="{{ path('rizzen_messenger_inbox') }}"><i class="fa fa-inbox"></i> Inbox</a></li>
                <li class="active"><span><i class="fa fa-comments"></i> {{ conversation.title }}</span></li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>{{ conversation.title }} <small class="msg-count-wrap"><span class="msg-count">{{ messages.getTotalItemCount }}</span> Message{% if messages.getTotalItemCount > 1 %}s{% endif %}</small></h2>
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="pull-right pagination-margin">
                {{ knp_pagination_render(messages) }}
            </div>
        </div>
    </div>

    {% set currentDateOnlineP2 = 'now'|date() %}
    <div class="forum-wrap">
        {% for message in messages %}
            <div class="row">
                <div class="col-md-12">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Posted {{ time_diff(message.date) }} ({{ message.date|date() }})</h3>
                        </div>
                        <div class="panel-body">
                            {% if message.isBot == false %}
                            <div class="col-md-2 col-xs-2 forum-user">
                                <div class="visible-xs center-block">
                                    <img class="img-rounded forum-avatar-xs" src="{{ message.creator.avatar.webPath | imagine_filter('avatar_forum') }}" alt="{{ message.creator.username }} Avatar">
                                </div>

                                <div class="hidden-xs thumbnail center-block forum-avatar">
                                    <img class="img-rounded forum-avatar" src="{{ message.creator.avatar.webPath | imagine_filter('avatar_forum') }}" alt="{{ message.creator.username }} Avatar">
                                </div>

                                <div class="visible-xs text-center ">
                                    <strong class="no-margin-top">{{ message.creator.username }}</strong>
                                    {% if message.creator.onlinePing is not null %}{% if message.creator.onlinePing|date_modify("+2 min")|date('U') < currentDateOnlineP2|date('U') %}{% else %}<span class="label label-primary">ONLINE</span>{% endif %}{% endif %}
                                </div>

                                <div class="hidden-xs">
                                    <span class="text-center forum-username">{{ message.creator.username }}</span>
                                    <hr class="forum-user-hr">
                                    <div class="forum-user-infos text-center">
                                        <span>{{ message.creator.messageCount }} message{% if message.creator.messageCount != 1 %}s{% endif %}</span><br>
                                        <span>{{ message.creator.threadCount }} thread{% if message.creator.threadCount != 1 %}s{% endif %}</span><br>
                                        {% if message.creator.onlinePing is not null %}{% if message.creator.onlinePing|date_modify("+2 min")|date('U') < currentDateOnlineP2|date('U') %}<span>Last seen: {{ message.creator.onlinePing|date('d/m/y') }}</span>{% else %}<span class="label label-primary">ONLINE</span>{% endif %}{% else %}<span>Last seen: {{ message.creator.onlinePing|date('d/m/y') }}</span>{% endif %}
                                    </div>
                                    <div class="text-center">
                                        <a href="{{ path('rizzen_profile_see', {'username': message.creator.username}) }}" class="btn btn-primary"><i class="fa fa-user"></i> Profile</a>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="col-md-2 col-xs-2 forum-user">
                                <div class="visible-xs center-block">
                                    <img class="img-rounded forum-avatar-xs" src="{{ '/img/bot/avatar.png' | imagine_filter('avatar_forum') }}" alt="Grost's Bot Avatar">
                                </div>

                                <div class="hidden-xs thumbnail center-block forum-avatar">
                                    <img class="img-rounded forum-avatar" src="{{ '/img/bot/avatar.png' | imagine_filter('avatar_forum') }}" alt="Grost's Bot Avatar">
                                </div>

                                <div class="visible-xs text-center ">
                                    <strong class="no-margin-top">Grost</strong>
                                    <small class="small-lighter">I'm a bot, I'm always online!</small>
                                </div>

                                <div class="hidden-xs">
                                    <span class="text-center forum-username">Grost's Bot</span>
                                    <hr class="forum-user-hr">
                                    <div class="forum-user-infos text-center">

                                        <img src="{{ asset('img/badges/grost.png') }}" alt="Grost Administrator"/>
                                        <br/>
                                        <small class="small-lighter">01001000 01101001</small>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-md-10 col-xs-10">
                                <div class="forum-message">
                                    {{ message.content|raw }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}

        <div id="conversation-new-messages-title" style="display: none">
            <h3>New message: </h3>
            <hr class="no-margin-top"/>
        </div>

        <div id="conversation-new-messages">

        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                {{ knp_pagination_render(messages) }}
            </div>
        </div>
    </div>

    {% if conversation.isBot == false %}

    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-info-circle"></i> Info
                </div>

                <div class="panel-body">

                    <div data-toggle="tooltip"
                         data-placement="bottom"
                         title="This counter does include the HTML generated by the text editor">
                        <small>
                            Characters used:
                            <br/>
                            <strong>
                                <span id="charCount">0</span>/5000*
                            </strong>
                            <br/>
                        </small>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-10">

            <div id="messengerReplyError" class="alert alert-danger" style="display: none;">
                <i class="fa fa-warning"></i> Your message must contain <strong>at least one character and a maximum of 5000</strong> (look at the counter on the left)
            </div>

            {{ form_start(form, {"attr": {"class": "reply", "id": "conversationReplyForm"}, "action": path('rizzen_messenger_reply', {'slug': conversation.slug}) }) }}

                {{ form_widget(form.content) }}


                {{ form_rest(form) }}
                <br/>
                <button type="submit" id="formSubmitButton" class="btn btn-block btn-primary"><i class="fa fa-send"></i> Reply</button>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr/>
        </div>
    </div>

    {% endif %}

    <div class="row">
        {% if conversation.isBot == false %}
        <div class="col-md-7">
        {% else %}
        <div class="col-md-12">
        {% endif %}
            <a id="leaveConversationButton" onclick="return false;" class="btn btn-block btn-danger" href="{{ path('rizzen_messenger_leave', {'slug': conversation.slug}) }}">Leave the conversation (Hold to confirm)</a>
        </div>

        {% if conversation.isBot == false %}
        <div class="col-md-5">
            <div class="input-group">

                <div id="inviteFormGroup" class="form-group">
                    <input type="text" placeholder="Username" name="username" class="form-control inviteUserInput" autocomplete="off">
                    <span id="inviteFormErrorIcon" class="glyphicon glyphicon-remove form-control-feedback" style="display: none;"></span>
                </div>

                <input type="hidden" name="csrfToken" class="inviteUserCSRF" value="{{ csrf_token('inviteUserInput_intention') }}">
                <span class="input-group-btn">
                    <button id="sendInviteButton" class="btn btn-info" onclick="conversationSendUserInvite('{{ path('rizzen_messenger_invite', {'slug': conversation.slug}) }}')" type="button">Invite to the conversation</button>
                </span>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var conversationSlug = '{{ conversation.slug }}';
    </script>
    {% if conversation.isBot == false %}
    <script type="text/javascript" src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('ckeditor/adapters/jquery.js') }}"></script>
    <script>
        CKEDITOR.env.isCompatible = true;
        $('#grost_messenger_message_content').ckeditor({
            toolbar: 'Forum'
        });

        var timeoutId = 0;

        $('#leaveConversationButton').mousedown(function() {
            $('#leaveConversationButton').html('Leaving, hold to confirm...').addClass('leaveConversation');
            timeoutId = setTimeout(leaveConversation, 2000);
        }).bind('mouseup mouseleave', function() {
            $('#leaveConversationButton').html('Leave the conversation (Hold to confirm)').removeClass('leaveConversation');
            clearTimeout(timeoutId);
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        for (var i in CKEDITOR.instances) {
            CKEDITOR.instances[i].on('change', function() {

                var charCount = $('#grost_messenger_message_content').val().length - 1;

                if (charCount === -1) {
                    $('#charCount').text(0);
                } else {
                    $('#charCount').text(charCount);
                }

            });
        }

        var conversationChanel = pusher.subscribe('{{ conversation.socketTopic }}');
        conversationChanel.bind('message', function(data) {
            window[data.subtopic](data);
        });
    </script>
    {% endif %}
{% endblock %}

{% block SocketTopic %}
    conn.subscribe('{{ conversation.sockId }}', function(topic, data) {
        window[data.subtopic](data);
    });
{% endblock %}
