{% extends '::base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb-arrow">
                <li><a href="{{ path('rizzen_main_homepage') }}"><i class="fa fa-home"></i> Dashboard</a></li>
                <li class="active"><span><i class="fa fa-inbox"></i> Inbox</span></li>
            </ol>
        </div>
    </div>
<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="{{ path('rizzen_messenger_inbox') }}"><i class="fa fa-inbox"></i> Inbox</a></li>
            <li class="li-separator"></li>
            <li><a href="{{ path('rizzen_messenger_write') }}"><i class="fa fa-pencil"></i> Create a new conversation</a></li>
            <li class="li-separator"></li>
            <li><a href="#"><i class="fa fa-eye"></i> See all</a></li>
            <li><a href="#"><i class="fa fa-eye-slash"></i> See unread</a></li>
            <li class="li-separator"></li>
            <li><a href="{{ path('rizzen_messenger_clear') }}"><i class="fa fa-check"></i> Set everything as read</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        {% if pagination | length == 0 %}
        <div class="well text-center">
            <h4><i class="fa fa-info-circle"></i> You are not currently taking part in any conversation.</h4>
        </div>
        {% else %}


            {% if app.user.unreads | length > 0 %}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-success forum-list-panel">
                        <div class="panel-heading">
                            {% if app.user.unreads | length > 1 %}
                            <h3 class="panel-title">{{ app.user.unreads | length }} Unread Conversations</h3>
                            {% else %}
                            <h3 class="panel-title">1 Unread Conversation</h3>
                            {% endif %}
                        </div>

                        {% for conversation in app.user.unreads | slice(0, 5) %}
                            <div class="forum-list-subcat {% if loop.index is even %}forum-list-alternate{% endif %}">
                                <div class="row">
                                    <a href="{{ path('rizzen_messenger_conversation', {'slug': conversation.slug}) }}" class="text-color-reset">
                                        <div class="col-md-9 col-xs-10">
                                            <h4 class="forum-admin-subcat-title">{{ conversation.title }}</h4>
                                            {% if conversation.isBot %}
                                                <small class="hidden-xs">Conversation started by <strong>Grost's Bot</strong> {{ conversation.date | ago }}</small>
                                                <small class="visible-xs">Created by <strong>Grost's Bot</strong> {{ conversation.date | ago }}</small>
                                            {% else %}
                                                <small class="hidden-xs">Conversation started by <strong>{{ conversation.creator.username }}</strong> {{ conversation.date | ago }}</small>
                                                {% if conversation.lastMessage.isBot %}
                                                    <small class="visible-xs">Created by <strong>{{ conversation.creator.username }}</strong> {{ conversation.date | ago }}, last message: {{ conversation.lastMessage.date|ago }} by <strong>Grost's Bot</strong></small>
                                                {% else %}
                                                    <small class="visible-xs">Created by <strong>{{ conversation.creator.username }}</strong> {{ conversation.date | ago }}, last message: {{ conversation.lastMessage.date|ago }} by <strong>{{ conversation.lastMessage.creator.username }}</strong></small>
                                                {% endif %}
                                            {% endif %}

                                        </div>
                                    </a>

                                    <a href="{{ path('rizzen_messenger_conversation', {'slug': conversation.slug}) }}" class="text-color-reset">
                                        <div class="col-md-3 col-xs-2 forum-list-last-message-separator">
                                            {% if conversation.lastMessage.isBot %}
                                                <img class="pull-left forum-list-avatar img-rounded" src="{{ '/img/bot/avatar.png' | imagine_filter('avatar_forum') }}" alt="User avatar">
                                                <div class="forum-list-last-message hidden-xs">
                                                    <strong>Grost's Bot</strong>
                                                    <hr class="no-margin"/>
                                                    <small>{{ conversation.lastMessage.date|ago }}.</small>
                                                </div>
                                            {% else %}
                                                <img class="pull-left forum-list-avatar img-rounded" src="{{ conversation.lastMessage.creator.avatar.webPath | imagine_filter('avatar_forum') }}" alt="User avatar">
                                                <div class="forum-list-last-message hidden-xs">
                                                    <strong>{{ conversation.lastMessage.creator.username }}</strong>
                                                    <hr class="no-margin"/>
                                                    <small>{{ conversation.lastMessage.date|ago }}.</small>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </a>

                                </div>
                            </div>
                            <hr class="no-margin"/>
                        {% endfor %}

                        {% if app.user.unreads | length > 5 %}
                            <div class="forum-list-subcat conversation-unreads-see-more">
                                <div class="row text-center">
                                    <small>Only 5 out of the {{ app.user.unreads | length }} unread conversations are displayed here, click the "See unread" link to see all of them.</small>
                                </div>

                            </div>
                            <hr class="no-margin"/>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}


            {% if pagination | length > app.user.unreads | length %}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info forum-list-panel">
                        <div class="panel-heading">
                            {% if pagination | length - app.user.unreads | length > 1 %}
                                <h3 class="panel-title">{{ pagination | length - app.user.unreads | length }} Conversations</h3>
                            {% else %}
                                <h3 class="panel-title">1 Conversation</h3>
                            {% endif %}
                        </div>

                        {% for conversation in pagination if conversation not in app.user.unreads %}
                            <div class="forum-list-subcat {% if loop.index is even %}forum-list-alternate{% endif %}">
                                <div class="row">
                                    <a href="{{ path('rizzen_messenger_conversation', {'slug': conversation.slug}) }}" class="text-color-reset">
                                        <div class="col-md-9 col-xs-10">
                                            <h4 class="forum-admin-subcat-title">{{ conversation.title }}</h4>
                                            {% if conversation.isBot %}
                                                <small class="hidden-xs">Conversation started by <strong>Grost's Bot</strong> {{ conversation.date | ago }}</small>
                                                <small class="visible-xs">Created by <strong>Grost's Bot</strong> {{ conversation.date | ago }}</small>
                                            {% else %}
                                                <small class="hidden-xs">Conversation started by <strong>{{ conversation.creator.username }}</strong> {{ conversation.date | ago }}</small>
                                                {% if conversation.lastMessage.isBot %}
                                                    <small class="visible-xs">Created by <strong>{{ conversation.creator.username }}</strong> {{ conversation.date | ago }}, last message: {{ conversation.lastMessage.date|ago }} by <strong>Grost's Bot</strong></small>
                                                {% else %}
                                                    <small class="visible-xs">Created by <strong>{{ conversation.creator.username }}</strong> {{ conversation.date | ago }}, last message: {{ conversation.lastMessage.date|ago }} by <strong>{{ conversation.lastMessage.creator.username }}</strong></small>
                                                {% endif %}
                                            {% endif %}

                                        </div>
                                    </a>

                                    <a href="{{ path('rizzen_messenger_conversation', {'slug': conversation.slug}) }}" class="text-color-reset">
                                        <div class="col-md-3 col-xs-2 forum-list-last-message-separator">
                                            {% if conversation.lastMessage.isBot %}
                                                <img class="pull-left forum-list-avatar img-rounded" src="{{ '/img/bot/avatar.png' | imagine_filter('avatar_forum') }}" alt="User avatar">
                                                <div class="forum-list-last-message hidden-xs">
                                                    <strong>Grost's Bot</strong>
                                                    <hr class="no-margin"/>
                                                    <small>{{ conversation.lastMessage.date|ago }}.</small>
                                                </div>
                                            {% else %}
                                                <img class="pull-left forum-list-avatar img-rounded" src="{{ conversation.lastMessage.creator.avatar.webPath | imagine_filter('avatar_forum') }}" alt="User avatar">
                                                <div class="forum-list-last-message hidden-xs">
                                                    <strong>{{ conversation.lastMessage.creator.username }}</strong>
                                                    <hr class="no-margin"/>
                                                    <small>{{ conversation.lastMessage.date|ago }}.</small>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </a>

                                </div>
                            </div>
                            <hr class="no-margin"/>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}

        {% endif %}
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}
