{% set currentDateOnlineP2 = 'now'|date() %}
<div class="row" id="msg-{{ message.id }}" style="display:none;">
    <div class="col-md-12">

        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Posted {{ time_diff(message.date) }} ({{ message.date|date() }})</h3>
            </div>
            <div class="panel-body">
                {% if message.isBot == false %}
                    <div class="col-md-2 col-xs-2 forum-user">
                        <div class="visible-xs center-block">
                            <img class="img-rounded forum-avatar-xs" src="{{ message.creator.avatar.webPath | imagine_filter('avatar_forum') }}" alt="{{ message.creator.username }} Avatar">
                        </div>

                        <div class="hidden-xs thumbnail center-block forum-avatar">
                            <img class="img-rounded forum-avatar" src="{{ message.creator.avatar.webPath | imagine_filter('avatar_forum') }}" alt="{{ message.creator.username }} Avatar">
                        </div>

                        <div class="visible-xs text-center ">
                            <strong class="no-margin-top">{{ message.creator.username }}</strong>
                            {% if message.creator.onlinePing is not null %}{% if message.creator.onlinePing|date_modify("+2 min")|date('U') < currentDateOnlineP2|date('U') %}{% else %}<span class="label label-primary">ONLINE</span>{% endif %}{% endif %}
                        </div>

                        <div class="hidden-xs">
                            <span class="text-center forum-username">{{ message.creator.username }}</span>
                            <hr class="forum-user-hr">
                            <div class="forum-user-infos text-center">
                                <span>{{ message.creator.messageCount }} message{% if message.creator.messageCount != 1 %}s{% endif %}</span><br>
                                <span>{{ message.creator.threadCount }} thread{% if message.creator.threadCount != 1 %}s{% endif %}</span><br>
                                {% if message.creator.onlinePing is not null %}{% if message.creator.onlinePing|date_modify("+2 min")|date('U') < currentDateOnlineP2|date('U') %}<span>Last seen: {{ message.creator.onlinePing|date('d/m/y') }}</span>{% else %}<span class="label label-primary">ONLINE</span>{% endif %}{% else %}<span>Last seen: {{ message.creator.onlinePing|date('d/m/y') }}</span>{% endif %}
                            </div>
                            <div class="text-center">
                                <a href="{{ path('rizzen_profile_see', {'username': message.creator.username}) }}" class="btn btn-primary"><i class="fa fa-user"></i> Profile</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-2 col-xs-2 forum-user">
                        <div class="visible-xs center-block">
                            <img class="img-rounded forum-avatar-xs" src="{{ '/img/bot/avatar.png' | imagine_filter('avatar_forum') }}" alt="Grost's Bot Avatar">
                        </div>

                        <div class="hidden-xs thumbnail center-block forum-avatar">
                            <img class="img-rounded forum-avatar" src="{{ '/img/bot/avatar.png' | imagine_filter('avatar_forum') }}" alt="Grost's Bot Avatar">
                        </div>

                        <div class="visible-xs text-center ">
                            <strong class="no-margin-top">Grost</strong>
                            <small class="small-lighter">I'm a bot, I'm always online!</small>
                        </div>

                        <div class="hidden-xs">
                            <span class="text-center forum-username">Grost's Bot</span>
                            <hr class="forum-user-hr">
                            <div class="forum-user-infos text-center">

                                <img src="{{ asset('img/badges/grost.png') }}" alt="Grost Administrator"/>
                                <br/>
                                <small class="small-lighter">01001000 01101001</small>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="col-md-10 col-xs-10">
                    <div class="forum-message">
                        {{ message.content|raw }}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
