{% extends '::base.html.twig' %}
{% block body %}

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb-arrow">
                <li><a href="{{ path('rizzen_main_homepage') }}"><i class="fa fa-home"></i> Dashboard</a></li>
                <li><a href="{{ path('rizzen_messenger_inbox') }}"><i class="fa fa-inbox"></i> Inbox</a></li>
                <li class="active"><span><i class="fa fa-pencil"></i> New conversation</span></li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{{ path('rizzen_messenger_inbox') }}"><i class="fa fa-inbox"></i> Inbox</a></li>
                <li class="li-separator"></li>
                <li class="active"><a href="{{ path('rizzen_messenger_write') }}"><i class="fa fa-pencil"></i> Create a new conversation</a></li>
                <li class="li-separator"></li>
                <li><a href="#"><i class="fa fa-eye"></i> See all</a></li>
                <li><a href="#"><i class="fa fa-eye-slash"></i> See unread</a></li>
                <li class="li-separator"></li>
                <li><a href="{{ path('rizzen_messenger_clear') }}"><i class="fa fa-check"></i> Set everything as read</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            {{ form_start(form, {"attr": {"class": "custom"}, "action": path('rizzen_messenger_write') }) }}

                {{ form_errors(form) }}

                <div class="row">
                    <div class="col-md-7">
                        {% if form_errors(form.title) %}
                            <div class="form-group has-error has-feedback">
                                {{ form_label(form.title, "title_label", { 'label_attr': {'class': 'control-label'} }) }}
                                <small class="pull-right small-lighter">Must contain between 5 and 30 characters</small>
                                {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder': "title_placeholder"} }) }}
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                            </div>
                        {% else %}
                            {{ form_label(form.title, "title_label") }}<small class="pull-right small-lighter">Must contain between 5 and 40 characters</small>
                            {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder': "title_placeholder"} }) }}
                        {% endif %}
                    </div>

                    <div class="col-md-5">
                        {% if form_errors(form.recipientUsername) %}
                        <div class="form-group has-error has-feedback">
                            {{ form_label(form.recipientUsername, "recipient_label", { 'label_attr': {'class': 'control-label'} }) }}
                            <small class="pull-right small-error"><strong>User not found!</strong></small>
                            {{ form_widget(form.recipientUsername, { 'attr': {'class': 'form-control', 'placeholder': "recipient_placeholder"} }) }}
                            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>
                        {% else %}
                            {{ form_label(form.recipientUsername, "recipient_label") }}
                            {{ form_widget(form.recipientUsername, { 'attr': {'class': 'form-control', 'placeholder': "recipient_placeholder"} }) }}
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <br/>
                        {% if form_errors(form.firstMessage) %}
                            <div class="alert alert-danger">
                                <strong><i class="fa fa-warning"></i></strong> The message can contain a maximum of 5000 characters and a minimum of 1
                            </div>
                        {% endif %}
                        <small class="small-lighter pull-right">5000 characters max. Characters used: <span data-toggle="tooltip"
                                                                                                            data-placement="bottom"
                                                                                                            title="This counter does include the HTML generated by the text editor"><span id="charCount">0</span>/5000*</span></small>
                        {{ form_label(form.firstMessage, "message_label", { 'label_attr': {'class': 'control-label'} }) }}
                        {{ form_widget(form.firstMessage) }}

                        <br/>
                    </div>
                </div>


                {{ form_rest(form) }}

                <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-send"></i> Submit and create the conversation</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}

    <script type="text/javascript" src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('ckeditor/adapters/jquery.js') }}"></script>
    <script>
        CKEDITOR.env.isCompatible = true;
        $('#grost_conversation_new_firstMessage').ckeditor({
            toolbar: 'Forum'
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        for (var i in CKEDITOR.instances) {
            CKEDITOR.instances[i].on('change', function() {

                var charCount = $('#grost_conversation_new_firstMessage').val().length - 1;

                if (charCount === -1) {
                    $('#charCount').text(0);
                } else {
                    $('#charCount').text(charCount);
                }

            });
        }
    </script>
{% endblock %}
