{% extends '::base.html.twig' %}
{% block title %}Edit Update - Grost Administration - {% endblock %}

{% block body %}

    <div class="row">

        {% include '::grostAdminSideMenu.html.twig' with {'currentPage': 'adminNewUpdate'} %}

        <div class="col-md-9">

            {{ form_start(form, {"action": path('rizzen_admin_update_edit', {'updateId': update.id}) }) }}

                <div class="row">

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_label(form.version, "Version:") }}
                                {{ form_widget(form.version, { 'attr': {'class': 'form-control', 'placeholder': "Patch version"} }) }}
                                <br/>
                                <br/>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                {{ form_label(form.content, "Content:") }}
                                {{ form_widget(form.content) }}
                            </div>
                        </div>

                        <div class="row">
                            <br/>
                            <div class="col-md-5">
                                {{ form_widget(form.visible, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Visible', 'data-off': 'Invisible', 'data-onstyle': 'success', 'data-offstyle': 'danger',} }) }}
                            </div>

                            <div class="col-md-7">
                                {{ form_widget(form._token) }}
                                <button type="submit" class="btn btn-block btn-primary"><i class="fa fa-check"></i> Submit</button>
                            </div>
                        </div>



                    </div>

                </div>

            {{ form_end(form) }}
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('ckeditor/adapters/jquery.js') }}"></script>
    <script>
        $('#grost_write_update_content').ckeditor({
            toolbar: 'Forum'
        });
    </script>

{% endblock %}
