<h1>Hey, {{ templateContent.event.title }} is gonna start soon!</h1>

<p>You should get ready, if you can't attend this event, please update your status on RaidPlannr by folowing this link: <a href="{{ url('rizzen_event_see', {"dateId": templateContent.event.dateid, "eventSlug": templateContent.event.slugedtitle}) }}">{{ templateContent.event.title }}</a></p>
