You received a new private message from: {{ templateContent.sentBy }}.

Here is the message that he sent you: {{ templateContent.message }}

You can access the conversation from this link: {{ url('rizzen_messenger_conversation', {'slug': templateContent.slug}) }}
