{% extends '::base.html.twig' %}
{% block title %}{{ guild.title }} - {% endblock %}

{% block TopBarButtons %}

    {% if permissions.canSeeAdminPanel %}
        {% include '::administrationDropdown.html.twig' %}
    {% endif %}

{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb breadcrumb-arrow">
            <li class="active"><span><i class="fa fa-home"></i> {{ guild.title }}</span></li>
        </ol>
    </div>
</div>

<div class="row">
    <div id="guildMain" class="col-md-9">

        <div class="row">
            {% include 'RizzenGuildBundle:DashboardParts:newestThreads.html.twig' %}
        </div>

        <div class="row">
            {% include 'RizzenGuildBundle:DashboardParts:latestBlogPost.html.twig' %}
        </div>

        {% if permissions.isGuildMember %}
        <div class="row">
            {% include 'RizzenGuildBundle:DashboardParts:upcomingEvents.html.twig' %}
        </div>

        <div class="row">
            {% include 'RizzenGuildBundle:DashboardParts:chat.html.twig' %}
        </div>
        {% endif %}

    </div>

    <div class="col-md-3">

        {% if permissions.isGuildMember == false and permissions.isBannedFromGuild == false %}
        <div class="row">
            <div class="col-md-12">
                {% if permissions.isForumMember == false and permissions.isBannedFromForum == false %}
                    <a href="{{ path("rizzen_forum_join", {'subdomain': subdomain}) }}" class="btn btn-primary btn-block"><i class="fa fa-check"></i> Join this forum</a>
                {% else %}
                    <button data-toggle="modal" data-target="#joinGuild" tabindex="-1" class="btn btn-primary btn-block"><i class="fa fa-check"></i> Join this guild</button>

                    <div class="modal fade local-modal" id="joinGuild" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-shield"></i> Joining a guild</h4>
                                </div>

                                <hr class="no-margin-top"/>

                                <div class="modal-body">
                                    <p>
                                        To join this guild, the guild creator or an administrator must manually add you to it.
                                        <br/>
                                        <strong>Please, see the forum to know what you have to do to join it.</strong>
                                    </p>
                                    <p>
                                        If the administrators don't know how to add you to their guild, please copy and give them this link:
                                        <a href="{{ path('rizzen_guild_admin_user', {'subdomain': subdomain, 'userId': app.user.id}) }}">Forum page of {{ app.user.username }}</a>.
                                        <br/>
                                        You won't be able to access this page yourself because you're not an administrator.
                                    </p>
                                    <p>
                                        If you need more information, please check the <a href="{{ path('rizzen_main_faq') }}">FAQ</a>.
                                    </p>

                                </div>

                                <hr class="no-margin-bottom"/>

                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn"><i class="fa fa-close"></i> Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}

                <br/>
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                <div id="quickAccess" class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-bars"></i> Quick access</h3>
                    </div>

                    <div class="list-group">
                        <a href="{{ path('rizzen_forum_see', {'subdomain': guild.slug}) }}" class="list-group-item"><i class="fa fa-comments"></i> Forum</a>
                        <a href="{{ path('rizzen_blog_see', {'subdomain': guild.slug}) }}" class="list-group-item"><i class="fa fa-newspaper-o"></i> Blog</a>
                        {% if permissions.isGuildMember %}
                            <a href="{{ path('rizzen_calendar_see', {'subdomain': guild.slug}) }}" class="list-group-item"><i class="fa fa-calendar"></i> Calendar</a>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-clock-o"></i> Current time</h3>
                    </div>

                    <div id="dashboardClock" class="panel-body text-center">
                        <span id="clockDMY">
                            <small class="small-lighter">Loading...</small>
                        </span>
                        <hr class="no-margin"/>
                        <strong>
                            <span id="clockTime">
                                <small class="small-lighter">
                                    <i class="fa fa-spinner fa-spin"></i>
                                </small>
                            </span>
                        </strong>

                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-area-chart"></i> Stats</h3>
                    </div>

                    <ul class="list-group">
                        <li class="list-group-item">
                            <i class="fa fa-shield"></i> Guild members: <strong class="pull-right">{{ guild.members | length }}</strong>
                        </li>

                        <li class="list-group-item">
                            <i class="fa fa-comments"></i> Forum members: <strong class="pull-right">{{ guild.forum.members | length }}</strong>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bower_components/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('bower_components/moment-timezone/builds/moment-timezone-with-data-2010-2020.min.js') }}"></script>

    {% if permissions.isGuildMember %}
    <script src="{{ asset('bower_components/jQuery-linkify/dist/jquery.linkify.min.js') }}"></script>
    {% endif %}

    <script>
        var guildSubdomain = '{{ guild.slug }}', permissions = {{ permissionsJSON | raw }};
    </script>

    {% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <script>
        $(".msg-container").nanoScroller().nanoScroller({ scroll: 'bottom' });
        var timezone = '{{ app.user.timezone }}';
        moment.tz.setDefault(timezone);
    </script>
    {% else %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>
    <script>
        var timezone = jstz.determine().name();
        moment.tz.setDefault(timezone);
    </script>
    {% endif %}

    <script src="{{ asset('js/guildDashboard.js') }}?{{ version }}"></script>
    {% if app.request.cookies.has('guildtour-'~guild.slug) and guild.creator == app.user %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/css/bootstrap-tour.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/js/bootstrap-tour.min.js"></script>
        <script>
            var currentTour = 'dashboard';
        </script>
        <script src="{{ asset('js/grostTour.js') }}?{{ version }}"></script>
    {% endif %}
{% endblock %}

{% block customCSS %}
    {% if guild.customCSSEnabled %}
        <link rel="stylesheet" href="{{ asset(guild.customCSSFile) }}"/>
    {% endif %}
{% endblock %}
