{% extends '::base.html.twig' %}
{% block title %}{{ guild.title }} - Role creation - {% endblock %}

{% block TopBarButtons %}

    {% include '::administrationDropdown.html.twig' %}

{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb-arrow">
                <li><a href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}"><i class="fa fa-home"></i> {{ guild.title }}</a></li>
                <li><a href="{{ path('rizzen_guild_admin_dashboard', {'subdomain': subdomain}) }}"><i class="fa fa-cogs"></i> Administration Dashboard</a></li>
                <li><a href="{{ path("rizzen_guild_admin_roles", {'subdomain': subdomain}) }}"><i class="fa fa-wrench"></i> Roles overview</a></li>
                <li class="active"><span><i class="fa fa-pencil"></i> Role creation</span></li>
            </ol>
        </div>
    </div>

    <div class="row">

        {# Side navigation #}
        {% include '::administrationSideMenu.html.twig' with {'currentPage': 'rolesManagement'} %}

        <div class="col-md-9">
            <div class="row">
                {{ form_start(form, {"attr": {"class": "custom"}, "action": path('rizzen_guild_admin_createrole', {"subdomain": subdomain}) }) }}

                    {{ form_errors(form) }}

                    <div class="row">
                        <div class="col-md-12">
                            <label>Title:</label>
                            {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder': "Title of the role"} }) }}
                            <br/>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">

                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Permissions selection</h3>
                                </div>

                                <ul class="list-group list-permissions-form">

                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button type="button" onclick="roleCreationSetPermissions('off')" class="btn btn-danger btn-sm btn-block"><i class="fa fa-close"></i> No to all</button>
                                            </div>
                                            <div class="col-md-6">
                                                <button type="button" onclick="roleCreationSetPermissions('on')" class="btn btn-success btn-sm btn-block"><i class="fa fa-check"></i> Yes to all</button>
                                            </div>
                                        </div>

                                    </li>

                                    <li class="list-group-item white-background">
                                        <h4 class="no-margin">Forum management:</h4>
                                    </li>

                                    <li class="list-group-item">Can edit forum posts <span class="pull-right">{{ form_widget(form.canEditForumPost, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Yes', 'data-off': 'No', 'data-onstyle': 'success', 'data-offstyle': 'danger', 'data-size': 'mini'} }) }}</span></li>

                                    <li class="list-group-item">Can delete forum posts <span class="pull-right">{{ form_widget(form.canDeleteForumPost, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Yes', 'data-off': 'No', 'data-onstyle': 'success', 'data-offstyle': 'danger', 'data-size': 'mini'} }) }}</span></li>

                                    <li class="list-group-item">Can edit forum threads <span class="pull-right">{{ form_widget(form.canEditForumThread, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Yes', 'data-off': 'No', 'data-onstyle': 'success', 'data-offstyle': 'danger', 'data-size': 'mini'} }) }}</span></li>

                                    <li class="list-group-item">Can delete forum threads <span class="pull-right">{{ form_widget(form.canDeleteForumThread, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Yes', 'data-off': 'No', 'data-onstyle': 'success', 'data-offstyle': 'danger', 'data-size': 'mini'} }) }}</span></li>

                                    <li class="list-group-item">Can pin forum threads <span class="pull-right">{{ form_widget(form.canPinThread, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Yes', 'data-off': 'No', 'data-onstyle': 'success', 'data-offstyle': 'danger', 'data-size': 'mini'} }) }}</span></li>

                                    <li class="list-group-item">Can edit the categories* <span
                                                class="pull-right">{{ form_widget(form.canEditForum, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Yes', 'data-off': 'No', 'data-onstyle': 'success', 'data-offstyle': 'danger', 'data-size': 'mini'} }) }}</span>
                                    </li>


                                    <li class="list-group-item white-background">
                                        <h4 class="no-margin">Blog management:</h4>
                                    </li>

                                    <li class="list-group-item">Can write blog posts* <span class="pull-right">{{ form_widget(form.canWriteBlogPost, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Yes', 'data-off': 'No', 'data-onstyle': 'success', 'data-offstyle': 'danger', 'data-size': 'mini'} }) }}</span></li>

                                    <li class="list-group-item">Can edit blog posts* <span class="pull-right">{{ form_widget(form.canEditBlogPost, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Yes', 'data-off': 'No', 'data-onstyle': 'success', 'data-offstyle': 'danger', 'data-size': 'mini'} }) }}</span></li>


                                    <li class="list-group-item white-background">
                                        <h4 class="no-margin">Guild management:</h4>
                                    </li>

                                    <li class="list-group-item">Can see the administration dashboard <span class="pull-right">{{ form_widget(form.canSeeAdminPanel, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Yes', 'data-off': 'No', 'data-onstyle': 'success', 'data-offstyle': 'danger', 'data-size': 'mini'} }) }}</span></li>

                                    <li class="list-group-item">Can add users to the guild* <span
                                                class="pull-right">{{ form_widget(form.canAddToGuild, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Yes', 'data-off': 'No', 'data-onstyle': 'success', 'data-offstyle': 'danger', 'data-size': 'mini'} }) }}</span>
                                    </li>

                                    <li class="list-group-item">Can ban from the guild/forum* <span class="pull-right">{{ form_widget(form.canBan, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Yes', 'data-off': 'No', 'data-onstyle': 'success', 'data-offstyle': 'danger', 'data-size': 'mini'} }) }}</span></li>

                                    <li class="list-group-item">Can grant roles* <span
                                                class="pull-right">{{ form_widget(form.canModifyRank, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Yes', 'data-off': 'No', 'data-onstyle': 'success', 'data-offstyle': 'danger', 'data-size': 'mini'} }) }}</span>
                                    </li>

                                    <li class="list-group-item">Can create roles* <span class="pull-right">{{ form_widget(form.canCreateRole, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Yes', 'data-off': 'No', 'data-onstyle': 'success', 'data-offstyle': 'danger', 'data-size': 'mini'} }) }}</span></li>


                                    <li class="list-group-item white-background">
                                        <h4 class="no-margin">Event management:</h4>
                                    </li>

                                    <li class="list-group-item">Can create events <span class="pull-right">{{ form_widget(form.canCreateEvent, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Yes', 'data-off': 'No', 'data-onstyle': 'success', 'data-offstyle': 'danger', 'data-size': 'mini'} }) }}</span></li>

                                    <li class="list-group-item">Can manage events <span class="pull-right">{{ form_widget(form.canManageEvent, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Yes', 'data-off': 'No', 'data-onstyle': 'success', 'data-offstyle': 'danger', 'data-size': 'mini'} }) }}</span></li>


                                    <li class="list-group-item white-background">
                                        <h4 class="no-margin">Guild personalization:</h4>
                                    </li>

                                    <li class="list-group-item">Can edit the guild style* <span class="pull-right">{{ form_widget(form.canEditGuildStyle, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Yes', 'data-off': 'No', 'data-onstyle': 'success', 'data-offstyle': 'danger', 'data-size': 'mini'} }) }}</span></li>

                                    <li class="list-group-item">Can edit the guild logo* <span class="pull-right">{{ form_widget(form.canEditGuildLogo, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Yes', 'data-off': 'No', 'data-onstyle': 'success', 'data-offstyle': 'danger', 'data-size': 'mini'} }) }}</span></li>

                                </ul>
                            </div>
                        </div>


                        <div class="col-md-6">

                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Permissions information</h3>
                                </div>

                                <div class="panel-body">
                                    <p>

                                        <strong>Important: </strong> The permissions that have a * next to it will set "Can see the administration dashboard" to Yes once submitted.
                                    </p>
                                    <hr/>
                                    <h5>Tips & Information about the permissions:</h5>

                                    <ul>
                                        <li>You can assign multiple roles to the same user.</li>
                                        <li>The default roles: "Administrator", "Moderator" and "Writer" are not editable.</li>
                                        <li>Some titles cannot be used, for example: "Administrator" or "Moderator".
                                        </li>
                                    </ul>

                                </div>

                            </div>
                            {{ form_rest(form) }}
                            <button type="submit" class="btn btn-block btn-primary"><i class="fa fa-check"></i> Create the role</button>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}
