{% extends '::base.html.twig' %}
{% block title %}{{ guild.title }} - Custom Style - {% endblock %}

{% block TopBarButtons %}

    {% include '::administrationDropdown.html.twig' %}

{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb-arrow">
                <li><a href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}"><i class="fa fa-home"></i> {{ guild.title }}</a></li>
                <li><a href="{{ path('rizzen_guild_admin_dashboard', {'subdomain': subdomain}) }}"><i class="fa fa-cogs"></i> Administration Dashboard</a></li>
                <li class="active"><span><i class="fa fa-paint-brush"></i> Custom Style</span></li>
            </ol>
        </div>
    </div>

    <div class="row">

        {# Side navigation #}
        {% include '::administrationSideMenu.html.twig' with {'currentPage': 'customStyle'} %}

        <div class="col-md-9">

            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-info">
                        <i class="fa fa-info-circle"></i> <strong>Notes:</strong>
                        <br/>
                        You currently cannot use @import and url().
                        <br/>
                        <strong>Only the elements inside the .stylable div are affected by your CSS</strong>, except for the body tag, but please note that the body tag only accept background properties.
                        <br/>
                        You CSS must have a maximum of 10000 characters before being minified.
                        <br/>
                        Your custom CSS won't affect the administration pages.
                        <br/>
                        Our CSS is based on Bootstrap.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ form_start(form, {"attr": {"class": "custom"}, "action": path('rizzen_guild_admin_css', {'subdomain': subdomain}) }) }}

                        <div class="row">

                            <div class="col-md-12">

                                {{ form_label(form.css, 'Your custom CSS:') }}
                                {{ form_widget(form.css, { 'attr': {'class': 'form-control bugTextArea', 'placeholder': "Enter your CSS here"} }) }}
                                <br/>
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ form_label(form.enabled, 'Custom CSS Enabled:', {'label_attr': {'class': 'hidden'}}) }}
                                        {{ form_widget(form.enabled, { 'attr': {'data-toggle': 'toggle', 'data-on': '<i class="fa fa-check"></i> Custom CSS Enabled', 'data-off': '<i class="fa fa-close"></i> Custom CSS Disabled', 'data-onstyle': 'success', 'data-offstyle': 'danger'} }) }}
                                        {{ form_rest(form) }}
                                    </div>
                                    <div class="col-md-8">
                                        <button id="submitBtn" class="btn btn-primary btn-block" tabindex="-1" type="submit"><i class="fa fa-check"></i> Submit</button>
                                    </div>
                                </div>

                            </div>


                        </div>

                    {{ form_end(form) }}
                </div>
            </div>

            {% if css is not null and guild.customCSSEnabled %}
            <div class="row">
                <div class="col-md-12">
                    <hr/>

                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-paint-brush"></i> Unminified version of the CSS saved on our servers</h3>
                        </div>

                        <div class="panel-body">
                            <p id="cssWrap">
                                {{ css }}
                            </p>

                        </div>

                    </div>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% if css is not null and guild.customCSSEnabled %}
    <script src="{{ asset('js/jsbeautify.js') }}"></script>
    <script>
        var cssWrap = $('#cssWrap'),
            css = css_beautify(cssWrap.html());
            cssWrap.html(css.replace(/.stylable /g, ''));
    </script>
    {% endif %}
{% endblock %}
