{% extends '::base.html.twig' %}
{% block title %}{{ guild.title }} - Guild Logo - {% endblock %}

{% block TopBarButtons %}

    {% include '::administrationDropdown.html.twig' %}

{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb-arrow">
                <li><a href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}"><i class="fa fa-home"></i> {{ guild.title }}</a></li>
                <li><a href="{{ path('rizzen_guild_admin_dashboard', {'subdomain': subdomain}) }}"><i class="fa fa-cogs"></i> Administration Dashboard</a></li>
                <li class="active"><span><i class="fa fa-photo"></i> Guild Logo</span></li>
            </ol>
        </div>
    </div>

    <div class="row">

        {# Side navigation #}
        {% include '::administrationSideMenu.html.twig' with {'currentPage': 'guildLogo'} %}

        <div class="col-md-9">

            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-info">
                        <i class="fa fa-info-circle"></i> <strong>Notes:</strong>
                        <br/>
                        The logo will replace your guild name in the navbar.
                        <br/>
                        We recommend that you create a logo that has a height of 29px, and has a maximum width of 200px.
                    </div>
                </div>
            </div>

            <div class="row d-none" id="uploadSuccess">
                <div class="col-md-12">
                    <div class="alert alert-success">
                        <i class="fa fa-check"></i> Your logo has been successfully uploaded! You will need to refresh the page to see it.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ form_start(form, {"attr": {"class": "dropzone text-center", "id": "dropzoneLogo"}, "action": path('rizzen_guild_admin_logo_upload', {'subdomain': subdomain}) }) }}

                        <div class="fallback">
                            {{ form_label(form.file, 'Your custom logo:') }}
                            {{ form_widget(form.file, { 'attr': {'class': 'form-control'} }) }}
                            <input type="submit"/>
                        </div>

                        {{ form_rest(form) }}
                    {{ form_end(form) }}
                    <div id="uploadTemplate" class="d-none">
                        <div class="dz-preview dz-file-preview">

                            <img data-dz-thumbnail />

                            <div class="dz-details">

                            </div>

                            <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                            <div class="dz-success-mark"><i class="fa fa-check screenshot-upload-result screenshot-upload-success"></i></div>
                            <div class="dz-error-mark"><i class="fa fa-close screenshot-upload-result screenshot-upload-error"></i></div>
                            <div class="dz-error-message"><span data-dz-errormessage></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div id="toggleLogo"{% if guild.customLogoEnabled == false and guild.guildLogo is null %} class="d-none"{% endif %}>
                        <div id="logoDisable"{% if guild.customLogoEnabled == false %} class="d-none"{% endif %}>
                            <hr/>
                            <a class="btn btn-block btn-danger" href="{{ path('rizzen_guild_admin_logo_toggle', {'subdomain': subdomain, 'action': 'disable'}) }}"><i class="fa fa-close"></i> Disable the guild logo</a>
                        </div>

                        <div id="logoEnable"{% if guild.customLogoEnabled and guild.guildLogo is not null %} class="d-none"{% endif %}>
                            <hr/>
                            <a class="btn btn-block btn-success" href="{{ path('rizzen_guild_admin_logo_toggle', {'subdomain': subdomain, 'action': 'enable'}) }}"><i class="fa fa-check"></i> Re-enable the guild logo</a>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <link rel="stylesheet" href="{{ asset('bower_components/dropzone/dist/min/dropzone.min.css') }}"/>
    <script src="{{ asset('bower_components/dropzone/dist/min/dropzone.min.js') }}"></script>
    <script>
        var previewTemplate = $('#uploadTemplate').html();
        Dropzone.options.dropzoneLogo = {
            paramName: "grost_guild_logo[file]",
            maxFilesize: 0.5,
            previewTemplate: previewTemplate,
            thumbnailHeight: 100,
            thumbnailWidth: 100,
            dictDefaultMessage: '<i class="fa fa-cloud-upload icon-upload"></i><p class="lead no-margin-bottom">Drop your logo here to upload it</p><small class="small-lighter">Or click me to select the logo manually</small>',
            init: function() {
                this.on("success", function(file, response) { guildLogoUploaded(response) });
            }
        };
    </script>
{% endblock %}
