{% extends '::base.html.twig' %}
{% block title %}{{ guild.title }} - Administration - {% endblock %}

{% block TopBarButtons %}

    {% include '::administrationDropdown.html.twig' %}

{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb-arrow">
                <li><a href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}"><i class="fa fa-home"></i> {{ guild.title }}</a></li>
                <li class="active"><span><i class="fa fa-cogs"></i> Administration Dashboard</span></li>
            </ol>
        </div>
    </div>

    <div class="row">

        {# Side navigation #}
        {% include '::administrationSideMenu.html.twig' with {'currentPage': 'adminDashboard'} %}

        <div class="col-md-9">

            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-primary forum-list-panel">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-users"></i> Members count</h3>
                        </div>

                        <div class="panel-body text-center">
                            <h3 class="no-margin-top">{{ guild.members | length }}</h3>
                            <hr/>
                            <strong>Guild Members</strong>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="panel panel-primary forum-list-panel">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-wrench"></i> Roles count</h3>
                        </div>

                        <div class="panel-body text-center">
                            <h3 class="no-margin-top">{{ guild.roles | length }}</h3>
                            <hr/>
                            <strong>Roles</strong>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="panel panel-primary forum-list-panel">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-clock-o"></i> Guild created</h3>
                        </div>

                        <div class="panel-body text-center">
                            <h3 class="no-margin-top">{{ time_diff(guild.creationDate) }}</h3>
                            <hr/>
                            <strong>Time since guild creation</strong>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {% if app.request.cookies.has('guildtour-'~guild.slug) and guild.creator == app.user %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/css/bootstrap-tour.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/js/bootstrap-tour.min.js"></script>
        <script>
            var currentTour = 'admin', guildSubdomain = '{{ guild.slug }}';
        </script>
        <script src="{{ asset('js/grostTour.js') }}"></script>
    {% endif %}
{% endblock %}
