{% extends '::base.html.twig' %}
{% block title %}{{ guild.title }} - Rename - {% endblock %}

{% block TopBarButtons %}

    {% include '::administrationDropdown.html.twig' %}

{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb-arrow">
                <li><a href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}"><i class="fa fa-home"></i> {{ guild.title }}</a></li>
                <li><a href="{{ path('rizzen_guild_admin_dashboard', {'subdomain': subdomain}) }}"><i class="fa fa-cogs"></i> Administration Dashboard</a></li>
                <li class="active"><span><i class="fa fa-shield"></i> Rename the guild</span></li>
            </ol>
        </div>
    </div>

    <div class="row">

        {# Side navigation #}
        {% include '::administrationSideMenu.html.twig' with {'currentPage': 'guildName'} %}

        <div class="col-md-9">

            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-info">
                        <i class="fa fa-info-circle"></i> <strong>Important:</strong> Please note that renaming your guild will not modify the URL, it will still be:
                        <a href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}">{{ url('rizzen_guild_see', {'subdomain': subdomain}) }}</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ form_start(form, {"action": path('rizzen_guild_admin_rename', {'subdomain': subdomain}) }) }}

                        <div class="row">

                            <div class="col-md-12">
                                <div class="input-group">

                                    {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder': "New title of your guild", "pattern": ".{3,40}"} }) }}

                                    {{ form_rest(form) }}

                                    <div class="input-group-btn">
                                        <button id="submitBtn" class="btn btn-primary" tabindex="-1" type="submit"><i class="fa fa-check"></i> Submit & Rename the guild</button>
                                    </div>
                                </div>

                                <small class="small-lighter">The guild name must contain at least 3 characters and a maximum of 40.</small>

                            </div>

                        </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
