{% extends '::base.html.twig' %}
{% block title %}{{ guild.title }} - Roles overview - {% endblock %}

{% block TopBarButtons %}

    {% include '::administrationDropdown.html.twig' %}

{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb-arrow">
                <li><a href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}"><i class="fa fa-home"></i> {{ guild.title }}</a></li>
                <li><a href="#"><i class="fa fa-cogs"></i> Administration Dashboard</a></li>
                <li class="active"><span><i class="fa fa-wrench"></i> Roles overview</span></li>
            </ol>
        </div>
    </div>

    <div class="row">

        {# Side navigation #}
        {% include '::administrationSideMenu.html.twig' with {'currentPage': 'rolesManagement'} %}

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-block btn-primary" href="{{ path('rizzen_guild_admin_createrole', {'subdomain': subdomain}) }}"><i class="fa fa-plus-square"></i> Create a new role</a>
                    <br/>
                </div>
            </div>
            <div class="row">
                {% for role in guild.roles %}
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ role.title }} {% if role.roleEditable == true %}<span class="pull-right"><a class="panel-title-a" href="{{ path('rizzen_guild_admin_editrole', {'subdomain': subdomain, 'slug': role.slug}) }}"><strong><i class="fa fa-cog"></i> Edit</strong></a></span>{% endif %}</h3>
                        </div>

                        <ul class="list-group">

                            {% if role.canEditForumPost %}
                                <li class="list-group-item roles-list-can">Can edit forum posts <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                            {% else %}
                                <li class="list-group-item roles-list-cant">Can edit forum posts <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                            {% endif %}

                            {% if role.canDeleteForumPost %}
                                <li class="list-group-item roles-list-can">Can delete forum posts <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                            {% else %}
                                <li class="list-group-item roles-list-cant">Can delete forum posts <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                            {% endif %}

                            {% if role.canEditForumThread %}
                                <li class="list-group-item roles-list-can">Can edit forum threads <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                            {% else %}
                                <li class="list-group-item roles-list-cant">Can edit forum threads <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                            {% endif %}

                            {% if role.canDeleteForumThread %}
                                <li class="list-group-item roles-list-can">Can delete forum threads <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                            {% else %}
                                <li class="list-group-item roles-list-cant">Can delete forum threads <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                            {% endif %}

                            {% if role.canPinThread %}
                                <li class="list-group-item roles-list-can">Can pin forum threads <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                            {% else %}
                                <li class="list-group-item roles-list-cant">Can pin forum threads <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                            {% endif %}

                            {% if role.canEditForum %}
                                <li class="list-group-item roles-list-can">Can edit the forum categories <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                            {% else %}
                                <li class="list-group-item roles-list-cant">Can edit the forum categories <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                            {% endif %}

                            {% if role.canWriteBlogPost %}
                                <li class="list-group-item roles-list-can">Can write blog posts <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                            {% else %}
                                <li class="list-group-item roles-list-cant">Can write blog posts <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                            {% endif %}

                            {% if role.canEditBlogPost %}
                                <li class="list-group-item roles-list-can">Can edit blog posts <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                            {% else %}
                                <li class="list-group-item roles-list-cant">Can edit blog posts <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                            {% endif %}

                            {% if role.canSeeAdminPanel %}
                                <li class="list-group-item roles-list-can">Can see the administration dashboard <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                            {% else %}
                                <li class="list-group-item roles-list-cant">Can see the administration dashboard <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                            {% endif %}

                            {% if role.canAddToGuild %}
                                <li class="list-group-item roles-list-can">Can add to guild <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                            {% else %}
                                <li class="list-group-item roles-list-cant">Can add to guild <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                            {% endif %}

                            {% if role.canBan %}
                                <li class="list-group-item roles-list-can">Can ban from the guild/forum <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                            {% else %}
                                <li class="list-group-item roles-list-cant">Can ban from the guild/forum <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                            {% endif %}

                            {% if role.canModifyRank %}
                                <li class="list-group-item roles-list-can">Can modify the users roles <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                            {% else %}
                                <li class="list-group-item roles-list-cant">Can modify the users roles <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                            {% endif %}

                            {% if role.canCreateRole %}
                                <li class="list-group-item roles-list-can">Can create roles <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                            {% else %}
                                <li class="list-group-item roles-list-cant">Can create roles <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                            {% endif %}

                            {% if role.canCreateEvent %}
                                <li class="list-group-item roles-list-can">Can create events <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                            {% else %}
                                <li class="list-group-item roles-list-cant">Can create events <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                            {% endif %}

                            {% if role.canManageEvent %}
                                <li class="list-group-item roles-list-can">Can manage events <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                            {% else %}
                                <li class="list-group-item roles-list-cant">Can manage events <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                            {% endif %}

                            {% if role.canEditGuildStyle %}
                                <li class="list-group-item roles-list-can">Can edit the guild style <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                            {% else %}
                                <li class="list-group-item roles-list-cant">Can edit the guild style <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                            {% endif %}

                            {% if role.canEditGuildLogo %}
                                <li class="list-group-item roles-list-can">Can edit the guild logo <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                            {% else %}
                                <li class="list-group-item roles-list-cant">Can edit the guild logo <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>


{% endblock %}
