{% extends '::base.html.twig' %}
{% block title %}{{ guild.title }} - Users - {% endblock %}

{% block TopBarButtons %}

    {% include '::administrationDropdown.html.twig' %}

{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb-arrow">
                <li><a href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}"><i class="fa fa-home"></i> {{ guild.title }}</a></li>
                <li><a href="{{ path('rizzen_guild_admin_dashboard', {'subdomain': subdomain}) }}"><i class="fa fa-cogs"></i> Administration Dashboard</a></li>
                <li class="active"><span><i class="fa fa-users"></i> Users</span></li>
            </ol>
        </div>
    </div>

    <div class="row">

        {# Side navigation #}
        {% include '::administrationSideMenu.html.twig' with {'currentPage': 'usersManagement'} %}

        <div class="col-md-9">

            <div class="row">

                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Guild members <span class="pull-right">{{ guild.members|length }} user{% if guild.members|length > 1 %}s{% endif %}</span></h3>
                        </div>

                        <div class="list-group list-admin-user">
                            {% for user in guild.members %}
                                <a href="{{ path('rizzen_guild_admin_user', {'subdomain': subdomain, 'userId': user.id}) }}" class="list-group-item"><strong>{{ user.username }}</strong></a>
                            {% endfor %}
                        </div>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Forum members <span class="pull-right">{{ guild.forum.members|length - guild.members|length }} user{% if guild.forum.members|length - guild.members|length > 1 %}s{% endif %}</h3>
                        </div>

                        <div class="list-group list-admin-user">
                            {% for user in guild.forum.members if user not in guild.members %}
                                <a href="{{ path('rizzen_guild_admin_user', {'subdomain': subdomain, 'userId': user.id}) }}" class="list-group-item"><strong>{{ user.username }}</strong></a>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
