{% extends '::base.html.twig' %}
{% block title %}{{ guild.title }} - Users management - {{ user.username }} - {% endblock %}

{% block TopBarButtons %}

    {% include '::administrationDropdown.html.twig' %}

{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb breadcrumb-arrow">
            <li><a href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}"><i class="fa fa-home"></i> {{ guild.title }}</a></li>
            <li><a href="{{ path('rizzen_guild_admin_dashboard', {'subdomain': subdomain}) }}"><i class="fa fa-cogs"></i> Administration Dashboard</a></li>
            <li><a href="{{ path('rizzen_guild_admin_users', {'subdomain': subdomain}) }}"><i class="fa fa-users"></i> Users</a></li>
            <li class="active"><span><i class="fa fa-user"></i> {{ user.username }}</span></li>
        </ol>
    </div>
</div>

<div class="row">

    {# Side navigation #}
    {% include '::administrationSideMenu.html.twig' with {'currentPage': 'usersManagement'} %}

    <div class="col-md-9">

        <div class="row">

            <div class="col-md-6">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">General information <span class="pull-right"><a class="panel-title-a" href="{{ path('rizzen_profile_see', {'username': user.username}) }}"><i class="fa fa-user"></i> Profile page</span></a></h3>
                    </div>

                    <div class="panel-body">
                        <div class="text-center">
                            <img class="admin-user-avatar img-rounded" src="{{ user.avatar.webPath | imagine_filter('avatar_100px') }}" alt="{{ user.username }} Avatar"/>
                            <br/>
                            <h3 class="admin-user-username">{{ user.username }}</h3>
                            {% if user == guild.creator %}
                                <span class="label label-primary"><i class="fa fa-star"></i> Guild creator</span>
                            {% endif %}
                            <hr/>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="admin-btnlike-box">
                                        {% if guild in user.guilds %}
                                            <button id="inGuildIndicator" class="btn btn-block btn-success">Guild Member <i class="fa fa-check"></i></button>
                                        {% else %}
                                            <button id="inGuildIndicator" class="btn btn-block btn-danger">Guild Member <i class="fa fa-close"></i></button>
                                        {% endif %}

                                        <button id="guildBannedIndicator"
                                                class="btn btn-danger btn-xs btn-block"
                                                {% if ban.bannedUser.bannedFromGuild == false %}style="display: none"{% endif %}
                                                data-toggle="modal"
                                                data-target="#manageBanModal"><i class="fa fa-warning"></i> Banned</button>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="admin-btnlike-box">

                                        {% if guild.forum in user.forums %}
                                            <button id="inForumIndicator" class="btn btn-block btn-success"><i class="fa fa-check"></i> Forum Member</button>
                                        {% else %}
                                            <button id="inForumIndicator" class="btn btn-block btn-danger"><i class="fa fa-close"></i> Forum Member</button>
                                        {% endif %}

                                        <button id="forumBannedIndicator"
                                                class="btn btn-danger btn-xs btn-block"
                                                {% if ban.bannedUser.bannedFromForum == false %}style="display: none"{% endif %}
                                                data-toggle="modal"
                                                data-target="#manageBanModal"><i class="fa fa-warning"></i> Banned</button>
                                    </div>
                                </div>
                            </div>

                            {% if permissions.canBan == true %}
                            <div id="manageBanButton"
                                 {% if ban.hasActiveBan == false %}style="display: none"{% endif %}>
                                <br/>
                                <button class="btn btn-primary btn-block"
                                        data-toggle="modal"
                                        data-target="#manageBanModal"><i class="fa fa-wrench"></i> Manage Bans</button>
                            </div>
                            {% endif %}
                            
                        </div>
                        <hr/>
                        <h4 class="text-center no-margin-bottom">Current roles:</h4>
                    </div>

                    <table class="table table-striped no-bottom-border-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Role name</th>
                                <th>Has since</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody id="roleTableTbody">

                        {# Create an empty array, we'll use it to check if the user has a role already bellow.
                           We need it to be an array to merge the roles the user has in it, since we need to know it in the role assignement modal. #}

                        {% set currentRoles = [] %}
                        {% for assignment in user.rolesAssigned %}

                            <tr id="roleRow{{ assignment.role.id }}">
                                <th>{{ loop.index }}</th>
                                <td>{{ assignment.role.title }}</td>
                                <td>{{ assignment.date|date('d/m/Y') }}</td>
                                <td class="btn-xs-td"><button type="button"
                                                              class="btn btn-xs btn-danger {% if assignment.isRemovable == false %}disabled{% endif %}"
                                                              data-toggle="modal"
                                                              data-target="#removeRoleModal"
                                                              data-role="{{ assignment.role.id }}"
                                                              data-title="{{ assignment.role.title }}"><i class="fa fa-close"></i> Remove role</button></td>
                            </tr>

                            {% set currentRoles = currentRoles|merge([assignment.role]) %}

                        {% endfor %}

                        </tbody>

                    </table>

                    <div id="btnContainer" class="panel-body">

                        <p id="noRolesText" class="text-center" {% if currentRoles is not empty %}style="display: none;"{% endif %}><em>{{ user.username }} does not have any role.</em></p>

                        {% if ban.bannedUser.bannedFromForum == false %}
                            <button class="btn btn-block btn-primary" data-toggle="modal" data-target="#assignRoleModal"><i class="fa fa-plus-square"></i> Assign a new role</button>
                        {% else %}
                            <button class="btn btn-block disabled" data-toggle="modal" data-target="#assignRoleModal"><i class="fa fa-plus-square"></i> Assign a new role</button>
                        {% endif %}


                        <hr/>
                        <h4 class="text-center"></h4>

                        {% if guild in user.guilds or ban.bannedUser.bannedFromForum == true %}
                            <button data-toggle="modal" data-target="#addToGuildModal" id="addToGuild" class="btn btn-block disabled"><i class="fa fa-check"></i> Add to the guild</button>
                        {% else %}
                            <button data-toggle="modal" data-target="#addToGuildModal" id="addToGuild" class="btn btn-block btn-primary"><i class="fa fa-check"></i> Add to the guild</button>
                        {% endif %}

                        {% if user is same as(guild.creator) or user not in guild.members %}
                            <button data-toggle="modal" data-target="#banGuildModal" id="banFromGuild" class="btn btn-block disabled"><i class="fa fa-close"></i> Ban from the guild</button>
                        {% else %}
                            <button data-toggle="modal" data-target="#banGuildModal" id="banFromGuild" class="btn btn-block btn-danger"><i class="fa fa-close"></i> Ban from the guild</button>
                        {% endif %}

                        {% if user is same as(guild.creator) or user not in guild.forum.members %}
                            <button data-toggle="modal" data-target="#banForumModal" id="banFromForum" class="btn btn-block disabled"><i class="fa fa-close"></i> Ban from the forum</button>
                        {% else %}
                            <button data-toggle="modal" data-target="#banForumModal" id="banFromForum" class="btn btn-block btn-danger"><i class="fa fa-close"></i> Ban from the forum</button>
                        {% endif %}

                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">User permissions</h3>
                    </div>
                    <ul class="list-group">

                        {% if userPermissions.canEditForumPost %}
                            <li id="can_edit_forum_post" class="list-group-item roles-list-can">Can edit forum posts <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                        {% else %}
                            <li id="can_edit_forum_post" class="list-group-item roles-list-cant">Can edit forum posts <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                        {% endif %}

                        {% if userPermissions.canDeleteForumPost %}
                            <li id="can_delete_forum_post" class="list-group-item roles-list-can">Can delete forum posts <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                        {% else %}
                            <li id="can_delete_forum_post" class="list-group-item roles-list-cant">Can delete forum posts <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                        {% endif %}

                        {% if userPermissions.canEditForumThread %}
                            <li id="can_edit_forum_thread" class="list-group-item roles-list-can">Can edit forum threads <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                        {% else %}
                            <li id="can_edit_forum_thread" class="list-group-item roles-list-cant">Can edit forum threads <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                        {% endif %}

                        {% if userPermissions.canDeleteForumThread %}
                            <li id="can_delete_forum_thread" class="list-group-item roles-list-can">Can delete forum threads <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                        {% else %}
                            <li id="can_delete_forum_thread" class="list-group-item roles-list-cant">Can delete forum threads <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                        {% endif %}

                        {% if userPermissions.canPinThread %}
                            <li id="can_pin_thread" class="list-group-item roles-list-can">Can pin forum threads <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                        {% else %}
                            <li id="can_pin_thread" class="list-group-item roles-list-cant">Can pin forum threads <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                        {% endif %}

                        {% if userPermissions.canEditForum %}
                            <li id="can_edit_forum" class="list-group-item roles-list-can">Can edit the forum categories <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                        {% else %}
                            <li id="can_edit_forum" class="list-group-item roles-list-cant">Can edit the forum categories <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                        {% endif %}

                        {% if userPermissions.canWriteBlogPost %}
                            <li id="can_write_blog_post" class="list-group-item roles-list-can">Can write blog posts <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                        {% else %}
                            <li id="can_write_blog_post" class="list-group-item roles-list-cant">Can write blog posts <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                        {% endif %}

                        {% if userPermissions.canEditBlogPost %}
                            <li id="can_edit_blog_post" class="list-group-item roles-list-can">Can edit blog posts <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                        {% else %}
                            <li id="can_edit_blog_post" class="list-group-item roles-list-cant">Can edit blog posts <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                        {% endif %}

                        {% if userPermissions.canSeeAdminPanel %}
                            <li id="can_see_admin_panel" class="list-group-item roles-list-can">Can see the administration dashboard <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                        {% else %}
                            <li id="can_see_admin_panel" class="list-group-item roles-list-cant">Can see the administration dashboard <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                        {% endif %}

                        {% if userPermissions.canAddToGuild %}
                            <li id="can_add_to_guild" class="list-group-item roles-list-can">Can add to guild <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                        {% else %}
                            <li id="can_add_to_guild" class="list-group-item roles-list-cant">Can add to guild <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                        {% endif %}

                        {% if userPermissions.canBan %}
                            <li id="can_ban" class="list-group-item roles-list-can">Can ban from the guild/forum <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                        {% else %}
                            <li id="can_ban" class="list-group-item roles-list-cant">Can ban from the guild/forum <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                        {% endif %}

                        {% if userPermissions.canModifyRank %}
                            <li id="can_modify_rank" class="list-group-item roles-list-can">Can modify the users roles <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                        {% else %}
                            <li id="can_modify_rank" class="list-group-item roles-list-cant">Can modify the users roles <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                        {% endif %}

                        {% if userPermissions.canCreateRole %}
                            <li id="can_create_role" class="list-group-item roles-list-can">Can create roles <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                        {% else %}
                            <li id="can_create_role" class="list-group-item roles-list-cant">Can create roles <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                        {% endif %}

                        {% if userPermissions.canCreateEvent %}
                            <li id="can_create_event" class="list-group-item roles-list-can">Can create events <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                        {% else %}
                            <li id="can_create_event" class="list-group-item roles-list-cant">Can create events <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                        {% endif %}

                        {% if userPermissions.canManageEvent %}
                            <li id="can_manage_event" class="list-group-item roles-list-can">Can manage events <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                        {% else %}
                            <li id="can_manage_event" class="list-group-item roles-list-cant">Can manage events <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                        {% endif %}

                        {% if userPermissions.canEditGuildStyle %}
                            <li id="can_edit_guild_style" class="list-group-item roles-list-can">Can edit the guild style <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                        {% else %}
                            <li id="can_edit_guild_style" class="list-group-item roles-list-cant">Can edit the guild style <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                        {% endif %}

                        {% if userPermissions.canEditGuildLogo %}
                            <li id="can_edit_guild_logo" class="list-group-item roles-list-can">Can edit the guild logo <span class="pull-right"><i class="fa fa-check roles-list-icon"></i></span></li>
                        {% else %}
                            <li id="can_edit_guild_logo" class="list-group-item roles-list-cant">Can edit the guild logo <span class="pull-right"><i class="fa fa-close roles-list-icon"></i></span></li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade local-modal" id="assignRoleModal" tabindex="-1" role="dialog" aria-labelledby="assignRoleModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Assign a new role</h4>
            </div>
            <div class="modal-body">
                <hr class="no-margin-top"/>

                <div id="roleModalAlert">

                </div>

                <p>Select bellow the role new role you wish to assign to {{ user.username }}, then click confirm.</p>

                <br/>

                <p>Role currently selected: <span id="userNewRoleSelected"><em>No role has been selected yet.</em></span></p>

                <hr/>

                <h4>Roles available:</h4>
                <div class="row userRolesRow">

                    {% for role in guild.roles %}
                        {% if role in currentRoles %}
                        <div class="col-md-3" style="display: none;">
                            <button type="button"
                                    id="roleBtn{{ role.id }}"
                                    onclick="userManagementAssignRoleSelect('#roleBtn{{ role.id }}')"
                                    class="btn btn-block btn-info"
                                    data-title="{{ role.title }}"
                                    data-user="{{ user.id }}"
                                    data-role="{{ role.id }}">{{ role.title }}</button>

                        </div>
                        {% else %}
                        <div class="col-md-3">
                            <button type="button"
                                    id="roleBtn{{ role.id }}"
                                    onclick="userManagementAssignRoleSelect('#roleBtn{{ role.id }}')"
                                    class="btn btn-block btn-info"
                                    data-title="{{ role.title }}"
                                    data-user="{{ user.id }}"
                                    data-role="{{ role.id }}">{{ role.title }}</button>

                        </div>
                        {% endif %}

                    {% endfor %}
                </div>

                <hr/>

                <div id="roleNoneSelected" class="alert alert-danger" role="alert" style="display: none;"><strong><i class="fa fa-warning"></i> Error:</strong> You need to select a role to assign.</div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                <button type="button"
                        class="btn btn-primary"
                        id="roleBtnSubmit"
                        onclick="userManagementAssignRoleSubmit()"
                        data-title=""
                        data-user=""
                        data-role=""
                        ><i class="fa fa-check"></i> Confirm and assign the role</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade local-modal" id="removeRoleModal" tabindex="-1" role="dialog" aria-labelledby="removeRoleModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <hr class="no-margin-top"/>

                <div id="removeRoleAlert">


                </div>

                <strong>You're about to remove the role "<span id="removeRoleName"></span>" from the user "{{ user.username }}", are you sure?</strong>
                <br/><br/>
                <small>You will be able to give that role back to the user after removing it.</small>

                <hr/>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                <button type="button"
                        class="btn btn-primary"
                        id="removeRoleBtnConfirm"
                        onclick="removeRoleProceed()"
                        data-user="{{ user.id }}"
                        data-role=""><i class="fa fa-check"></i> Proceed and remove the role</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade local-modal" id="banGuildModal" tabindex="-1" role="dialog" aria-labelledby="banGuildModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Banning {{ user.username }} from the guild</h4>
            </div>
            <div class="modal-body">
                <hr class="no-margin-top"/>

                <p>
                    You're about to ban the user <strong>"{{ user.username }}"</strong> from the guild, note, <strong>this will only ban him from the the guild</strong>, not the forum.
                    <br/><br/>
                    If you wish to ban him from the forum and the guild at the same time, use the "<a class="no-href" data-dismiss="modal" data-toggle="modal" data-target="#banForumModal">Ban from the forum</a>" link to do it all at once.
                    <br/><br/>
                    Once the user get banned, you will be able to add him in the guild again, you'll need to remove him from the banned users list first.
                    <br/><br/>
                    After being banned, the user will still be visible in the events he registered in, however he won't be able to access them anymore.
                </p>

                <hr/>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                <button type="button"
                        id="banGuildConfirmButton"
                        class="btn btn-primary"
                        onclick="userBanGuild()"
                        data-url="{{ path('rizzen_guild_admin_user_ban_guild', {'subdomain': subdomain, 'userId': user.id}) }}"><i class="fa fa-check"></i> Proceed and ban the user</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade local-modal" id="banForumModal" tabindex="-1" role="dialog" aria-labelledby="banForumModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Banning {{ user.username }} from the forum</h4>
            </div>
            <div class="modal-body">
                <hr class="no-margin-top"/>

                <p>
                    You're about to ban the user <strong>"{{ user.username }}"</strong> from the forum.
                    <br/><br/>
                    <strong>If the user is currently in the guild, he will be ban from it too.</strong>
                    <br/><br/>
                    Once the user get banned, he won't be able to join back until you remove him from the banned users list.
                    <br/><br/>
                    You can read more about what will happen if the user get banned from the guild by clicking "<a class="no-href" data-dismiss="modal" data-toggle="modal" data-target="#banGuildModal">Ban from the guild</a>".
                </p>

                <hr/>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                <button type="button"
                        class="btn btn-primary"
                        id="banForumConfirmButton"
                        onclick="userBanForum()"
                        data-url="{{ path('rizzen_guild_admin_user_ban_forum', {'subdomain': subdomain, 'userId': user.id}) }}"><i class="fa fa-check"></i> Proceed and ban the user</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade local-modal" id="manageBanModal" tabindex="-1" role="dialog" aria-labelledby="manageBanModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Unbanning {{ user.username }} </h4>
            </div>
            <div class="modal-body">
                <hr class="no-margin-top"/>

                <p>
                    You're about to unban this user, you will need to chose if you want to unban him from the guild, the forum or both.
                    <br/><br/>
                    <strong>When unbanning someone from the forum, note that that user will still be banned from the guild,</strong> you can of course unban him from the guild
                    by clicking the "Unban from guild" button, or click "Unban from both" if you wish to remove the two bans at the same time.
                </p>

                <hr/>

                <div class="row" id="unbanButtonWrap">
                    <div class="col-md-4">
                        <button type="button"
                                id="unbanBoth"
                                class="btn btn-primary btn-block{% if ban.bannedUser.bannedFromForum == false or ban.bannedUser.bannedFromGuild == false %} disabled{% endif %}"
                                data-url="{{ path('rizzen_guild_admin_user_unban', {'subdomain': subdomain, 'userId': user.id, 'banToUpdate': 'both'}) }}"
                                onclick="adminUnbanUser('#unbanBoth')"><i class="fa fa-warning"></i> Unban from both</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button"
                                id="unbanForum"
                                class="btn btn-primary btn-block{% if ban.bannedUser.bannedFromForum == false %} disabled{% endif %}"
                                data-url="{{ path('rizzen_guild_admin_user_unban', {'subdomain': subdomain, 'userId': user.id, 'banToUpdate': 'forum'}) }}"
                                onclick="adminUnbanUser('#unbanForum')"><i class="fa fa-warning"></i> Unban from forum</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button"
                                id="unbanGuild"
                                class="btn btn-primary btn-block{% if ban.bannedUser.bannedFromGuild == false %} disabled{% endif %}"
                                data-url="{{ path('rizzen_guild_admin_user_unban', {'subdomain': subdomain, 'userId': user.id, 'banToUpdate': 'guild'}) }}"
                                onclick="adminUnbanUser('#unbanGuild')"><i class="fa fa-warning"></i> Unban from guild</button>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-block" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade local-modal" id="addToGuildModal" tabindex="-1" role="dialog" aria-labelledby="addToGuildModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Adding "{{ user.username }}" to the guild</h4>
            </div>
            <div class="modal-body">
                <hr class="no-margin-top"/>

                <div id="userAddedAlert" class="alert alert-success" role="alert" style="display: none;"><strong><i class="fa fa-check"></i> Success:</strong> {{ user.username }} is now a member of the guild!</div>

                <p>
                    You're about to add <strong>"{{ user.username }}"</strong> to the guild.
                    <br/><br/>
                    <strong>Note:</strong> You will be able to ban him from the guild if your permissions let you do so right after adding the user to the guild.
                </p>

            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                        <button type="button"
                                class="btn btn-primary"
                                id="addToGuildButton"
                                onclick="addUserToGuild()"
                                data-url="{{ path('rizzen_guild_admin_add_user', {'subdomain': subdomain, 'userId': user.id}) }}"><i class="fa fa-check"></i> Add the user to the guild</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
