{% extends '::base.html.twig' %}
{% block title %}{{ guild.title }} - Users Kicked - {% endblock %}

{% block TopBarButtons %}

    {% include '::administrationDropdown.html.twig' %}

{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb breadcrumb-arrow">
            <li><a href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}"><i class="fa fa-home"></i> {{ guild.title }}</a></li>
            <li><a href="{{ path('rizzen_guild_admin_dashboard', {'subdomain': subdomain}) }}"><i class="fa fa-cogs"></i> Administration Dashboard</a></li>
            <li class="active"><span><i class="fa fa-gavel"></i> Users Banned</span></li>
        </ol>
    </div>
</div>

<div class="row">

    {# Side navigation #}
    {% include '::administrationSideMenu.html.twig' with {'currentPage': 'usersBanned'} %}

    <div class="col-md-9">

        <div class="row">

            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">Users banned from the guild</h4>
                    </div>

                    <div class="panel-body">
                        <h3 class="no-margin-top">Note:</h3>
                        <p>
                            While being banned from the guild, the user cannot join the guild back at all.
                        </p>
                    </div>

                    <div class="list-group bannedUsersList">

                        {% for userBanned in guild.bannedUsers if userBanned.bannedFromGuild == true and userBanned.bannedFromForum == false %}

                            <li class="list-group-item" id="guild-user-{{ userBanned.user.id }}">
                                <h4 class="no-margin">{{ userBanned.user.username }}</h4>
                                <br/>
                                Banned since: <strong>{{ userBanned.date|date() }}</strong>
                                <br/>
                                {{ userBanned.user.username }} was banned out by: <strong>{{ userBanned.guildBanIssuedBy.username }}</strong>


                                <br/><br/>
                                <a href="{{ path('rizzen_guild_admin_user', {'subdomain': subdomain, 'userId': userBanned.user.id}) }}" class="btn btn-primary btn-block"><i class="fa fa-user"></i> See {{ userBanned.user.username }} admin profile</a>

                            </li>

                        {% endfor %}

                    </div>

                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Users banned from the forum and guild</h3>
                    </div>

                    <div class="panel-body">
                        <h3 class="no-margin-top">Note:</h3>
                        <p>
                            When banned from the forum, the user get banned from the guild at the same time.
                        </p>
                    </div>

                    <div class="list-group bannedUList">

                        {% for userBanned in guild.bannedUsers if userBanned.BannedFromForum == true %}

                            <li class="list-group-item" id="forum-user-{{ userBanned.user.id }}">
                                <h4 class="no-margin">{{ userBanned.user.username }}</h4>
                                <br/>
                                Banned since: <strong>{{ userBanned.date|date() }}</strong>
                                <br/>
                                {{ userBanned.user.username }} was Banned out by: <strong>{{ userBanned.guildBanIssuedBy.username }}</strong>

                                <br/><br/>
                                <a href="{{ path('rizzen_guild_admin_user', {'subdomain': subdomain, 'userId': userBanned.user.id}) }}" class="btn btn-primary btn-block"><i class="fa fa-user"></i> See {{ userBanned.user.username }} admin profile</a>

                            </li>

                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
