{% extends '::base.html.twig' %}
{% block title %}{{ profile.username }} - Profile - {% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <div id="coverContainer" class="jumbotron-photo cover-profile">
                    <img src="{{ profile.cover.webPath | imagine_filter('cover_profile') }}" alt="{{ profile.username }} Cover">
                </div>
                <div class="jumbotron-contents">
                    <div class="row">
                        <div id="avatarContainer" class="thumbnail col-md-5 avatar-col">
                            <img class="img-rounded" src="{{ profile.avatar.webPath | imagine_filter('avatar_profile') }}" alt="{{ profile.username }} Avatar">
                        </div>
                    </div>
                    <div>
                        <h1 class="element-inline no-margin">{{ profile.username }}</h1>

                        {% if 'ROLE_SUPER_ADMIN' in profile.roles or 'ROLE_ADMIN' in profile.roles %}
                            <img class="element-inline profile-admin-badge" src="{{ asset('img/badges/grost.png') }}" alt="Grost Admin Badge"/>
                        {% endif %}

                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and profile != app.user and profile not in app.user.friends %}
                            <button id="sendFriendRequest"
                                    class="element-inline pull-right btn btn-sm btn-primary"
                                    onclick="sendFriendRequest('{{ path('rizzen_profile_sendfriendrequest', {'username': profile.usernameCanonical}) }}')"><i class="fa fa-user-plus"></i> Send a friend request</button>
                        {% endif %}

                    </div>
                    <small class="element-inline">Last seen: {{ profile.onlinePing|date() }}</small>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">

            <div class="row">
                <div class="col-md-12">
                    {% if profile == app.user %}
                        <div class="btn-group btn-group-justified" role="group" aria-label="...">
                            <div class="btn-group" role="group">
                                <button class="btn btn-block btn-sm btn-primary" data-toggle="modal" data-target="#uploadAvatarModal" tabindex="-1"><i class="fa fa-user"></i> New avatar</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button class="btn btn-block btn-sm btn-primary" data-toggle="modal" data-target="#uploadCoverModal" tabindex="-1"><i class="fa fa-photo"></i> New cover</button>
                            </div>
                        </div>
                        <br/>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Stats</h3>
                        </div>

                        <ul class="list-group">
                            <li class="list-group-item">
                                <i class="fa fa-comment"></i> Messages posted: <strong class="pull-right">{{ profile.messageCount }}</strong>
                            </li>

                            <li class="list-group-item">
                                <i class="fa fa-comments"></i> Threads created: <strong class="pull-right">{{ profile.threadCount }}</strong>
                            </li>

                            {% set difference = date(profile.joinDate).diff(date('now' | date())) %}
                            <li class="list-group-item">
                                {% if profile.messageCount == 0 %}{% endif %}
                                <i class="fa fa-comments-o"></i> Messages per day:
                                {% if profile.messageCount == 0 %}
                                    <strong class="pull-right">0</strong>
                                {% elseif difference.days == 0 %}
                                    <strong class="pull-right">{{ profile.messageCount }}</strong>
                                {% else %}
                                    {% set messagesPerDay = profile.messageCount / difference.days %}
                                    <strong class="pull-right">{{ messagesPerDay | round(2, 'floor') }}</strong>
                                {% endif %}
                            </li>

                            <li class="list-group-item">
                                <i class="fa fa-user"></i> Member since: <strong class="pull-right">{{ profile.joinDate | date('d/m/Y') }}</strong>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-users"></i> Friends</h3>
                        </div>

                        {% if profile.friends | length == 0 %}
                            <ul class="list-group">
                                <li class="list-group-item"><small>{{ profile.username }} hasn't added any friend yet.</small></li>
                            </ul>
                        {% else %}
                            <div class="list-group">
                                {% for friend in profile.friends|slice(0, 5) %}
                                    <a class="list-group-item" href="{{ path('rizzen_profile_see', {'username': friend.username}) }}">
                                        <img src="{{ friend.avatar.webPath | imagine_filter('avatar_event') }}" alt="{{ friend.username }} avatar" class="left profile-friend-avatar img-rounded">
                                        <strong>{{ friend.username }}</strong>
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-shield"></i> Guilds</h3>
                        </div>

                        {% if profile.guilds | length == 0 %}
                            <ul class="list-group">
                                <li class="list-group-item"><small>{{ profile.username }} hasn't joined any guild yet.</small></li>
                            </ul>
                        {% else %}
                            <div class="list-group">
                                {% for guild in profile.guilds|slice(0, 5) %}
                                    <a class="list-group-item" href="{{ path('rizzen_guild_see', {'subdomain': guild.slug}) }}">
                                        <strong>{{ guild.title }}</strong>
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-comments-o"></i> Forums</h3>
                        </div>

                        {% if profile.guilds | length == 0 %}
                            <ul class="list-group">
                                <li class="list-group-item"><small>{{ profile.username }} hasn't joined any forum yet.</small></li>
                            </ul>
                        {% else %}
                            <div class="list-group">
                                {% for forum in profile.forums|slice(0, 5) %}
                                    <a class="list-group-item" href="{{ path('rizzen_forum_see', {'subdomain': forum.guild.slug}) }}">
                                        <strong>{{ forum.guild.title }}</strong>
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-user"></i> About me
                                {% if profile == app.user %}
                                    <button class="pull-right btn btn-link btn-panel-title color-reset" data-toggle="modal" data-target="#aboutMeModal" tabindex="-1"><i class="fa fa-pencil"></i> Modify</button>
                                {% endif %}
                            </h3>

                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12" id="aboutMeContainer">
                                    {% if profile.bio != null and profile.bio | length > 2 %}
                                        {{ profile.bio | raw }}
                                    {% else %}
                                        <div class="text-center">
                                            <p><strong>There's nothing here!</strong></p>
                                            <small class="small-lighter">{{ profile.username }} hasn't written anything here yet.</small>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-image"></i> Screenshots

                                {% if profile == app.user %}
                                <button class="pull-right btn btn-link btn-panel-title color-reset" data-toggle="modal" data-target="#uploadScreenshotModal" tabindex="-1"><i class="fa fa-cloud-upload"></i> New screenshot</button>
                                {% endif %}
                            </h3>
                        </div>

                        <div class="panel-body">

                            <div class="screenshotGallery" itemscope itemtype="http://schema.org/ImageGallery">
                                <div id="galleryThumbnailsContainer" class="row">
                                    {% if screenshots != null %}
                                        {% for screenshot in screenshots|slice(0, 16) %}
                                            <figure id="screenshot{{ screenshot.id }}" class="col-md-3 col-xs-6 col-sm-4 thumbnailContainer" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                                <a href="{{ asset(screenshot.webPath) }}" itemprop="contentUrl" data-size="{{ screenshot.width }}x{{ screenshot.height }}">
                                                    <img id="{{ screenshot.id }}" class="img-rounded img-responsive bootflat-shadow screenshot-thumbnail img-list-hover" src="{{ screenshot.webPath | imagine_filter('screenshot_thumbnail') }}" itemprop="thumbnail" alt="Screenshot from {{ profile.username }}" />
                                                </a>
                                            </figure>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                            </div>

                            <div id="screenshotsEmpty" class="text-center{% if screenshots != null %} d-none{% endif %}">
                                <p><strong>There's no screenshot to see here!</strong></p>
                                <small class="small-lighter">{{ profile.username }} has not uploaded any screenshot here yet.</small>
                            </div>


                                <div id="seeMoreScreenshotsBtn" class="row{% if screenshotCount < 17 %} d-none{% endif %}">
                                    <div class="col-md-12">
                                        <button onclick="loadMoreProfileScreenshots()" class="btn btn-sm btn-primary btn-block" ><i class="fa fa-image"></i> Click me to load more screenshots</button>
                                    </div>
                                </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    {% if profile == app.user %}

    <div class="modal fade local-modal" id="uploadScreenshotModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-cloud-upload"></i> Uploading a new screenshot</h4>
                </div>

                <hr class="no-margin-top"/>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="well">
                                <h5 class="no-margin-top"><i class="fa fa-info-circle"></i> Notes:</h5>
                                <p class="no-margin">
                                    You can upload a maximum of 50 screenshots, <strong>you currently have <span id="screenshotUploadCount">{{ 50 - screenshotCount }}</span> uploads left.</strong>
                                    <br/>
                                    You can only upload images that weight <strong>1MB or lower</strong>.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div id="noUploadsLeft" class="alert alert-danger{% if screenshotCount != 50 %} d-none{% endif %}">
                                <strong><i class="fa fa-warning"></i> Warning:</strong> You have reached the upload limit of 50.
                            </div>
                        </div>
                    </div>
                    {{ form_start(profileForms.screenshotForm, {"attr": {"class": "dropzone", "id": "dropzoneUpload"}, "action": path('rizzen_profile_screenshot_upload', {'username': profile.username}) }) }}

                        <div class="fallback">
                            {{ form_label(profileForms.screenshotForm.file, "screenshot_label", { 'label_attr': {'class': 'control-label'} }) }}
                            {{ form_widget(profileForms.screenshotForm.file) }}
                            <input type="submit"/>
                        </div>

                        {{ form_widget(profileForms.screenshotForm._token) }}
                    {{ form_end(profileForms.screenshotForm) }}

                    <div id="uploadTemplate" class="d-none">
                        <div class="dz-preview dz-file-preview">

                            <img data-dz-thumbnail />

                            <div class="dz-details">

                            </div>

                            <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                            <div class="dz-success-mark"><i class="fa fa-check screenshot-upload-result screenshot-upload-success"></i></div>
                            <div class="dz-error-mark"><i class="fa fa-close screenshot-upload-result screenshot-upload-error"></i></div>
                            <div class="dz-error-message"><span data-dz-errormessage></span></div>
                        </div>
                    </div>

                </div>

                <hr class="no-margin-bottom"/>

                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn"><i class="fa fa-close"></i> Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade local-modal" id="uploadAvatarModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-cloud-upload"></i> Uploading a new avatar</h4>
                </div>

                <hr class="no-margin-top"/>

                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="well">
                                <h5 class="no-margin-top"><i class="fa fa-info-circle"></i> Notes:</h5>
                                <p>
                                    <strong>The maximum file size is 512k.</strong>
                                    <br/>
                                    The recommended size for the avatar is <strong>140 x 140px.</strong>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            {{ form_start(profileForms.avatarForm, {"attr": {"class": "dropzone avatar-cover-upload", "id": "dropzoneAvatar"}, "action": path('rizzen_profile_avatar_upload', {'username': profile.username}) }) }}

                                <div class="fallback">
                                    {{ form_label(profileForms.avatarForm.file, "avatar_label", { 'label_attr': {'class': 'control-label'} }) }}
                                    {{ form_widget(profileForms.avatarForm.file) }}
                                    <input type="submit"/>
                                </div>

                                {{ form_widget(profileForms.avatarForm._token) }}
                            {{ form_end(profileForms.avatarForm) }}
                        </div>
                    </div>

                </div>

                <hr class="no-margin-bottom"/>

                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn"><i class="fa fa-close"></i> Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade local-modal" id="uploadCoverModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-cloud-upload"></i> Uploading a new cover</h4>
                </div>

                <hr class="no-margin-top"/>

                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="well">
                                <h5 class="no-margin-top"><i class="fa fa-info-circle"></i> Notes:</h5>
                                <p>
                                    <strong>The maximum file size is 1MB.</strong>
                                    <br/>
                                    The recommended size for the cover is <strong>1140 x 223px.</strong>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            {{ form_start(profileForms.coverForm, {"attr": {"class": "dropzone avatar-cover-upload", "id": "dropzoneCover"}, "action": path('rizzen_profile_cover_upload', {'username': profile.username}) }) }}

                                <div class="fallback">
                                    {{ form_label(profileForms.coverForm.file, "cover_label", { 'label_attr': {'class': 'control-label'} }) }}
                                    {{ form_widget(profileForms.coverForm.file) }}
                                    <input type="submit"/>
                                </div>

                                {{ form_widget(profileForms.coverForm._token) }}
                            {{ form_end(profileForms.coverForm) }}
                        </div>
                    </div>

                </div>

                <hr class="no-margin-bottom"/>

                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn"><i class="fa fa-close"></i> Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade local-modal" id="aboutMeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-user"></i> About me</h4>
                </div>

                <hr class="no-margin-top"/>

                {{ form_start(profileForms.bioForm, {"attr": {"id": "aboutMeUpdate"}, "action": path('rizzen_profile_update_about', {'username': profile.username}) }) }}

                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div id="aboutMeError" class="alert alert-danger d-none">
                                    <strong><i class="fa fa-warning"></i> Error:</strong> Unable to update the About Me content, you might have used more than the 1500 characters allowed.
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                {{ form_label(profileForms.bioForm.bio, "about_label", { 'label_attr': {'class': 'control-label'} }) }} <small class="small-lighter pull-right">Can be left blank, 1500 characters maximum.</small>
                                {{ form_widget(profileForms.bioForm.bio) }}
                            </div>
                        </div>
                        {{ form_widget(profileForms.bioForm._token) }}

                    </div>

                    <hr class="no-margin-bottom"/>

                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn"><i class="fa fa-close"></i> Close</button>
                        <button type="submit" id="bioSubmitBtn" class="btn btn-success"><i class="fa fa-check"></i> Update</button>
                    </div>
                {{ form_end(profileForms.bioForm) }}
            </div>
        </div>
    </div>

    {% endif %}

    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    {% if profile == app.user %}
                        <button class="btn btn-link btn-del-img-confirm btn-del-img"
                                title="Delete"
                                onclick="deleteUserScreenshot()"
                                ><i class="fa fa-trash fa-2x"></i></button>
                        <div class="pswp__counter pswp__button_cuser"></div>
                        {% else %}
                        <div class="pswp__counter"></div>
                    {% endif %}


                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}

{% block javascripts %}

    {% stylesheets filter='cssrewrite, ?yui_css' output='css/compiled/main_profile.css'
        'bower_components/photoswipe/dist/photoswipe.css'
        'bower_components/photoswipe/dist/default-skin/default-skin.css'
        'bower_components/dropzone/dist/min/dropzone.min.css'
    %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}?{{ version }}" />
    {% endstylesheets %}

    {% javascripts filter='?yui_js' output='js/compiled/main_profile.js'
        'bower_components/photoswipe/dist/photoswipe.min.js'
        'bower_components/photoswipe/dist/photoswipe-ui-default.min.js'
        'bower_components/isotope/dist/isotope.pkgd.min.js'
        'js/photoswipeDOM.js'
        'bower_components/dropzone/dist/min/dropzone.min.js'
    %}
    <script src="{{ asset_url }}?{{ version }}"></script>
    {% endjavascripts %}


    {% if profile == app.user %}

    <script type="text/javascript" src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('ckeditor/adapters/jquery.js') }}"></script>

        <script>
            var previewTemplate = $('#uploadTemplate').html();
            Dropzone.options.dropzoneUpload = {
                paramName: "grost_user_screenshot_upload[file]",
                maxFilesize: 1,
                previewTemplate: previewTemplate,
                dictDefaultMessage: '<i class="fa fa-cloud-upload icon-upload"></i><br><p class="lead no-margin-bottom">Drop your images here to upload</p><br><small class="small-lighter">Or click me to select the images manually</small>',
                init: function() {
                    this.on("success", function(file, response) { updateProfileScreenshotList(response) });
                }
            };

            Dropzone.options.dropzoneAvatar = {
                paramName: "grost_user_avatar_upload[file]",
                maxFilesize: 1,
                thumbnailHeight: 100,
                thumbnailWidth: 100,
                previewTemplate: previewTemplate,
                dictDefaultMessage: '<i class="fa fa-cloud-upload icon-upload"></i><p class="lead no-margin-bottom">Drop your avatar here to upload it</p><small class="small-lighter">Or click me to select the images manually</small>',
                init: function() {
                    this.on("success", function(file, response) { updateProfileAvatar(response) });
                }
            };

            Dropzone.options.dropzoneCover = {
                paramName: "grost_user_cover_upload[file]",
                maxFilesize: 1,
                thumbnailHeight: 100,
                thumbnailWidth: 100,
                previewTemplate: previewTemplate,
                dictDefaultMessage: '<i class="fa fa-cloud-upload icon-upload"></i><p class="lead no-margin-bottom">Drop your cover here to upload it</p><small class="small-lighter">Or click me to select the images manually</small>',
                init: function() {
                    this.on("success", function(file, response) { updateProfileCover(response) });
                }
            };

            CKEDITOR.env.isCompatible = true;
            $('#grost_about_me_update_bio').ckeditor({
                toolbar: 'Forum'
            });
        </script>

    {% endif %}

    <script>
        var currentProfile = '{{ profile.username }}',
            imgCount = {{ screenshotCount }};
        initPhotoSwipeFromDOM('.screenshotGallery');
    </script>

{% endblock %}
