<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Friend requests</h4>
</div>

<hr class="no-margin-top"/>

<div class="modal-body">

    {% if friendRequests | length > 0 %}
    {% for request in friendRequests %}
    <div class="row">
        <div class="col-md-12 req-wrap">
            <div class="f-req-{{ request.id }}">
                <h5 class="no-margin-top">{{ request.from.username }} want to add you as a friend.</h5>
                <button id="accept-{{ request.id }}" class="btn btn-primary choicebtn" onclick="ajaxRequestResponse('{{ path('rizzen_profile_processrequest', {'username': app.user.username, 'requestId': request.id, 'choice': 2}) }}', '#accept-{{ request.id }}', '.f-req-{{ request.id }}', '#refuse-{{ request.id }}')"><span class="fa fa-check"></span> Accept</button>
                <button id="refuse-{{ request.id }}" class="btn btn-primary choicebtn" onclick="ajaxRequestResponse('{{ path('rizzen_profile_processrequest', {'username': app.user.username, 'requestId': request.id, 'choice': 3}) }}', '#refuse-{{ request.id }}', '.f-req-{{ request.id }}', '#accept-{{ request.id }}')"><span class="fa fa-close"></span> Refuse</button>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h4>You have no pending request.</h4>
        </div>
    </div>
    {% endif %}

</div>

<hr class="no-margin-bottom"/>

<div class="modal-footer">
    <button type="button" class="btn" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
</div>
