{% extends '::base.html.twig' %}
{% block title %}{{ guild.title }} - Forum - {% endblock %}

{% block TopBarButtons %}

    {% if permissions.isForumMember == false and permissions.isBannedFromForum == false %}
        <li><span><a href="{{ path("rizzen_forum_join", {'subdomain': subdomain}) }}" class="forum-reg-btn btn btn-primary navbar-btn"><i class="fa fa-check"></i> Join this forum</a></span></li>

    {% elseif permissions.canSeeAdminPanel %}

        {% include '::administrationDropdown.html.twig' %}

    {% endif %}

{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-8">
        <ol class="breadcrumb breadcrumb-arrow">
            <li><a href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}"><i class="fa fa-home"></i> {{ guild.title }}</a></li>
            <li class="active"><span><i class="fa fa-comments"></i> Forum index</span></li>
        </ol>
    </div>

    {% include 'RizzenForumBundle:Forum:searchField.html.twig' with {'generalSearch': true} %}
    <br/>
</div>


{% if categories | length == 0 %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-comments-o"></i> Our categories haven't been created yet.</h3>
                </div>

                <div class="panel-body">
                    <p class="text-center">
                        <strong>There is nothing in our forum yet.</strong>
                        <br/>
                        <small>Sorry, we haven't created the categories for our forum yet.</small>
                    </p>

                    {% if app.user == guild.creator %}
                        <hr/>
                        <p class="text-center">
                            <strong>To create a category, go to the "Manage Categories" page in your administration.</strong>
                            <br/>
                            Or simply click this button: <a class="btn btn-xs btn-primary" href="{{ path('rizzen_forum_admin_categories', {'subdomain': subdomain}) }}"><i class="fa fa-list-alt"></i> Manage Categories</a>
                            <br/>
                            <small class="small-lighter">This message will disappear once you have created a category.</small>
                        </p>

                    {% endif %}
                </div>

            </div>
        </div>
    </div>
{% endif %}

{% for category in categories %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info forum-list-panel">

            <div class="panel-heading">
                <h3 class="panel-title">{{ category.title }}</h3>
            </div>

            {% for subcat in category.subcategories %}
            <div class="forum-list-subcat {% if loop.index is even %}forum-list-alternate{% endif %}">
                <div class="row">
                    <a href="{{ path("rizzen_forum_subcat", {'subdomain': subdomain, 'slug': subcat.slug}) }}" class="text-color-reset">
                        <div class="col-md-9 col-xs-10">
                            <h4>{{ subcat.title }}</h4>
                        </div>
                    </a>


                    {% if subcat.latestThreadActivity is not null %}
                        <a rel="nofollow" href="{{ path("rizzen_forum_thread_latest", {'subdomain': subdomain, 'slug': subcat.slug, 'threadSlug': subcat.latestThreadActivity.slug}) }}" class="text-color-reset">
                            <div class="col-md-3 col-xs-2 forum-list-last-message-separator">

                                <img class="pull-left forum-list-avatar img-rounded" src="{{ subcat.latestThreadActivity.lastMessage.creator.avatar.webPath | imagine_filter('avatar_forum') }}" alt="User avatar">
                                <div class="forum-list-last-message hidden-xs">
                                    <strong>{{ subcat.latestThreadActivity.title }}</strong>
                                    <hr class="no-margin"/>
                                    <small>{{ subcat.latestThreadActivity.lastMessage.creator.username }}, {{ subcat.latestThreadActivity.lastMessage.date|ago }}.</small>
                                </div>
                            </div>
                        </a>
                    {% else %}
                        <a href="{{ path("rizzen_forum_subcat", {'subdomain': subdomain, 'slug': subcat.slug}) }}" class="text-color-reset">
                            <div class="col-md-3 col-xs-2 forum-list-last-message-separator">
                                <img class="pull-left forum-list-avatar img-rounded" src="{{ '/img/forum/nothread.jpg' | imagine_filter('avatar_forum') }}" alt="User avatar">
                                <div class="forum-list-last-message hidden-xs">
                                    <small><i>No thread has been created yet.</i></small>
                                    <br/>
                                    <small><i>Be the first to create one!</i></small>
                                </div>
                            </div>
                        </a>
                    {% endif %}


                </div>
            </div>
                <hr class="no-margin"/>
            {% endfor %}

        </div>
    </div>
</div>
{% endfor %}

{% endblock %}

{% block customCSS %}
    {% if guild.customCSSEnabled %}
        <link rel="stylesheet" href="{{ asset(guild.customCSSFile) }}"/>
    {% endif %}
{% endblock %}
