{% set currentDateOnlineP2 = 'now'|date() %}
<div class="row" id="msg-{{ message.id }}" style="display:none;">
    <div class="col-md-12">

            <div id="panel-{{ message.id }}" class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Posted {{ time_diff(message.date) }} ({{ message.date|date() }})
                        <div class="pull-right forum-messages-controls">

                            <span style="display: none;" id="deleteBtnWrap{{ message.id }}"><button class="color-reset btn btn-link btn-panel-title"
                                          data-toggle="modal"
                                          data-target="#deletePostModal"
                                          tabindex="-1"
                                          data-url="{{ path("rizzen_forum_moderation_delete_message", {'subdomain': subdomain, 'messageId': message.id}) }}"
                                          data-messageid="{{ message.id }}"><i class="fa fa-warning"></i> Delete</button> | </span>



                            <span style="display: none;" id="editBtnWrap{{ message.id }}"><button class="color-reset btn btn-link btn-panel-title"
                                          id="editBtn{{ message.id }}"
                                          data-toggle="modal"
                                          data-target="#editPostModal"
                                          tabindex="-1"
                                          onclick="forumEdit({{ message.id }}, {% if message.isLocked %}'on'{% else %}'off'{% endif %})"><i class="fa fa-wrench"></i> Edit</button> | </span>


                            <span style="display: none;" id="quoteBtnWrap{{ message.id }}"><button onclick="forumQuote('#msg-{{ message.id }}')" class="color-reset btn btn-link btn-panel-title"><i class="fa fa-reply"></i> Quote</button></span>
                        </div>
                    </h3>
                </div>

                <div class="panel-body">
                    <div class="col-md-2 col-xs-2 forum-user">
                        <div class="visible-xs center-block">
                            <img class="img-rounded forum-avatar-xs" src="{{ message.creator.avatar.webPath | imagine_filter('avatar_forum') }}" alt="{{ message.creator.username }} Avatar">
                        </div>

                        <div class="hidden-xs thumbnail center-block forum-avatar">
                            <img class="img-rounded forum-avatar" src="{{ message.creator.avatar.webPath | imagine_filter('avatar_forum') }}" alt="{{ message.creator.username }} Avatar">
                        </div>

                        <div class="visible-xs text-center ">
                            <strong class="no-margin-top">{{ message.creator.username }}</strong>
                            {% if message.creator.onlinePing is not null %}{% if message.creator.onlinePing|date_modify("+2 min")|date('U') < currentDateOnlineP2|date('U') %}{% else %}<span class="label label-primary">ONLINE</span>{% endif %}{% endif %}
                        </div>

                        <div class="hidden-xs">
                            <span class="text-center forum-username">{{ message.creator.username }}</span>
                            <hr class="forum-user-hr">
                            <div class="forum-user-infos text-center">
                                <span>{{ message.creator.messageCount }} message{% if message.creator.messageCount != 1 %}s{% endif %}</span><br>
                                <span>{{ message.creator.threadCount }} thread{% if message.creator.threadCount != 1 %}s{% endif %}</span><br>
                                {% if message.creator.onlinePing is not null %}{% if message.creator.onlinePing|date_modify("+2 min")|date('U') < currentDateOnlineP2|date('U') %}<span>Last seen: {{ message.creator.onlinePing|date('d/m/y') }}</span>{% else %}<span class="label label-primary">ONLINE</span>{% endif %}{% else %}<span>Last seen: {{ message.creator.onlinePing|date('d/m/y') }}</span>{% endif %}
                            </div>
                            <div class="text-center">
                                <div class="btn-group btn-group-sm">
                                    <a href="{{ path('rizzen_profile_see', {'username': message.creator.username}) }}" class="btn"><i class="fa fa-user"></i></a>
                                    <a href="{{ path('rizzen_messenger_writewithrecipient', {'recipient': message.creator.username}) }}" class="btn"><i class="fa fa-envelope"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 col-xs-10">
                        <div class="forum-message" id="msg-f-{{ message.id }}">
                            {{ message.content|raw }}
                        </div>
                    </div>
                </div>


        </div>
    </div>
</div>
