{% extends '::base.html.twig' %}
{% block title %}{{ subCategory.title }} - Sub Category Creation - Forum Administration - {% endblock %}

{% block TopBarButtons %}

    {% if permissions.canSeeAdminPanel %}

        {% include '::administrationDropdown.html.twig' %}

    {% endif %}

{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb breadcrumb-arrow">
            <li><a href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}"><i class="fa fa-home"></i> {{ guild.title }}</a></li>
            <li><a href="{{ path('rizzen_forum_see', {'subdomain': subdomain}) }}"><i class="fa fa-comments"></i> Forum index</a></li>
            <li><a href="{{ path("rizzen_forum_subcat", {'subdomain': subdomain, 'slug': subCategory.slug}) }}"><i class="fa fa-comments-o"></i> {{ subCategory.title }}</a></li>
            <li class="active"><span><i class="fa fa-pencil"></i> New thread</span></li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>New thread</h1>
        <hr class="no-margin-top"/>

    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-info-circle"></i> Info
            </div>

            <div class="panel-body">

                <div data-toggle="tooltip"
                     data-placement="bottom"
                     title="This counter does include the HTML generated by the text editor">
                    <small>
                        Characters used:
                        <br/>
                        <strong>
                            <span id="charCount">0</span>/10000*
                        </strong>
                        <br/>
                    </small>
                </div>


            </div>

        </div>
    </div>
    <div class="col-md-10">
        {{ form_start(form, {"attr": {"class": "custom"}, "action": path('rizzen_forum_newthread', {"subdomain": subdomain, "slug": subCategory.slug}) }) }}

            {{ form_errors(form) }}

            <div class="row">
                <div class="col-md-12">
                    {% if form_errors(form.title) %}
                    <div class="alert alert-danger">
                        <i class="fa fa-warning"></i> Your title must contain <strong>at least 5 characters and a maximum of 40</strong>
                    </div>
                    <div class="form-group has-error has-feedback">
                        {{ form_label(form.title, "thread_new_title_label", { 'label_attr': {'class': 'control-label'} }) }}
                        {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder': "thread_new_title_placeholder"} }) }}
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    </div>
                    {% else %}
                    {{ form_label(form.title, "thread_new_title_label") }}<small class="pull-right small-lighter">Must contain between 5 and 40 characters</small>
                    {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder': "thread_new_title_placeholder"} }) }}
                    {% endif %}

                </div>

            </div>
            <br/>
            <div class="row">
                <div class="col-md-12">

                    {% if form_errors(form.firstMessage) %}
                    <div class="alert alert-danger">
                        <i class="fa fa-warning"></i> Your message must contain <strong>at least one character and a maximum of 10000</strong> (look at the counter on the left)
                    </div>
                    {% endif %}

                    {{ form_label(form.firstMessage, "thread_new_message_label", { 'label_attr': {'class': 'control-label'} }) }}
                    {{ form_widget(form.firstMessage, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>


            {{ form_rest(form) }}
            <br/>
            <button type="submit" class="btn btn-block btn-primary"><i class="fa fa-send"></i> Submit and post the thread</button>
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('ckeditor/ckeditor.js') }}"></script>
<script type="text/javascript" src="{{ asset('ckeditor/adapters/jquery.js') }}"></script>
<script type="text/javascript">
    $('#rizzen_forumbundle_thread_firstMessage').ckeditor({
        toolbar: 'Forum'
    });

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    for (var i in CKEDITOR.instances) {
        CKEDITOR.instances[i].on('change', function() {
            updateCharCount('#charCount', '#rizzen_forumbundle_thread_firstMessage');
        });
    }

</script>
{% endblock %}

{% block customCSS %}
    {% if guild.customCSSEnabled %}
        <link rel="stylesheet" href="{{ asset(guild.customCSSFile) }}"/>
    {% endif %}
{% endblock %}
