<div class="col-md-4">
    <form action="#" id="forumSearchForm">
        <div class="input-group search-height">
            <div id="searchFormGroup" class="form-group">
                {% if generalSearch %}
                    <input {% if query is defined %}value="{{ query }}"{% endif %} id="forumSearchInput" type="text" placeholder="Search in this forum" name="search" class="form-control search-height" autocomplete="off">
                {% else %}
                    <input {% if query is defined %}value="{{ query }}"{% endif %} id="forumSearchInput" type="text" placeholder="Search in this sub-category" name="search" class="form-control search-height" autocomplete="off">
                {% endif %}
                <span id="searchFormErrorIcon" class="glyphicon glyphicon-remove search-height form-control-feedback d-none"></span>
            </div>

            <span class="input-group-btn">
                <button id="forumSearchButton" class="btn btn-primary search-height" onclick="executeForumSearch()" type="button"><i class="fa fa-search"></i><span class="hidden-md hidden-lg"> Search</span></button>
            </span>

        </div>
    </form>
</div>
