{% extends '::base.html.twig' %}
{% block meta %}
<meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block title %}Searching - Forum - {% endblock %}

{% block TopBarButtons %}

    {% if permissions.isForumMember == false and permissions.isBannedFromForum == false %}
        <li><span><a href="{{ path("rizzen_forum_join", {'subdomain': subdomain}) }}" class="forum-reg-btn btn btn-primary navbar-btn"><i class="fa fa-check"></i> Join this forum</a></span></li>

    {% elseif permissions.canSeeAdminPanel %}

        {% include '::administrationDropdown.html.twig' %}

    {% endif %}

{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-8">
            <ol class="breadcrumb breadcrumb-arrow">
                <li><a href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}"><i class="fa fa-home"></i> {{ guild.title }}</a></li>
                <li><a href="{{ path('rizzen_forum_see', {'subdomain': subdomain}) }}"><i class="fa fa-comments"></i> Forum index</a></li>
                <li class="active"><span><i class="fa fa-search"></i> Searching</span></li>
            </ol>
        </div>
        {% include 'RizzenForumBundle:Forum:searchField.html.twig' with {'generalSearch': true} %}
        <br/>
    </div>

    <div class="row">

        <div class="col-md-12">
            <div class="panel panel-primary forum-list-panel">
                <div class="panel-heading">
                    {% if threads | length == 0 %}
                        <h3 class="panel-title"><i class="fa fa-comments-o"></i> Sorry, we didn't find anything.</h3>
                    {% elseif threads | length == 1 %}
                        <h3 class="panel-title"><i class="fa fa-comments-o"></i> A single thread was found.</h3>
                    {% elseif threads | length > 1 and threads | length < 10 %}
                        <h3 class="panel-title"><i class="fa fa-comments-o"></i> {{ threads | length }} threads were found.</h3>
                    {% else %}
                        <h3 class="panel-title"><i class="fa fa-comments-o"></i> Displaying 15 results, but there might be more, search from a sub-category to find more threads.</h3>
                    {% endif %}
                </div>



                {% for thread in threads  %}

                    <div class="forum-list-subcat {% if loop.index is even %}forum-list-alternate{% endif %}">
                        <div class="row">
                            <a href="{{ path("rizzen_forum_thread_history", {'subdomain': subdomain, 'slug': thread.subCategory.slug, 'threadSlug': thread.slug}) }}" class="text-color-reset">
                                <div class="col-md-8 col-sm-8 col-xs-10 subcat-thread-pad">
                                    <h4 class="no-margin">{{ thread.title }}</h4>
                                    <p>
                                        {% if thread.locked %}<span class="label label-danger"><i class="fa fa-lock"></i> <span class="hidden-xs">Locked</span></span> | {% endif %}

                                        <small>
                                            <i class="fa fa-info-circle"></i> <strong title="Category">{{ thread.subCategory.category.title }}</strong>
                                            <i class="fa fa-angle-double-right"></i> <span title="Sub-category">{{ thread.subCategory.title }}</span> |
                                            By <strong>{{ thread.creator.username }}</strong> {{ thread.date | ago }}
                                        </small>
                                    </p>

                                </div>
                            </a>

                            <div class="col-md-2 col-sm-2 hidden-xs">
                                <div class="pull-right">
                                    {{ thread.messagesCount }} <i class="fa fa-comments"></i>
                                </div>
                                <br/>
                                <div class="pull-right">
                                    {% if threadVisits[loop.index0] is null %}0{% else %}{{ threadVisits[loop.index0] }}{% endif %} <i class="fa fa-eye"></i>
                                </div>
                            </div>

                            <a rel="nofollow" href="{{ path("rizzen_forum_thread_latest", {'subdomain': subdomain, 'slug': thread.subCategory.slug, 'threadSlug': thread.slug}) }}" class="text-color-reset">
                                <div class="col-md-2 col-xs-2 forum-list-last-message-separator">

                                    <img class="pull-left forum-list-avatar img-rounded" src="{{ thread.lastMessage.creator.avatar.webPath | imagine_filter('avatar_forum') }}" alt="User avatar">
                                    <div class="forum-list-last-message hidden-xs">
                                        <strong>{{ thread.lastMessage.creator.username }}</strong>
                                        <hr class="no-margin"/>
                                        <small>{{ thread.lastMessage.date|ago }}</small>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>

                    <hr class="no-margin"/>
                {% endfor %}

            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-md-12 ">
            <div class="alert alert-info">
                <i class="fa fa-info-circle"></i> Didn't find what your were looking for? The general search is limited, use the search functionality inside a sub-category to find more threads.
            </div>
        </div>
    </div>


{% endblock %}

{% block customCSS %}
    {% if guild.customCSSEnabled %}
        <link rel="stylesheet" href="{{ asset(guild.customCSSFile) }}"/>
    {% endif %}
{% endblock %}
