{% extends '::base.html.twig' %}
{% block title %}{{ subcat.title }} - Forum - {% endblock %}

{% block TopBarButtons %}

    {% if permissions.isForumMember == false and permissions.isBannedFromForum == false %}
        <li><span><a href="{{ path("rizzen_forum_join", {'subdomain': subdomain}) }}" class="forum-reg-btn btn btn-primary navbar-btn"><i class="fa fa-check"></i> Join this forum</a></span></li>

    {% elseif permissions.canSeeAdminPanel %}

        {% include '::administrationDropdown.html.twig' %}

    {% endif %}

{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-8">
        <ol class="breadcrumb breadcrumb-arrow">
            <li><a href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}"><i class="fa fa-home"></i> {{ guild.title }}</a></li>
            <li><a href="{{ path('rizzen_forum_see', {'subdomain': subdomain}) }}"><i class="fa fa-comments"></i> Forum index</a></li>
            <li class="active"><span><i class="fa fa-comments-o"></i> {{ subcat.title }}</span></li>
        </ol>
    </div>

    {% include 'RizzenForumBundle:Forum:searchField.html.twig' with {'generalSearch': false} %}
    <br/>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>{{ subcat.title }}</h1>
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED")  %}
            {% if subcat.locked or subcat.category.locked %}
            <button class="btn btn-primary disabled"><i class="fa fa-lock"></i> Start a new thread</button>
            {% else %}
            <a class="btn btn-primary" href="{{ path("rizzen_forum_newthread", {'subdomain': subdomain, 'slug': subcat.slug}) }}"><i class="fa fa-comments"></i> Start a new thread</a>
            {% endif %}
        {% endif %}
    </div>
    <div class="col-md-4">
        <div class="pagination-no-margin pull-right">
            {{ knp_pagination_render(threads) }}
        </div>
    </div>
</div>

<br/>

<div class="row">

    <div class="col-md-12">
        <div class="panel panel-primary forum-list-panel">
            <div class="panel-heading">
                <h3 class="panel-title">
                {% if threads.getTotalItemCount == 0 %}
                    <i class="fa fa-comments-o"></i> There's nothing here!
                {% elseif threads.getTotalItemCount == 1 %}
                    <i class="fa fa-comments-o"></i> Displaying a single thread
                {% elseif threads.getTotalItemCount > 1 and threads.getTotalItemCount < 10 %}
                    <i class="fa fa-comments-o"></i> Displaying {{ threads.getTotalItemCount }} threads
                {% else %}
                    <i class="fa fa-comments-o"></i> {{ threads.getTotalItemCount }} threads created in this sub-category
                {% endif %}
                </h3>
            </div>

            {% for thread in threads if thread.slug != null %}
                <div class="forum-list-subcat {% if loop.index is even %}forum-list-alternate{% endif %}">
                    <div class="row">
                        <a href="{{ path("rizzen_forum_thread", {'subdomain': subdomain, 'slug': subcat.slug, 'threadSlug': thread.slug}) }}" class="text-color-reset">
                            <div class="col-md-8 col-sm-8 col-xs-10 subcat-thread-pad">
                                <h4 class="no-margin">
                                    {{ thread.title }}
                                </h4>
                                <p>
                                    {% if thread.pinned %}<span class="label label-info"><i class="fa fa-thumb-tack"></i><span class="hidden-xs"> Pinned</span></span> | {% endif %}
                                    {% if thread.locked %}<span class="label label-danger"><i class="fa fa-lock"></i><span class="hidden-xs"> Locked</span></span> | {% endif %}
                                    <small class="hidden-xs">Thread created by <strong>{{ thread.creator.username }}</strong> {{ thread.date | ago }}</small>
                                    <small class="visible-xs-inline">By <strong>{{ thread.creator.username }}</strong>, last message: {{ thread.lastMessage.date|ago }} by <strong>{{ thread.lastMessage.creator.username }}</strong></small>
                                </p>

                            </div>
                        </a>

                        <div class="col-md-2 col-sm-2 hidden-xs">
                            <div class="pull-right">
                                {{ thread.messagesCount }} <i class="fa fa-comments"></i>
                            </div>
                            <br/>
                            <div class="pull-right">
                                {{ thread.views }} <i class="fa fa-eye"></i>
                            </div>

                        </div>

                        <a rel="nofollow" href="{{ path("rizzen_forum_thread_latest", {'subdomain': subdomain, 'slug': subcat.slug, 'threadSlug': thread.slug}) }}" class="text-color-reset">
                            <div class="col-md-2 col-xs-2 forum-list-last-message-separator">

                                <img class="pull-left forum-list-avatar img-rounded" src="{{ thread.lastMessage.creator.avatar.webPath | imagine_filter('avatar_forum') }}" alt="User avatar">
                                <div class="forum-list-last-message hidden-xs">
                                    <strong>{{ thread.lastMessage.creator.username }}</strong>
                                    <hr class="no-margin"/>
                                    <small>{{ thread.lastMessage.date|ago }}</small>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>

                <hr class="no-margin"/>
            {% endfor %}

            {% if threads is empty %}
                <div class="forum-list-subcat">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h5><i class="fa fa-info-circle"></i> No thread has been created in this sub-category.</h5>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>

</div>

{% endblock %}

{% block customCSS %}
    {% if guild.customCSSEnabled %}
        <link rel="stylesheet" href="{{ asset(guild.customCSSFile) }}"/>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        var subcatSlug = '{{ subcat.slug | raw }}';
    </script>
{% endblock %}
