{% extends '::base.html.twig' %}
{% block title %}{{ thread.title }} - {{ guild.title }} - Forum - {% endblock %}

{% block TopBarButtons %}

    {% if permissions.isForumMember == false and permissions.isBannedFromForum == false %}
        <li><span><a href="{{ path("rizzen_forum_join", {'subdomain': subdomain}) }}" class="forum-reg-btn btn btn-primary navbar-btn"><i class="fa fa-check"></i> Join this forum</a></span></li>

    {% elseif permissions.canSeeAdminPanel %}

        {% include '::administrationDropdown.html.twig' %}

    {% endif %}

{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb breadcrumb-arrow">
            <li><a href="{{ path('rizzen_guild_see', {'subdomain': subdomain}) }}"><i class="fa fa-home"></i> {{ guild.title }}</a></li>
            <li><a href="{{ path('rizzen_forum_see', {'subdomain': subdomain}) }}"><i class="fa fa-comments"></i> Forum index</a></li>
            <li><a href="{{ path("rizzen_forum_subcat", {'subdomain': subdomain, 'slug': thread.subCategory.slug}) }}"><i class="fa fa-comments-o"></i> {{ thread.subCategory.title }}</a></li>
            <li class="active"><span><i class="fa fa-comment"></i> {{ thread.title }}</span></li>
        </ol>
    </div>
</div>

<h2>{{ thread.title }} <small>{{ pagination.getTotalItemCount }} message{% if pagination.getTotalItemCount > 1 %}s{% endif %}</small></h2>
<hr>

<div id="forumThreadCtrlContainer" class="row">
    <div class="col-md-6">

    {% if categories != null and permissions.canEditForumThread or permissions.canDeleteForumThread or permissions.canPinThread %}
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i id="modToolsCog" class="fa fa-cog"></i> Moderator Tools <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">

            {% if permissions.canPinThread %}
                <li>
                    <a class="no-href"
                       id="toggleThreadPin"
                       onclick="toggleThreadPin('{{ url('rizzen_forum_pin_thread', {'subdomain': subdomain, 'threadSlug': thread.slug}) }}')"
                       role="button">
                        {% if thread.pinned %}
                            Unpin this thread
                        {% else %}
                            Pin this Thread
                        {% endif %}

                    </a>
                </li>
            {% endif %}

            {% if categories != null and permissions.canEditForumThread %}
            <li>
                <a class="no-href"
                   role="button"
                   data-toggle="modal"
                   data-target="#moveThreadModal"
                   tabindex="-1">Move this thread</a>
            </li>

                {% if thread.subCategory.locked == false and thread.subCategory.category.locked == false %}
                <li>
                    <a class="no-href"
                       id="toggleLockBtn"
                       onclick="toggleThreadLock('{{ url('rizzen_forum_lock_thread', {'subdomain': subdomain, 'threadSlug': thread.slug}) }}')"
                       role="button">{% if thread.locked %}Unlock this thread{% else %}Lock this thread{% endif %}</a>
                </li>
                {% endif %}
            {% endif %}

            {% if permissions.canDeleteForumThread %}
            <li class="divider"></li>
            <li>
                <a class="no-href"
                   role="button"
                   data-toggle="modal"
                   data-target="#deleteThreadModal"
                   tabindex="-1">Delete this thread</a>
            </li>
            {% endif %}

        </ul>
    </div>
    {% endif %}

    {% if editForm != null %}
        <button id="resumeEditingButton"
                class="btn btn-primary no-margin resumeEditBtn disabled"
                data-toggle="modal"
                data-target="#editPostModal"
                tabindex="-1"><i class="fa fa-pencil"></i> Resume editing</button>
    {% endif %}
    </div>

    {% if pagination.getTotalItemCount > 10 %}
    <div class="col-md-6">
        <div class="pull-right no-margin">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    {% endif %}
</div>

{% set currentDateOnlineP2 = 'now'|date() %}
<div class="forum-wrap">
    {% for message in pagination %}
    <div class="row" id="msg-{{ message.id }}">
        <div class="col-md-12">

            <div id="panel-{{ message.id }}" class="panel{% if message.visible %} panel-info{% else %} panel-danger{% endif %}{% if loop.last %} latestThreadMessage{% endif %}">
                <div class="panel-heading">
                    <h3 class="panel-title">Posted {{ time_diff(message.date) }} ({{ message.date|date() }})
                        {% if permissions.isForumMember and message.visible %}
                            <div class="pull-right forum-messages-controls">
                                {% if permissions.canDeleteForumPost and message.originalPost == false %}
                                    <span><button class="color-reset btn btn-link btn-panel-title"
                                                  data-toggle="modal"
                                                  data-target="#deletePostModal"
                                                  tabindex="-1"
                                                  data-url="{{ path("rizzen_forum_moderation_delete_message", {'subdomain': subdomain, 'messageId': message.id}) }}"
                                                  data-messageid="{{ message.id }}"><i class="fa fa-warning"></i> Delete</button> | </span>
                                {% endif %}

                                {% if permissions.canEditForumPost or message.creator == app.user %}
                                    <span><button class="color-reset btn btn-link btn-panel-title"
                                                  id="editBtn{{ message.id }}"
                                                  data-toggle="modal"
                                                  data-target="#editPostModal"
                                                  tabindex="-1"
                                                  onclick="forumEdit({{ message.id }}, {% if message.isLocked %}'on'{% else %}'off'{% endif %})"><i class="fa fa-wrench"></i> Edit</button> | </span>
                                {% endif %}

                                <span><button onclick="forumQuote('#msg-{{ message.id }}')" class="color-reset btn btn-link btn-panel-title"><i class="fa fa-reply"></i> Quote</button></span>
                            </div>
                        {% endif %}
                    </h3>
                </div>
                {% if message.visible %}
                <div class="panel-body">
                    <div class="col-md-2 col-xs-2 forum-user">
                        <div class="visible-xs center-block">
                            <img class="img-rounded forum-avatar-xs" src="{{ message.creator.avatar.webPath | imagine_filter('avatar_forum') }}" alt="{{ message.creator.username }} Avatar">
                        </div>

                        <div class="hidden-xs thumbnail center-block forum-avatar">
                            <img class="img-rounded forum-avatar" src="{{ message.creator.avatar.webPath | imagine_filter('avatar_forum') }}" alt="{{ message.creator.username }} Avatar">
                        </div>

                        <div class="visible-xs text-center ">
                            <strong class="no-margin-top">{{ message.creator.username }}</strong>
                            {% if message.creator.onlinePing is not null %}{% if message.creator.onlinePing|date_modify("+2 min")|date('U') < currentDateOnlineP2|date('U') %}{% else %}<span class="label label-primary">ONLINE</span>{% endif %}{% endif %}
                        </div>

                        <div class="hidden-xs">
                            <span class="text-center forum-username">{{ message.creator.username }}</span>
                            <hr class="forum-user-hr">
                            <div class="forum-user-infos text-center">
                                <span>{{ message.creator.messageCount }} message{% if message.creator.messageCount != 1 %}s{% endif %}</span><br>
                                <span>{{ message.creator.threadCount }} thread{% if message.creator.threadCount != 1 %}s{% endif %}</span><br>
                                {% if message.creator.onlinePing is not null %}{% if message.creator.onlinePing|date_modify("+2 min")|date('U') < currentDateOnlineP2|date('U') %}<span>Last seen: {{ message.creator.onlinePing|date('d/m/y') }}</span>{% else %}<span class="label label-primary">ONLINE</span>{% endif %}{% else %}<span>Last seen: {{ message.creator.onlinePing|date('d/m/y') }}</span>{% endif %}
                            </div>
                            <div class="text-center">
                                <div class="btn-group btn-group-sm">
                                    <a href="{{ path('rizzen_profile_see', {'username': message.creator.username}) }}" class="btn"><i class="fa fa-user"></i></a>
                                    <a href="{{ path('rizzen_messenger_writewithrecipient', {'recipient': message.creator.username}) }}" class="btn"><i class="fa fa-envelope"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 col-xs-10">
                        <div class="forum-message" id="msg-f-{{ message.id }}">
                            {{ message.content|raw }}
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
    {% endfor %}


    <div id="forum-new-messages-title" style="display: none">
        <h3>New message: </h3>
        <hr class="no-margin-top"/>
    </div>

    <div id="forum-new-messages">

    </div>


</div>

{% if pagination.getTotalItemCount > 10 %}
<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
{% endif %}
{% if form != null %}
<div class="row">
    <div class="col-md-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-info-circle"></i> Info
            </div>

            <div class="panel-body">

                <div data-toggle="tooltip"
                     data-placement="bottom"
                     title="This counter does include the HTML generated by the text editor">
                    <small>
                        Characters used:
                        <br/>
                        <strong>
                            <span id="charCount">0</span>/10000*
                        </strong>
                        <br/>
                    </small>
                </div>

            </div>

        </div>
    </div>
    <div class="col-md-10">

        <div class="row d-none" id="threadMovedAlert">
            <div class="col-md-12">
                <div class="alert alert-info">
                    <strong><i class="fa fa-info-circle"></i> This thread has been moved!</strong>
                    <br/>
                    This thread has been moved, you can access his new location by clicking this link: <strong id="moveToThreadLink">{{ thread.title }}</strong>
                    <br/>
                    To avoid any form submission error, we locked all the forms on the page, so please, if you were typing a message, copy it to the new location of the thread, sorry for the inconvenience.
                </div>
            </div>
        </div>

        <div class="row{% if thread.locked == false and thread.subCategory.locked == false and thread.subCategory.category.locked == false %} d-none{% endif %}" id="threadLockedAlert">
            <div class="col-md-12">
                <div class="alert alert-danger">
                    <strong><i class="fa fa-lock"></i> This thread is locked!</strong>
                    <br/>
                    You cannot post new messages nor edit any of the existing ones.
                </div>
            </div>
        </div>

        {{ form_start(form, {"attr": {"class": "forum-reply-form", "autocomplete": "off"}, "action": path('rizzen_forum_reply', {'subdomain': subdomain, 'slug': thread.subCategory.slug, 'threadSlug': thread.slug}) }) }}

            <div id="forumReplyError" class="alert alert-danger alert-dismissable" style="display: none;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="fa fa-warning"></i> Your message must contain <strong>at least one character and a maximum of 10000</strong> (look at the counter on the left)
            </div>

            {{ form_widget(form.content, { 'attr': {'class': 'form-control', 'style': 'width:100%;height:80px;'} }) }}

            {{ form_widget(form._token) }}

            <div class="row">
                <br/>
                <div class="col-md-10">

                </div>
                <div class="col-md-2">
                    <button id="submitButton" autocomplete="off" type="submit" class="btn btn-primary btn-block pull-right no-margin-top"><span class="fa fa-send"></span> Send</button>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>

{% endif %}

{% if editForm != null %}
<div class="modal fade local-modal" id="editPostModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Post editing</h4>
            </div>

            <hr class="no-margin-top"/>

            <div class="modal-body">

                <div id="editFormInfo" class="alert alert-info">
                    <i class="fa fa-info-circle"></i> Please note that once edited, <strong>you won't be able to revert back to the original version.</strong>
                    <br/>
                    <small><i class="fa fa-warning"></i> If you close the modal, you'll need to use the button on the top left of the messages list to open it again without losing your modifications.</small>

                </div>

                <div style="display: none;" id="editFormSuccess" class="alert alert-success">
                    <i class="fa fa-check"></i> <strong>The message has been successfully edited!</strong>
                </div>

                <div style="display: none;" id="editFormError" class="alert alert-danger">
                    <i class="fa fa-warning"></i> <span id="editModalErrorContent"></span>
                </div>

                {{ form_start(editForm, {"attr": {"class": "forum-reply-form", "id": "editForm"}, "action": path("rizzen_forum_moderation_edit_message", {'subdomain': subdomain}) }) }}

                    <label for="postToEdit">Message:</label>

                    <div class="pull-right"
                         data-toggle="tooltip"
                         data-placement="top"
                         title="This counter does include the HTML generated by the text editor">

                        <small>
                            Characters used:
                            <strong>
                                <span id="charCountEdit">0</span>/10000*
                            </strong>
                        </small>
                    </div>

                    {% if form_errors(editForm.content) %}
                        <div class="alert alert-danger">
                            <i class="fa fa-warning"></i> Your message must contain <strong>at least one character and a maximum of 10000</strong> (look at the counter on the left)
                        </div>
                    {% endif %}
                    {{ form_widget(editForm.content, { 'attr': {'class': 'form-control'} }) }}

                    <div class="row" {% if permissions.canEditForumPost == false %}style="display: none;"{% endif %}>
                        <br/>
                        <div class="col-md-10">
                            <span><strong>Do you want to lock this message?</strong> <small>Locking it will prevent the user that posted it to modify it.</small></span>
                        </div>
                        <div class="col-md-2">
                            {{ form_widget(editForm.lock, { 'attr': {'data-toggle': 'toggle', 'data-on': 'Locked', 'data-off': 'Unlocked', 'data-onstyle': 'danger', 'data-offstyle': 'success', 'data-size': 'mini'} }) }}
                        </div>
                    </div>

                    {{ form_widget(editForm.target) }}

                    {{ form_widget(editForm._token) }}

                {{ form_end(editForm) }}
                <br/>

            </div>

            <hr class="no-margin"/>

            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn"><i class="fa fa-close"></i> Close</button>
                <button type="button" id="forumEditButton" onclick="forumEditSubmit('{{ path("rizzen_forum_moderation_edit_message", {'subdomain': subdomain}) }}')" class="btn btn-primary"><i class="fa fa-check"></i> Edit</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if categories != null and permissions.canEditForumThread %}

<div class="modal fade local-modal" id="moveThreadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Thread mover</h4>
            </div>

            <hr class="no-margin-top"/>

            <div class="modal-body">
                <p>
                    You're about to move this tread to another sub-category.
                    <br/>
                    Please note that you are not able to move this thread to categories you don't have access.
                    <br/>
                    <br/>
                    <strong>Please select where you wish to move this tread:</strong>
                </p>

                <br/>
                <form action="#">
                    <label for="moveToSelect" class="d-none">Where do you want to move it?</label>
                    <select id="moveToSelect" name="moveToSelect" class="form-control">
                        {% for category in categories %}
                            <optgroup label="{{ category.title }}">
                                {% for subcat in category.subCategories if subcat != thread.subCategory %}
                                    <option value="{{ subcat.slug }}">{{ subcat.title }}</option>
                                {% endfor %}
                            </optgroup>
                        {% endfor %}

                    </select>
                </form>
            </div>

            <hr class="no-margin-bottom"/>

            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn"><i class="fa fa-close"></i> Close</button>
                <button type="button"
                        id="moveConfirm"
                        onclick="moveThread()"
                        class="btn btn-success"><i class="fa fa-check"></i> Confirm and move the thread</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if permissions.canDeleteForumThread %}
    <div class="modal fade local-modal" id="deleteThreadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Thread deletion</h4>
                </div>

                <hr class="no-margin-top"/>

                <div class="modal-body">
                    <p>
                        You're about to delete this thread.
                        <br/>
                        <strong>Please note that once deleted, it won't be recoverable, we recommend to move the thread to an hidden sub-category if you wish to be able to restore it later.</strong>
                    </p>
                </div>

                <hr class="no-margin-bottom"/>

                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn"><i class="fa fa-close"></i> Close</button>
                    <a href="{{ path('rizzen_forum_moderation_delete_thread', {'subdomain': guild.slug, 'threadSlug': thread.slug}) }}"
                       class="btn btn-danger"><i class="fa fa-check"></i> Confirm and delete the thread</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if permissions.canDeleteForumPost %}

<div class="modal fade local-modal" id="deletePostModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Message deletion</h4>
            </div>

            <hr class="no-margin-top"/>

            <div class="modal-body">
                <strong>Do you really want to delete this message?</strong>
                <br/>
                Once deleted, the message won't be recoverable.
            </div>

            <hr class="no-margin-bottom"/>

            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn"><i class="fa fa-close"></i> Close</button>
                <button type="button"
                        onclick="deleteForumMessage()"
                        data-url=""
                        data-messageid=""
                        id="deleteMessageButton"
                        class="btn btn-danger"><i class="fa fa-check"></i> Delete</button>
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}

{% block javascripts %}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and form != null %}
<script type="text/javascript" src="{{ asset('ckeditor/ckeditor.js') }}"></script>
<script type="text/javascript" src="{{ asset('ckeditor/adapters/jquery.js') }}"></script>
<script type="text/javascript">

    {% if app.request.get('seeLatestMessage') == true %}
    $.scrollTo('.latestThreadMessage', 500);
    {% endif %}
    setForumViewedCookie('{{ thread.slug }}');
    CKEDITOR.env.isCompatible = true;
    $('#rizzen_forumbundle_message_content').ckeditor({
        toolbar: 'Forum'
    });

    {% if categories != null %}
    $("select").selecter();
    var currentThread = '{{ thread.slug }}';
    {% endif %}

    {% if editForm != null %}
    $('#form_content').ckeditor({
        toolbar: 'Forum'
    });
    {% endif %}

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    for (var i in CKEDITOR.instances) {
        CKEDITOR.instances[i].on('change', function() {
            updateCharCount('#charCount', '#rizzen_forumbundle_message_content');
            {% if editForm != null %}
            updateCharCount('#charCountEdit', '#form_content');
            {% endif %}
        });
    }

    {% if thread.locked or thread.subCategory.locked or thread.subCategory.category.locked %}
    $('#submitButton').addClass('disabled');

    {% if permissions.canEditForumThread == false and permissions.canEditForumPost == false %}
    $('.btn-panel-title').addClass('disabled');
    {% endif %}

    CKEDITOR.on('instanceReady', function() {
        CKEDITOR.instances['rizzen_forumbundle_message_content'].setReadOnly(true);
    });

    {% endif %}
</script>
{% endif %}

<script>
    var permissions = {{ permissionsJSON | raw }};

    {% if thread.subCategory.category.accessRestricted %}
    var threadChannel = pusher.subscribe('{{ thread.privateSocketTopic }}');
    {% else %}
    var threadChannel = pusher.subscribe('{{ thread.publicSocketTopic }}');
    {% endif %}

    threadChannel.bind('message', function(data) {
        window[data.subtopic](data);
    });
</script>
{% endblock %}

{% block customCSS %}
    {% if guild.customCSSEnabled %}
        <link rel="stylesheet" href="{{ asset(guild.customCSSFile) }}"/>
    {% endif %}
{% endblock %}
